.auth-block {
  width: 420px;
  margin: 0 auto;
  padding: 0 48px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  text-align: center;

  a {
    color: $auth-link;
    text-decoration: underline;
    font-size: 14px;
  }
}

.auth-container {
  width: 100%;
  min-height: calc(100vh - 60px - 47px);
  padding: 85px 0 50px;
  background-color: $gray-bg;

  .auth-title {
    font-size: 21px;
    padding: 28px 0;
    color: $auth-title;
    line-height: 1;
    font-weight: 500;
  }

  .input-field {
    margin-bottom: 10px;

    input {
      display: block;
      width: 100%;
      height: 50px;
      outline: none;
      padding: 0 13px;
      border: 1px solid rgba($blue-grey, 0.5);
      border-radius: 6px;
      font-size: 15px;
    }

    span {
      display: block;
      margin-top: 5px;
      color: red;
      font-size: 14px;
      text-align: left;
      text-indent: 3px;
    }
  }

  .auth-btn {
    display: block;
    width: 100%;
    max-width: 272px;
    margin: 0 auto;
    padding: 14px 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    background-color: $main-blue;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    transition: all 0.2s;

    &:hover,
    &:focus,
    &.active {
      background-color: lighten($main-blue, 5%);
      box-shadow: none;
    }
  }

  @media(max-width: 550px) {
    padding: 40px 0 25px;

    .auth-block {
      width: 100%;
      padding: 0 15px;
      background-color: transparent;
      box-shadow: none;
    }
  }
}