.forgot-password {
  &.auth-block {
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
  }

  &-text {
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 14px;
  }

  .forgot-text {
    margin: 60px 0 5px !important;
    font-size: 16px;

    a {
      margin-left: 5px;
      text-decoration: underline;
      transition: all .2s ease;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .auth-btn {
    margin: 40px auto;
  }

  .signup-modal-btn {
    margin-top: 45px;
  }
}

.forgot-title {
  margin-bottom: 20px;
  font-family: 'Poppins', serif;
  font-size: 20px;
  font-weight: 500;
  color: $modal-header;
}