.login-block {

  .forgot-container {
    text-align: right;
  }

  .forgot-text {
    text-decoration: underline;
    transition: all .2s ease;

    &:hover {
      text-decoration: none;
    }
  }

  .auth-btn {
    margin: 50px auto;
  }

  .sign-up-text {
    margin: 20px auto;
    font-size: 16px;
    text-align: center;

    a {
      margin-left: 8px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}