.resend-unlock {
  padding-bottom: 50px;

  .auth-btn {
    margin-top: 50px;
  }
}

.resend-confirmation {
  padding-bottom: 10px;

  .auth-btn {
    margin: 50px auto 40px;
    width: 100%;
    max-width: 300px;
  }

  a {
    display: block;
    margin-bottom: 5px;
  }
}