@import '../utilities/variables';

body {
  height: 100vh;
  overflow-x: hidden;
  .full-height {
    min-height: calc(100vh - 98px);
  }
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  a, button {
    &:focus {
      outline: none;
    }
  }

  > div[id^=ServerRendering ] {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

em {
  font-style: italic;
}

strong {
  font-weight: 800;
}

button,
a {
  cursor: pointer;
}

.block-ui-overlay {
  filter: opacity(0.7);
  opacity: 0.7;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1062px;
  }
}

@media (min-width: 991px) {
  .tabletScreen {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobileScreen {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktopScreen {
    display: none;
  }
}