@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Poppins/Poppins-Regular.ttf'),
  url('fonts/Poppins/Poppins-Regular.woff') format('woff');

}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
  url('fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Medium.woff') format('woff'),
  url('fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'LeanO FY';
  src: url('fonts/LeanOFY/LeanOFY-Regular.woff') format('woff'),
  url('fonts/LeanOFY/LeanOFY-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeanO FY';
  src: url('fonts/LeanOFY/LeanOFY-Bold.woff') format('woff'),
  url('fonts/LeanOFY/LeanOFY-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-bold';
  src: url('fonts/helvetica-bold.woff2') format('woff2'),
  url('fonts/helvetica-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}