html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit {
    size: 100%;
  };
  vertical-align: baseline;
}

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit {
    size: 100%;
  };
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: '';
    content: none;
  }
}

table {
  border: {
    collapse: collapse;
    spacing: 0;
  };
}

a,
input,
textarea,
select,
button {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

// fix for safari -----

input[type='search'] {
  -webkit-appearance: textfield;
}
