%p
  %strong
    Category:
  = @company.category.pretty_en_name
%p
  %strong
    Root Category:
  = @company.category.root.pretty_en_name

%br
%p
  %strong
    Country:
  = @company.country.en_name

%br
%p
  %strong
    Name:
  = @company.name
%p
  %strong
    Url:
  = @company.url
%p
  %strong
    Type:
  = @company.company_type

%br

= link_to 'Confirm', providers_approve_url(token: @company.id_token)
