.partner-header {
  height: 270px;
  background-image: url($rails_images_path + 'become-partner-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.partner-title {
  margin-top: 130px;
  font-family: 'Poppins', serif;
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  line-height: 1.4;

  .heart {
    width: 32px;
    margin-right: 5px;
  }

  @media(max-width: 530px) {
    margin-top: 80px;
    text-align: center;
  }
}
