.partner-content {
  background-color: #fafafa;
  min-height: calc(100vh - 60px - 270px - 47px); // header, subheader and footer height
}

.partner-text {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.3;
  color: $dark-blue-grey;
}

.partner-form-container {
  position: relative;
  top: -184px;
  width: 510px;
  margin-left: auto;
  padding: 30px 37px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: -100px;

  .partner-form {
    &-title {
      font-size: 28px;
      font-family: 'Poppins', serif;
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: 19px;
    }
    &-text {
      width: 75%;
      font-size: 14px;
      color: $dark-blue-grey;
      margin-bottom: 25px;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &.textarea-input {
        margin-top: 12px;
      }

      input {
        width: 100%;
        outline: none;
        border: 1px solid $light-blue-gray;
        border-radius: 4px;
        padding: 15px;
        font-size: 14px;

        &::placeholder {
          color: $placeholder;
        }

        &:-ms-input-placeholder {
          color: $placeholder;
        }

        &::-ms-input-placeholder {
          color: $placeholder;
        }
      }

      label {
        font-size: 12px;
        color: $blue-grey;
        margin-bottom: 0;
      }

      span {
        display: block;
        margin-top: 5px;
        color: red;
        font-size: 14px;
      }

      textarea {
        width: 100%;
        height: 95px;
        margin-top: 5px;
        padding: 10px;
        font-size: 14px;
        resize: none;
        outline: none;
        border: 1px solid $light-blue-gray;
        border-radius: 4px;
      }
    }

    .send-button {
      display: block;
      margin-left: auto;
      width: 220px;
      padding: 12px 0 11px;
      line-height: 1;
      font-size: 17px;
      color: #fff;
      border-radius: 21px;
      background-color: $main-red;

      &:hover {
        background-color: lighten($main-red, 5%);
      }
    }
  }
}
@media(max-width: 992px) {
  .partner-form-container {
    top: unset;
    margin: 45px auto 80px;
  }
}

@media(max-width: 530px) {
  .partner-form-container {
    width: 100%;
    padding: 30px 15px;

    .partner-form {

      &-text {
        width: 100%;
      }
      &-title {
        text-align: center;
      }
      .send-button {
        margin: 0 auto;
      }
      .input-group {
        input {
          width: 100%;
        }
      }
    }
  }
}
