.landing-bottom {
  padding-top: 5px;
  padding-bottom: 35px;
  background-color: #ffffff;

  &-text {
    width: 312px;
    margin: 20px auto 0;
    color: $charcoal-grey;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;

    @media(max-width: 400px) {
      width: 100%;
    }

    span {
      color: $main-blue;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: lighten($main-blue, 5%);
      }
    }
  }
}

.sign-up-btn {
  display: block;
  width: 230px;
  margin: 10px auto 20px;
  padding: 12.5px 0;
  border: 0;
  border-radius: 21px;
  background-color: $main-blue;
  color: #fff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover, &:focus, &.active {
    background-color: lighten($main-blue, 5%)
  }
}

