.main-block {
  padding: 100px 0 11px;

  .main-title {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
    letter-spacing: 0.3px;

    @media(max-width: 1200px) {
      font-size: 30px;
      letter-spacing: 0;
    }
  }

  .main-text {
    font-size: 19px;
    margin-bottom: 0;
  }

  .main-images {
    position: relative;
    bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @media(max-width: 992px) {
    .main-images {
      margin-top: 50px;
    }
  }

  @media(max-width: 768px) {
    .main-images {
      margin-top: 50px;

      img:first-child {
        width: 9%;
      }

      img:last-child {
        width: 44%;
      }

      img:nth-child(2) {
        width: 30%;
      }
    }

    .main-text {
      text-align: center;
      margin-bottom: 10px;
    }

    &::before,
    &::after {
      background-size: cover;
    }
  }
}