.main-social {
  width: 330px;
  margin: 0 auto;
  text-align: center;

  .social-title {
    font-size: 22px;
    font-family: 'Poppins', serif;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 40px;
  }
}

.choose-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  .social-link {
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 12px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
    @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.15));

    & + .social-link {
      margin-left: 12px;
    }

    &.email {
      background-color: #fff;
      color: $dark-blue-grey;
      text-transform: capitalize;

      &:hover {
        background-color: darken(#fff, 5%);
      }
    }

    &.facebook {
      background-color: $french-blue;

      &:hover {
        background-color: darken($french-blue, 5%);
      }
    }

    &.twitter {
      background-color: #18a3ec;

      &:hover {
        background-color: darken(#18a3ec, 5%);
      }
    }

    &.linkedin {
      background-color: #306eb5;

      img {
        margin-bottom: 5px;
      }

      &:hover {
        background-color: darken(#306eb5, 5%);
      }
    }

    img {
      margin-right: 10px;
    }
  }
}

@media(max-width: 992px) {
  .choose-social {
    width: 250px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

    .social-link {
      width: 96px;
      flex-grow: 0;
      margin-bottom: 15px;

      &:nth-child(3) {
        margin-left: 0;
      }
    }
  }
}

@media(max-width: 768px) {
  .choose-social {
    margin-top: 20px;
  }
}

@media(max-width: 350px) {
  .main-social {
    width: 100%;
  }
  .choose-social {
    width: 75%;
  }
}

@media(max-width: 300px) {
  .choose-social {
    .social-link + .social-link {
      margin-left: 0;
    }
  }
}