.signup-modal {
  width: 472px;

  &.categories-modal {
    width: 95%;
    max-width: 1250px;
  }

  .modal-body, .modal-footer {
    display: block;
    padding: 0 60px;
    border-top: 0;
    background-color: $sign-up-bg;
  }

  .modal-body {
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .categories-modal-body {
    padding: 0 20px;

    @media(max-width: 768px) {
      padding: 0;
    }
  }

  .signup-title {
    margin: 20px 0;
    color: $main-blue;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  .input-field {
    margin-bottom: 10px;

    input {
      display: block;
      width: 100%;
      height: 40px;
      outline: none;
      padding: 0 13px;
      border: 1px solid $light-blue-gray;
      border-radius: 3px;
      font-size: 15px;
      box-shadow: 0 2px 3px 0 rgba(29, 32, 49, 0.05);

      &::-webkit-input-placeholder {
        line-height: 25px;
      }

      &::-moz-placeholder {
        line-height: 25px;
      }

      &:-ms-input-placeholder {
        line-height: 25px;
      }

      &:-moz-placeholder {
        line-height: 25px;
      }
    }

    span {
      display: block;
      margin-top: 5px;
      color: red;
      font-size: 14px;
    }
  }

  .social-login {
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
    color: $social-login-text;
    font-size: 17px;
    line-height: 2.24;
  }

  .tabs {
    .nav-item {
      width: 50%;
      text-align: center;
    }
    .nav-link {

    }

    @media (max-width: 767px) {
      .nav-link {
        border-radius: 0;
      }
    }
  }

  a.forgot-text {
    margin: 5px 0;
    color: $main-text-color;
    font-family: 'Poppins', serif;
    font-size: 14px;
    text-decoration: underline;
  }

  @media(max-width: 767px) {
    width: 100vw;
    height: 100vh;
    margin: 0;

    &.categories-modal {
      width: 100vw;

      .modal-header {
        min-height: 75px;
      }
    }

    .modal-content {
      height: 100%;
      border: none;
      border-radius: 0;
      background-color: $sign-up-bg;

      .login-block .sign-up-text {
        margin-top: 25px;
        font-size: 14px;
        color: $light-gray-6;

        a {
          color: $main-text-color;
        }
      }
    }

    .modal-header,
    .modal-footer {
      border-radius: 0;
    }

    .modal-header {
      height: auto;
      min-height: 50px;

      .modal-title {
        width: 65%;
        text-align: center;
      }
    }

    .modal-body,
    .modal-footer {
      padding: 25px 20px 15px;
    }

    .modal-body {
      padding-bottom: 0;
      border-top: 1px solid $tabs-border;
    }

    .sign-up-text {
      margin-bottom: 0;
    }

    .signup-modal-btn {
      margin-top: 25px;
    }

    .social-login {
      margin: 0 0 18px;
    }
  }
}

.signup-modal-btn {
  display: block;
  width: 272px;
  max-width: 100%;
  margin: 30px auto 5px;
  padding: 15px 0;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: $sign-up-button-bg;
  color: #fff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 2px 3px 0 rgba(29, 32, 49, 0.05);

  &:hover, &:focus, &.active {
    background-color: lighten($sign-up-button-bg, 5%)
  }
}

.pac-container {
  z-index: 1100;
}