// Typography needs to be refactored here
.lets-find-the-best {
  text-align: center;
  margin-bottom: -60px;
  padding: 36px 15px 0;
  line-height: 25px;
}

.world-overview-block {
  padding: 0 0 1rem;
  color: $main-text-color;
  text-align: center;
  letter-spacing: 0.2px;

  &.top-world-overview {
    width: 640px;
    margin: 65px auto 18px;
    background-image: url($rails_images_path + 'global-map.png');
    background-size: 268px;
    background-position: center top;
    background-repeat: no-repeat;

    @media(max-width: 992px) {
      width: 100%;
      background-image: none;
    }
  }

  h3,
  h4 {
    font-family: "Gilroy";
  }

  h3 {
    width: 138%;
    margin-left: -19%;
    margin-bottom: 32px;
    padding-top: 9px;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.1px;

    @media (max-width: 992px) {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.7;

    @media(max-width: 768px) {
      line-height: 25px;
      br {
        display: none;
      }
    }
  }

  .signed-of {
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.61px;
  }

  .signed-number {
    margin: 32px 0 40px;
    color: $main-blue;
    font-family: 'Poppins', serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 1.61px;
  }

  .linear-stroke {
    width: 246px;
    margin: 0 auto 20px;

    .stroke-circle {
      position: relative;
      top: -7px;
      left: 4px;
      width: 21px;
      height: 21px;
      background-image: url($rails_images_path + 'svg/range-point.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .-scale {
      height: 8px;
      border-radius: 100px;
      background: $base-border;

      .-fill {
        width: 0;
        height: 7px;
        border-radius: 2rem;
        background: #7eaff8;
      }
    }
  }

  .rank-text {
    margin-top: 32px;
  }

  .category-bottom {
    font-weight: bold;
  }
}