.benefits {
  background-color: $home-bg;

  &-title {
    position: relative;
    padding-top: 60px;
    color: #1e2431;
    font-size: 22px;
    font-weight: 500;
    text-align: center;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 3px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 55px 0 75px;
  }

  .grid-item {
    padding: 20px;
    border: 1px solid $light-blue-gray;
    background-color: #fff;
    border-radius: 4px;
    color: rgba(30, 36, 49, 0.9);
    box-shadow: 0 0 12px rgba(71, 71, 71, 0.1);
    transition: all 0.2s;

    h5 {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      font-weight: bold;

      svg {
        margin-right: 11px;
        width: 14px;
      }
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
.signup-section {
  background: $home-bg;
  padding-bottom: 75px;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 4px;
  padding: 17px 30px 17px 20px;
  background: $home-bg;
  border: 1px solid #c7c7cc;

  &-text {
    width: 80%;
    color: rgba(30, 36, 49, 0.9);

    p {
      line-height: 22px;
      font-size: 14px;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
    color: rgba(30, 36, 49, 0.9);
  }

  a.sign-up-btn {
    min-width: 180px;
    align-self: center;
    height: 42px;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 767px) {
  .benefits {
    &-grid {
      grid-template-columns: none;
      grid-gap: 15px;
      padding: 35px 0 30px;
    }

    &-title {
      padding-top: 40px;
    }

    .grid-item {
      padding: 20px 10px;
    }
  }

  .signup-section {
    padding-bottom: 35px;
  }

  .sign-up {
    flex-direction: column;
    border: none;
    padding: 0;

    &-text { 
      width: 100%;
      margin-bottom: 15px;
      padding: 0 10px;
      text-align: center;
      
      p {
        display: none;
      }
    }

    .sign-up-btn {
      width: 100%;
    }
  }
}
