
@mixin select-scroll {
  .Select__control {
    border-radius: 4px 0 0 4px;
    font-size: 17px;
  }

  .Select__menu {
    font-size: 16px;

    .Select__menu-list {
      min-height: 165px;

      &::-webkit-scrollbar {
        width: .8em;
        -webkit-appearance: scrollbartrack-vertical;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $light-gray-2;
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.webkit-scrollbar {
  @include select-scroll;
}

.home {
  position: relative;
  z-index: 5;

  &-title {
    width: 816px;
    margin: 60px auto 35px;
    color: #fff;
    font-family: 'helvetica-bold';
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
  }

  &-description {
    margin-bottom: 30px;

    p {
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.1px;
    }
  }

  .search-block {
    display: flex;
    align-items: stretch;
    height: 60px;
    max-width: 710px;
    margin: 0 auto 48px;
    border-radius: 4px;

    @include category-select('auto');

    .reminder-select {
      flex-grow: 2;

      @include select-scroll;

      .Select__control {
        min-height: 60px;
      }
    }

    button {
      width: 189px;
      flex-shrink: 0;
      border: 0;
      outline: 0;
      border-radius: 0 4px 4px 0;
      color: #fff;
      transition: all 0.2s;
    }
  }

  .home-members {
    margin-bottom: 22px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: normal;

    strong {
      font-weight: 500;
    }
  }

  .home-vote-btn {
    display: flex;
    align-items: center;
    min-width: 240px;
    justify-content: center;
    margin: 0 auto;
    padding: 2px 45px 2px 10px;
    height: 46px;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    transition: all 0.2s;

    &:hover {
      background-color: #fff;
      color: #1e2431;
    }

    svg {
      fill: #fff;
      width: 25px;
      margin: 0 16px 0 15px;
      transition: all 0.2s;
    }
  }
}

@media (max-width: 767px) {
  .home {
    &-title {
      width: 100%;
      margin: 45px auto 20px;
      font-size: 26px;
      line-height: 1.3;
    }

    .search-block {
      flex-direction: column;
      height: auto;
      padding: 15px;
      background-color: rgba(#fff, 0.1);

      .reminder-select .Select__control,
      button {
        width: 100%;
        min-height: 55px;
        border-radius: 4px;
      }

      .reminder-select {
        margin-bottom: 10px;

        .Select__control {
          font-size: 18px;
        }
      }

      .reminder-select {
        .Select__menu {
          .Select__menu-list {
            min-height: 170px;

            .Select__option {
              font-size: 18px;
            }
          }
        }
      }

      button {
        font-size: 17px;
      }
    }
  }
}