$categories-main:
                ('insurance', $insurance, $insurance-secondary, $insurance-brighter, $insurance-gradient),
                ('broadband', $broadband, $broadband-secondary, $broadband-brighter, $broadband-gradient),
                ('energy', $energy, $energy-secondary, $energy-brighter, $energy-gradient),
                ('subscriptions', $subscriptions, $subscription-secondary, $subscription-brighter, $subscription-gradient),
                ('business', $business, $business-secondary, $business-brighter, $business-gradient);

@each $category in $categories-main {

  .#{nth($category, 1)}-wrapper {
    .category-background {
      position: relative;
      padding-bottom: 60px;
      background-image: url($rails_images_path + 'home-image.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .container {
        position: relative;
        z-index: 4;
      }
    }

    .top-bar-link.active::after {
      background-image: nth($category, 5);
    }

    .home .search-block button {
      background-image: nth($category, 5);

      &:hover {
        opacity: .9;
      }
    }

    .home .home-vote-btn {
      border: 1px solid nth($category, 2);

      &:hover {
        svg {
          fill: nth($category, 2);
        }
      }
    }

    .sign-up a.sign-up-btn {
      background-image: nth($category, 5);

      &:hover {
        opacity: .9;
      }
    }

    .benefits .grid-item:hover {
      border-color: rgba(nth($category, 2), 0.45);
    }

    .benefits-title::after {
      background-color: nth($category, 2);
    }

    .benefits .grid-item h5 svg {
      fill: nth($category, 2);
    }

    //.search-block {
    //  .reminder-select {
    //    .Select__menu {
    //      .Select__menu-list::-webkit-scrollbar-thumb {
    //        background-color: nth($category, 2) !important;
    //      }
    //    }
    //  }
    //}
  }

  .top-bar {
    &-link.#{nth($category, 1)} {

      &.active,
      &:hover,
      &:focus {
        .landing-category-icon {
          //svg {
          //  fill: nth($category, 4);
          //
          //  &.broadbandIcon > g > ellipse,
          //  > g > path,
          //  g > g + path,
          //  circle {
          //    fill: nth($category, 4);
          //  }
          //
          //  &.broadbandIcon g > path,
          //  &.broadbandIcon > g > g > ellipse,
          //  g > g > path {
          //    stroke: nth($category, 4);
          //  }
          //}
        }
      }
    }
  }

  .signup-modal.#{nth($category, 1)} {
    .signup-modal-btn {
      background-image: nth($category, 5);
    }
  }
}