.top-bar.home-nav {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  box-shadow: none;
  z-index: 5;

  &.landing-nav {
    .top-bar-link {
      &.active,
      &:hover,
      &:focus {
        text-decoration: none;
        color: #ffffff;
        background-color: rgba($header-bg, 0.25);
      }
    }
  }

  .top-bar-link {
    color: rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.15);

    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.15);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      left: -1px;
      width: calc(100% + 2px);
      height: 3px;
      z-index: 3;
    }

    &.active,
    &:hover {
      .landing-category-icon {
        svg {
          opacity: 1;
        }
      }

      &.insurance {
        svg {
          .coloredPath {
            fill: $insurance-light;
          }
        }
      }

      &.broadband {
        svg {
          .coloredPath {
            fill: $broadband-light;
          }
        }
      }

      &.energy {
        svg {
          .coloredPath {
            fill: $energy-light;
          }
        }
      }

      &.subscriptions {
        svg {
          .coloredPath {
            fill: $subscription-light;
          }
        }
      }

      &.business {
        svg {
          .coloredPath {
            fill: $business-light;
          }
        }
      }
    }

    &.insurance:hover::after {
      background-color: $insurance;
    }

    &.broadband:hover::after {
      background-color: $broadband;
    }

    &.energy:hover::after {
      background-color: $energy;
    }

    &.subscriptions:hover::after {
      background-color: $subscriptions;
    }

    &.business:hover::after {
      background-color: $business;
    }

    .landing-category-icon {
      margin-bottom: 12px;

      svg {
        width: 42px;
        height: 39px;
        fill: $nav-icon-color;
        opacity: .5;
      }
    }
  }
}

@media (max-width: 767px) {
  .top-bar {
    .slick-list {
      width: calc(100% - 180px);
      margin: 0 auto;
    }

    .slick-track,
    .slick-slide,
    .top-bar-link,
    .slick-slide > div,
    .slick-slide > div > div {
      height: 100%;
    }

    .slick-next,
    .slick-prev {
      top: 50%;
      width: 90px;
      height: 100%;
      z-index: 5;

      &::before {
        content: '';
        display: block;
        height: 100%;
        background-size: 9px;
        background-image: url($rails_images_path + 'svg/slider-left-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
      }
    }

    .slick-next {
      right: 0;

      &::before {
        transform: rotate(180deg);
      }
    }

    .slick-prev {
      left: 0;
    }

    .top-bar-link {
      width: 100%;
      height: 94px;
      margin: 0 auto;
    }
  }
}