$font-stack: 'Poppins', serif, HelveticaNeueCyr, Gilroy, -apple-system, BlinkMacSystemFont, sans-serif;
$rails_images_path: 'images/';

$main-text-color: #323949;
$gray-bg: #fcfcfc;
$secondary-bg: #fdfdfd;

$light-blue-gray: #d1d1d6;
$light-blue-gray-2: #ccdbec;
$main-blue: #5e97eb;
$secondary-blue: #4983dd;
$base-border: #ccdbec;
$dark-blue-grey: #1a2733;
$blue: #2f6db7;
$dropdown-bg: #f9f9f9;
$dropdown-active: #b82f2f;
$charcoal-grey: #3c4751;
$blue-grey: #7f8fa4;
$button-hov: #0ac374;
$jungle-green: #07834e;
$decision-bg: #fdfdfd;
$checkbox-bg: #fafafa;
$checkbox-border-blue: #4693cf;
$checked: rgba(70, 147, 207, 0.05);
$radio-bg: #fafafa;
$radio-text: #6d7387;
$radio-active: #fcf4f5;
$custom-radio-border: #afb6c6;
$modal-header: #1f2532;
$french-blue: #4968a6;
$auth-title: #324258;
$auth-link: #0e1831;
$invite-modal-color: #0e1831;
$social-login-text: #6e7f95;
$reminder-bg: #f5f5f5;
$reminder-top-bg: #f5f5f5;
$reminder-slider-btn: #f4f4f5;
$reminder-slider-btn-active: #faf0f1;
$reminder-message-bg: rgba(198, 35, 50, 0.06);
$reminder-body-bg: #f5f5f5;
$main-red: #a01d28;
$delete-red: #ba4545;
$placeholder: #6E7F95;
$input-label: #606472;
$table-hover: #fdfdfd;
$dropdown-hover: #fbfbfb;
$category-btn-active: #0b7649;
$category-btn-border: #8bd5b3;
$sidebar-btn: #c7c7cc;
$pagination: #606472;
$pagination-hover: #e8c7ca;
$pagination-arrow: #7f8fa4;
$show-more-hover: #f9e9ea;
$editor-active: #f9e9ea;
$select-hover: #f3e3e5;
$category-select-hover: #f5eeef;
$disabled-radio-border: #c7c7cc;
$steps-bg: #f2f2f4;
$header-bg: #1f2532;
$header-menu-bg: #1a1f2a;
$footer-bg: #1f2532;
$footer-color: #e6e8f1;
$top-bar-bg: #f9f9f9;
$dark-gray: #44516c;
$light-gray: #8c8c8c;
$light-gray-2: #afb6c6;
$light-gray-3: #c6d7eb;
$light-gray-3: #c6d7eb;
$light-gray-4: #778aa0;
$light-gray-5: #ededee;
$light-gray-6: #6e7f95;
$light-gray-7: #97abc1;
$light-gray-8: #f9f9f9;
$light-gray-9: #f2f5fa;
$light-gray-10: #f9fbfd;
$light-gray-11: #919eb0;
$sidebar-text: #757575;
$sidebar-border: #ccdbec;
$month-text: #383737;
$link-color: #335299;
$modal-label: #6e7f95;
$nav-icon-color: #6d7387;
$show-more-less-color: #4a4f59;
$votes-color: #1f2532;
$votes-border-color: #c7c7cc;
$empty-btn-color: #697c91;
$reminder-message-bg: #fcfdfe;
$reminder-message-color: #44516c;
$table-tr-bg: rgba(9, 169, 101, 0.05);
$category-arrow-color: #97ABC1;
$recommendation-color: $reminder-message-color;
$recommendation-text-color: #44516c;
$see-more-bg: #ededee;
$cancel-btn-bg: #f4f4f5;
$home-bg: #F2F2F3;
$filter-bg: #F9FBFD;

// Statuses
$green: #11998e;
$yellow: #fac326;
$red: #e24329;

// update tabs
$tabs-border: #e5e5ea;
$tab-link-color: #6e7f95;
$active-tab-link-color: $main-text-color;
$tab-link-bg-color: rgba(31, 37, 50, 0.08);
$active-tab-bg-link-color: #f9f9f9;
$sign-up-bg: #f9f9f9;
$sign-up-button-bg: #981a25;
$forgot-password-color: #1f2532;
$category-title-color: rgba(30, 36, 49, 0.9);

// Social links
$email-color: #d04242;
$facebook-color: $french-blue;
$twitter-color: #18a3ec;
$linkedIn-color: #306eb5;
$whatsApp-color: #4caf50;


// Rating colors
$rating-bad: #dc4e41;
$rating-normal: #4968a6;
$rating-good: #09a965;

// Rating stars
$default-star: #6E7F95;
$active-star: #EFCE4A;

// Category colors
$insurance: #11998e;
$insurance-text: #0b7649;
$insurance-secondary: #7ecead;
$insurance-dark: #06844f;
$insurance-brighter: #09A965;
$insurance-pale: #dff8ed;
$insurance-gradient: linear-gradient(254deg, #29ce83, #11998e);
$insurance-light: #6BC49B;

$broadband: #654ea3;
$broadband-text: #624c9e;
$broadband-secondary: #aa9fc9;
$broadband-dark: #4d3b7b;
$broadband-brighter: #8B6EDB;
$broadband-pale: #f5eef5;
$broadband-gradient: linear-gradient(254deg, #ba8cbb, #654ea3);
$broadband-light: #927AD5;

$energy: #E47E4C;
$energy-text: #c96a42;
$energy-secondary: #e9b7a2;
$energy-dark: #ae5f3e;
$energy-brighter: #F28F64;
$energy-pale: #fef2e4;
$energy-gradient: linear-gradient(286deg, #EEA751, #E47E4C);
$energy-light: #EEA751;


$subscriptions: #2193b0;
$subscriptions-text: #2fa3b8;
$subscription-secondary: #91cbd6;
$subscription-dark: #247f8f;
$subscription-brighter: #4BC2D7;
$subscription-pale: #e9f9fd;
$subscription-gradient: linear-gradient(254deg, #6dd5ed, #2193b0);
$subscription-light: #3AA8C4;

$business: #3e94d1;
$business-text: #335299;
$business-secondary: #93a2c7;
$business-dark: #284078;
$business-brighter: #5F8AEF;
$business-pale: #e0e9f4;
$business-gradient: linear-gradient(74deg, #2f6db7, #3e94d1);
$business-light: #578CCB;

$government: #456f93;;
$government-text: #2e4961;
$government-secondary: #cddbe7;
$government-dark: #172531;;
$government-brighter: #6993b8;
$government-pale: #f0f4f8;;
$government-gradient: linear-gradient(74deg, #294257, #6993d4);