footer {
  margin-top: auto;
  color: $footer-color;
  background-color: $footer-bg;
  padding: 16.5px 0;
  font-size: 12px;
  font-family: 'Poppins', serif;

  a {
    color: $main-blue;

    &:hover {
      color: $main-blue;
    }
  }

  @media(max-width: 500px) {
    padding: 10px 15px;
  }
}
