header {
  position: relative;
  min-height: 3.75rem;
  background-color: $header-bg;

  .navbar-dark {
    padding: 0;
    min-height: 3.75rem;

    .navbar-custom-toggler-icon {
      color: #fff;
    }

    .collapse.in {
      display: block;
    }

    .navbar-brand {
      display: flex;
      margin-right: 0;
      padding-left: 0;
      padding-top: 0;
      color: #fff;
      font-size: 17px;
      font-family: "LeanO FY";
      font-weight: bold;

      img,
      svg {
        width: 21px;
        margin-right: 10px;
        vertical-align: top;
      }

      span {
        align-self: flex-end;
        margin-bottom: 1px;
      }
    }

    .navbar-toggle {
      display: block;
      border-color: transparent !important;
      background: transparent !important;
      margin-right: -0.75rem;
      outline: none;

      @media(min-width: 992px) {
        display: none
      }
    }

    .navbar-collapse {
      justify-content: flex-end;
    }

    .left-links, .right-links {
      display: flex;
    }

    .nav.navbar-nav {
      width: 100%;
      justify-content: space-between;
    }

    .navbar-nav .nav-link {
      display: flex;
      padding: 8px 15px;
      align-items: center;
      justify-content: center;
      position: relative;
      color: rgba(255, 255, 255, 0.7);
      font-size: 0.875rem;
      transition: all 0.2s;

      svg {
        margin-right: 10px;
        transition: all 0.2s;
      }

      &.global-link {
        svg {
          fill: rgba(255, 255, 255, 0.7);
        }

        &:hover,
        &:focus,
        &.active {
          color: rgba(255, 255, 255, 0.9);

          svg {
            fill: rgba(255, 255, 255, 0.9);
          }
        }
      }

      &.partner-link {
        svg {
          stroke-width: 0.8;
          stroke: rgba(255, 255, 255, 0.7);
        }

        &:hover,
        &:focus,
        &.active {
          color: rgba(255, 255, 255, 0.9);

          svg {
            stroke: rgba(255, 255, 255, 0.9);
          }
        }
      }

      .user-avatar {
        img {
          opacity: 1;
        }
      }

      @media(max-width: 992px) {
        justify-content: flex-start;
      }
    }

    @media(min-width: 992px) {
      .nav-item {
        margin-left: 0.4375rem;
        padding-left: 0.4375rem;

        &.auth-btn {
          padding-left: 0;
          margin-left: 15px;
        }
      }

      .nav-item.auth-btn .nav-link {
        width: 100px;
        height: 32px;
        padding: 8px 10px 6px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #ffffff;
        font-size: 13px;
        text-align: center;
        letter-spacing: 0.3px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
        transition: all .2s;
      }
    }
  }

  .navbar-toggler {
    padding: 0;
    border: none;
  }

  .login-user {
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
      box-shadow: none;
    }
    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
      background-color: transparent;
      border-color: transparent;
      border-left: 1px solid rgba(255, 255, 255, 0.08);
    }

    .btn-secondary {
      padding-top: 0;
      background-color: transparent;
      border-color: transparent;

      &:hover, &:focus, &.active, &:active {
        background-color: transparent;
        border-color: transparent;
      }
    }

    .nav-link.dropdown-toggle {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 14px;
      height: 60px;
      margin-right: 20px;
      border-left: 1px solid rgba(255, 255, 255, 0.08);

      @media(max-width: 992px) {
        height: 35px;
        padding: 0;
        border: 0;
      }
    }

    .dropdown {
      display: block;
    }

    @media (max-width: 991px) {
      button.nav-link.dropdown-toggle::after {
        display: none;
      }

      .dropdown-menu {
        display: block;
        background: transparent;
        border: 0;

        .dropdown-item {
          padding: 8px 0;
        }

        li {
          color: #474747;
          padding-left: 0;

          &:hover, &:focus {
            background: transparent;
          }
        }
      }
    }

    .points {
      color: $main-red;
    }

    button.dropdown-toggle {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 5px 25px 0 0;
      min-width: 8rem;

      &:focus {
        box-shadow: none;
      }

      .user-avatar {
        width: 30px;
        min-width: 30px;
        height: 30px;
        margin-right: 13px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-name {
        max-width: 150px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        text-transform: none;
      }

      &::after {
        content: url($rails_images_path + "svg/arrow-down-white.svg");
        border: 0;
        position: absolute;
        top: 17px;
        right: -13px;
      }

      ul.sub-menu {
        width: 100%;
        list-style: none;
        margin-top: 15px;
        padding-left: 0;

        .top-arrow {
          display: none;
        }

        li.nav-item {
          color: #fff;

          & > a {
            padding: 0;
            display: block;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }


  @media (min-width: 992px) {
    .login-user {
      .show {
        button.nav-link.dropdown-toggle::after {
          transform: rotate(180deg);
          right: -16px;
          top: 18px;
        }

        .dropdown-menu {
          left: -55%;
          min-width: 11.25rem;
          margin-top: 3px;
          padding: 0;
          border: 1px solid $base-border;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          font-size: 14px;

          .dropdown-item {
            line-height: 1;
            padding: 12px 0 12px 35px;
            cursor: pointer;

            &:hover {
              background-color: $dropdown-bg;
              color: $main-red;

              a {
                text-decoration: none;
                color: $main-red;
              }
            }

            &:last-child:hover a {
              color: $dropdown-active;
            }

            .logout-link {
              span {
                display: none;
              }
            }
          }

          .top-arrow {
            position: absolute;
            display: block;
            border-right: 12px solid transparent;
            border-bottom: 10px solid #fff;
            border-left: 12px solid transparent;
            height: 20px;
            width: 20px;
            left: 80%;
            margin-left: -10px;
            margin-top: -19px;
            top: 0;
          }
        }
      }
    }

    .logout-link {
      span {
        display: none;
      }
    }
  }

  .logout {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px !important;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-right: 1px solid rgba(255, 255, 255, 0.08);

    &-link {
      display: block;
      width: 25px;
      height: 20px;
      cursor: pointer;

      svg {
        transition: all 0.2s;
        fill: rgba(255,255,255,0.4);
      }

      &:hover {
        svg {
          fill: rgba(255,255,255,0.8);
        }
      }
    }


    @media(max-width: 992px) {
      align-items: flex-start;
      padding: 0 !important;
      border: 0;
    }
  }
}


.open > .dropdown-menu {
  display: block;
}

@media (max-width: 991px) {
  header {
    .container {
      margin: 0;
      padding:  0 20px;
      max-width: 100%;
    }

    .navbar {
      position: static;

      .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: 1px solid rgba(#fff, 0.1);
        background-color: $header-menu-bg;

        .left-links,
        .right-links {
          display: flex;
          flex-direction: column;
        }

        .nav-link,
        .logout-link {
          border-bottom: 1px solid rgba(#fff, 0.05);
          padding: 20px;
          color: #fff;

          &.partner-link {
            svg {
              stroke: #fff !important;
            }
          }

          svg,
          img {
            min-width: 26px;
            margin-right: 15px;
            fill: #fff !important;
          }
        }

        .right-links {
          .nav-link:last-child {
            border-bottom: none;
          }
        }

        .logout-link {
          height: auto;
          width: 100%;
          border-top: 1px solid rgba(#fff, 0.05);
          font-size: 14px;

          svg {
            width: 22px;
            min-width: 22px;
            margin-right: 20px;
          }
        }

        .dropdown {
          &.show {
            .dropdown-toggle:before {
              transform: rotate(180deg);
            }
          }

          .dropdown-item {
            padding: 10px 20px 10px 60px;
            color: #fff;

            &:first-child {
              border-bottom: 1px solid rgba(#fff, 0.05);
            }

            &:focus,
            &:hover {
              background-color: transparent;
            }

            .points {
              margin-left: 10px;
            }
          }

          .dropdown-logout {
            display: none;
          }
        }

        .dropdown-menu {
          position: static !important;
          transform: translate(0, 0) !important;

          &:not(.show) {
            display: none;
          }
        }

        .dropdown-toggle {
          position: relative;
          width: 100%;
          height: auto;
          border: none !important;

          &:before {
            content: '';
            position: absolute;
            top: 32px;
            right: 21px;
            width: 12px;
            height: 11px;
            background-image: url($rails_images_path + 'svg/dropdown-arrow-gray.svg');
            background-repeat: no-repeat;
          }

          .user-name {
            color: #fff;
          }
        }
      }

      .navbar-brand {
        padding-bottom: 0;
      }
    }

    .navbar-toggler {
      height: 27px;
    }
  }
}

@media (min-width: 992px) {
  header .navbar-dark .navbar-nav {
    .nav-link {
      &.hide-desktop {
        display: none !important;
      }
    }
  }
}

@media (max-width: 991px) {
  header .container {
    background-color: $header-bg;

    &.active {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1010;

      .navbar {
        & > .navbar-collapse {
          height: calc(100vh - 60px);
          overflow: auto;
        }
      }
    }

    .categories-selector {
      flex-direction: column;
      align-items: flex-start !important;

      .open-categories {
        margin-bottom: 15px;
      }

      .navbar-collapse {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 5px;
      }
    }
  }
}