.redux-toastr {
  .top-center {
    width: auto;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }

  .toastr {
    width: fit-content;
    height: auto;
    min-height: unset;
    margin: 0;
    padding: 18px 40px 18px 45px;
    border-radius: 6px;
    font-size: 14px;
    opacity: 1 !important;
    overflow: hidden;
    pointer-events: auto;

    @media (max-width: 767px) {
      width: calc(100vw - 20px);
      line-height: 20px;
      white-space: normal;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,.15) !important;
      opacity: 1;
      cursor: pointer;
    }

    .rrt-middle-container {
      position: static;
      width: 100%;
      margin-left: 0;
      padding: 0;
      font-family: 'Poppins', serif;

      .rrt-title {
        margin-bottom: 0;
        font-weight: normal;
      }
    }

    .close-toastr {
      display: none;
    }
  }

  .custom-toastr {
    width: 310px;
    margin-bottom: 10px;
    background-color: #fff !important;
    box-shadow: 0 2px 8px 0 rgba(50, 57, 73, 0.15);
    border: solid 1px $base-border;
    color: $main-text-color !important;

    .toastr-icon {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 17px;
      height: 17px;
      margin: 0 !important;
      border-radius: 50%;
      background-size: 10px;
      background-repeat: no-repeat;
      background-position: center;

      svg {
        width: 10px;
      }
    }

    &.rrt-warning {
      .toastr-icon {
        background-image: url($rails_images_path + 'svg/warning.svg');
        background-size: 2px;
        background-color: #856404;
      }
    }

    &.rrt-info {
      .toastr-icon {
        background-image: url($rails_images_path + 'svg/warning.svg');
        background-size: 2px;
        background-color: #11998e;
      }
    }

    &.rrt-error {
      .toastr-icon {
        background-image: url($rails_images_path + 'svg/error.svg');
        background-size: 6px;
        background-color: #721c24;
      }
    }

    &.rrt-success {
      .toastr-icon {
        background-image: url($rails_images_path + 'svg/check-white.svg');
        background-color: #11998e;
      }
    }

    .rrt-holder {
      height: 100% !important;
      margin: 0 !important;
      top: 0 !important;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 15px;
      height: 15px;
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url($rails_images_path + 'svg/close-toastr.svg');
    }

    .notify-title,
    .notify-body {
      line-height: 1.64;
    }
  }
}