.slack-feedback {
   & > div:first-child  {
     right: calc(100% - 16px);
     bottom: 50%;
   }

  .styles__Trigger-sc-1ifjbhw-7 {
    right: -86px;
    border-radius: 6px 6px 0 0;
    background-color: #1f2532;
    transform: rotate(90deg);
  }

  .styles__Container-sc-1ifjbhw-2 {
    position: fixed;
    bottom: 5px;
    left: 5px;

    .styles__Header-sc-1ifjbhw-4 {
      background-color: #1f2532;
    }

    .styles__Content-sc-1ifjbhw-5 {
      label {
        color: $main-text-color;
      }
    }
  }

  & > div > div:last-child:hover  {
    background-color: #43538a;
  }
  .close {
    float: none;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .slack-feedback {
    position: fixed;
    z-index: 1000;
  }
}

@media (max-width: 767px) {
  .slack-feedback {
    .styles__Container-sc-1ifjbhw-2 {
      left: 0;
      bottom: 0;
      max-width: 100%;
      width: 100%;
    }
  }
}