.mission-header {
  flex-shrink: 0;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url($rails_images_path + 'mission-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  .mission-title {
    font-family: Gilroy;
    font-size: 26px;
    letter-spacing: 0.29px;
    line-height: 1.2;
    margin-bottom: 18px;
  }

  p {
    width: 470px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media(max-width: 500px) {
    p {
      width: 100%;
    }
  }
}