.mission-content {
  flex-shrink: 0;
  min-height: calc(100vh - 60px - 270px - 47px); // header, subheader and footer height
  color: $main-text-color;
  background: #fafafa;

  .mission-text {
    min-height: 423px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-family: Gilroy;
      font-size: 26px;
      margin-bottom: 22px;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 25px;
      width: 85%;
    }


    @media(max-width: 768px) {

      min-height: unset;
      padding: 22px 0 30px;
      p {
        width: 100%;
      }
    }
  }

  .mission-invite {
    width: 510px;
    height: 510px;
    padding: 26px 50px 35px;
    margin-left: auto;
    position: absolute;
    top: -184px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid $base-border;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

    @media(max-width: 992px) {
      width: unset;
      padding: 18px 10px 33px;
      position: unset;
      top: unset;
      margin-bottom: 60px;
    }

    @media(max-width: 500px) {
      height: 497px;
    }

    @media(max-width: 400px) {
      height: 430px;
    }

    &-inner {
      width: 100%;
      height: 100%;
      background-image: url($rails_images_path + 'global-map-mission.png');
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center 0;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .social-title {
        font-family: 'Gilroy';
        margin-top: auto;
      }

      .choose-social {
        width: 330px;
        margin: 0 auto;

        @media(max-width: 992px) {
          width: 250px;
        }
      }

      .public-link {
        margin-top: auto;
        margin-bottom: 0;
      }
    }
  }
}