.reminder-dropdown-toggle {
  position: relative;
  height: 34px;
  border: 1px solid $base-border;
  border-radius: 3px;
  background-color: #fff;
  padding: 0 28px 0 12px;
  font-size: 14px;
  text-align: left;

  &:focus {
    box-shadow: none;
  }

  &::after {
    position: absolute;
    top: 13px;
    right: 12px;
    content: '';
    display: block;
    width: 11px;
    height: 7px;
    background-image: url($rails_images_path + 'svg/dropdown-arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .show &::after {
    right: 11px;
    transform: rotate(180deg);
  }
}

.dropdown-container {
  span.dropdown-label {
    display: block;
    margin-right: 45px;
    margin-bottom: 8px;
    color: $placeholder;
    font-size: 12px;
  }
}
