@for $i from 2 through 4 {
  .grid-#{$i} {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
    grid-gap: 15px;
    align-items: center;
  }
}

@media(max-width: 550px) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .grid-4,
  .m-grid-2{
    grid-template-columns: 1fr 1fr;
  }
}