.reminder-input {
  height: 34px;
  padding-left: 12px;
  border: 1px solid $base-border;
  border-radius: 3px;
  font-size: 14px;

  &::-webkit-input-placeholder {
    color: $placeholder;
    line-height: 34px;
  }
  &::-moz-placeholder {
    color: $placeholder;
    line-height: 34px;
  }
  &:-ms-input-placeholder {
    color: $placeholder;
    line-height: 34px;
  }
  &:-moz-placeholder {
    color: $placeholder;
    line-height: 34px;
  }

  &:hover {
    box-shadow: 0 2px 3px rgba(29, 32, 49, 0.05);
  }

  &.disabled {
    color: $placeholder;
  }

  + div {
    position: absolute !important;
    top: 42px !important;
    left: 0 !important;
    max-height: 150px !important;
    border: 1px solid $base-border;
    border-radius: 4px !important;
    z-index: 20;

    @include webkit-scrollbar(#c7c7cc);

    div {
      padding: 8px 12px;
      color: $main-text-color;
      background-color: #fff !important;
      line-height: 1.25;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: $light-gray-5 !important;
        color: $main-text-color !important;
      }
    }
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.price-input {
  position: relative;
  display: flex;

  span {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    height: 42px;
    padding: 0 11px;
    border-left: 1px solid $base-border;
    color: $input-label;
  }
}

.reminder-textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  padding: 10px 0 0 12px;
  border: 1px solid $base-border;
  border-radius: 3px;
  font-size: 14px;
  resize: none;
  box-shadow: 0 2px 3px rgba(29, 32, 49, 0.05);
}