.radio-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }

  > div {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $base-border;
    border-radius: 4px;
    color: $radio-text;
    background-color: $secondary-bg;
    transition: all 0.2s;

    &:hover {
      background-color: #ffffff !important;
      box-shadow: 0 2px 4px rgba(29, 32, 49, 0.08);
      border-color: $light-blue-gray;
    }
  }

  input:checked ~ div {
    background-color: #ffffff;
    color: $main-text-color;
    box-shadow: 0 2px 4px rgba(29, 32, 49, 0.1);
  }
}

.disabled {
  .radio-button {
    > div {
      &:hover {
        background-color: $secondary-bg;
        box-shadow: none;
        border-color: $base-border;
      }
    }

    input:checked ~ div {
      background-color: #ffffff;
      color: $main-text-color;
      box-shadow: none;
      border-color: $disabled-radio-border;
    }
  }
}