.reminder-select {
  .Select__control {
    min-height: 34px;
    border: {
      width: 1px;
      style: solid;
      color: $base-border;
    };
    border-radius: 4px;
    background-color: #fff;
    color: $main-text-color;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(29, 32, 49, 0.05);
    transition: .2s linear;

    &:hover {
      box-shadow: 0 2px 3px rgba(29, 32, 49, 0.05);
      border-color: $base-border;
    }

    &.--is-focused,
    &--menu-is-open {
      font-size: 14px;
      border: {
        width: 1px;
        style: solid;
        color: $base-border;
      };
      box-shadow: 0 2px 3px rgba(29, 32, 49, 0.05);
      color: $main-text-color;
    }

    .Select__placeholder {
      color: $placeholder;
    }

    .Select__single-value {
      line-height: 1.4;
      color: $main-text-color;
    }
  }


  .Select__indicator-separator {
    display: none;
  }

  .Select__dropdown-indicator {
    width: 25px;
    height: 20px;
    margin-left: 5px;
    padding: 0;
    background-image: url($rails-images-path + 'svg/dropdown-arrow-gray.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px;
    svg {
      display: none;
    }
  }

  .Select__control--menu-is-open .Select__dropdown-indicator {
    transform: rotate(180deg) !important;
    background-position: right center;
  }

  .Select__menu {
    min-width: 205px;
    font-size: 14px;

    &-list {
      max-height: 190px;
      padding: 0;
      overflow-y: scroll;

      @include webkit-scrollbar($light-gray-2, .4rem);
    }

    .Select__option {
      padding: 15px 12px;
      cursor: pointer;

      &.Select__option--is-focused,
      &.Select__option--is-selected {
        background-color: transparent;
        color: $dark-gray;
      }
      &:hover {
        background-color: $light-gray-5;
        color: $main-text-color;
      }
    }
  }
}

@media (max-width: 767px) {
  .reminder-select {
    .Select__control {
      font-size: 16px;
    }

    .Select__menu {
      font-size: 16px;
    }
  }
}