#info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  margin-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  cursor: pointer;
  transition: all .2s;

  &:hover,
  &.active {
    background-color: #ffffff;
  }
}


.info-message {
  top: -8px !important;
  left: -10px !important;
  width: 250px;
  min-height: 133px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px;
  background-color: #ffffff;
  color: $main-text-color;
  font-size: 12px;
  font-family: 'Poppins';
  box-shadow: 0 3px 10px 0 rgba(31, 37, 50, 0.1);
  z-index: 100;

  @media (max-width: 767px) {

    width: calc(100vw - 30px) !important;
  }
  .diary-text,
  .have-you-say--text {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &.diary-text {
    top: -15px !important;
    width: 335px;
    min-height: 50px;
    padding: 7px 10px;
  }
  
  &.have-you-say--text {
    width: 260px;
    min-height: 34px;

    .tooltip-inner {
      text-align: center;
    }
  }

  &.show {
    opacity: 1;
  }

  .tooltip-inner {
    padding: 0;
    max-width: unset;
    background-color: #ffffff;
    color: $main-text-color;
    text-align: left;
    line-height: 1.5;

    @media (max-width: 767px) {
      padding-right: 20px;
    }
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }
}

.close-tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;

  img {
    width: 10px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}