.reminder-details {
  padding: 0;
  margin-top: 14px;
  border: 1px solid $base-border;
  background-color: #ffffff;
  color: $main-text-color;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-size: 14px;

  &.show {
    opacity: 1;
  }

  .tooltip-inner {
    position: relative;
    padding: 9px 15px;
    max-width: unset;
    background-color: #ffffff;
    color: $main-text-color;
    text-align: left;
    font-size: 12px;

    &::after {
      content: '';
      position: absolute;
      top: -7px;
      left: 50%;
      transform: translateX(-30%) rotate(45deg);
      width: 14px;
      height: 14px;
      border: 1px solid #e8e8e8;
      background-color: #fff;
      z-index: -1;
    }

    p {
      margin: 0;
    }
  }


  .arrow {
    display: none;
  }

  .reminders-list {
    li {
      display: flex;
      align-items: center;
      padding: 13px 0;
      border-bottom: 1px solid $base-border;

      span {
        flex-shrink: 0;
      }

      &.reminders-empty-text {
        span {
          padding-left: 10px;
        }
      }
    }

    .point {
      width: 7px;
      height: 7px;
      margin: 0 15px;
      border-radius: 50%;
    }

    .red-checkbox {
      flex-shrink: 0;
      width: 20px;
    }

    .left-side {
      display: flex;
      margin-left: auto;
      flex-shrink: 0;
    }

    .reminder-date {
      color: $light-gray;
      margin-left: 10px;
      margin-right: 10px;
      line-height: 25px;
    }

    .stop-btn {
      width: 50px;
      height: 24px;
      padding: 0;
      border-radius: 3px;
      border: 1px solid $light-gray;
      font-size: 12px;
    }

    .reminder-edit {
      display: flex;
      align-items: center;
      margin-left: 18px;
      cursor: pointer;

      svg {
        width: 16px;
        height: 16px;
        fill: $light-gray;
      }

      &:hover {
        svg {
          fill: $main-text-color;
        }
      }
    }
  }

  .buttons-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn {
      border-radius: 3px;
      background-color: #fff;
      font-size: 14px;
      text-align: center;
      transition: all 0.2s;

      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
      }
    }

    .add-reminder-btn {
      // flex-grow: 1;
      width: 165px;
    }
  }
}
