.form-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 7px 0 23px;
  margin: 0 -20px;
  border-bottom: 1px solid $base-border;
  border-top: 1px solid $base-border;
  background-color: $secondary-bg;
  cursor: pointer;

  ~ div {
    .reminder-form-item:last-child {
      padding: 13px 20px 30px;
    }
  }

  > div {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &-title {
    font-size: 14px;
    color: $main-text-color;
    letter-spacing: 0;
    font-weight: 500;
  }

  .points {
    display: block;
    margin-right: 15px;
    color: $blue-grey;
    font-size: 12px;
  }

  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid $base-border;
    border-radius: 50%;
    color: $blue-grey;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
  }
}