.have-your-say {
  .reminder-main-header {
    h3 {
      display: flex;
      align-items: center;
    }
  }

  .reminder-main-body {
    padding: 0 20px;

    .form-slider {
      .form-slider-title {
        display: flex;
        align-items: center;
        font-weight: normal;

        @media(max-width: 768px) {
          font-size: 13px;
          line-height: 15px;
        }
      }

      @media (max-width: 767px) {
        border: none;
      }
    }

    .form-slider-icon {
      margin-right: 13px;
    }

    .step-container {
      border: solid 1px #ccdbec;
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 0 3px 10px 0 rgba(31, 37, 50, 0.1);

      & + .step-container {
        margin-top: 10px;
      }

      &:empty {
        display: none;
      }
    }
  }

  .reminder-form-item {
    border: 0;
    padding: 20px;

    @media (min-width: 768px) {
      border-bottom: 1px solid $base-border;
    }

    @media (max-width: 767px) {
      border-top: 1px solid $base-border;
    }

    h2 {
      font-weight: bold;
      font-size: 14px;
      line-height: 27px;
      margin-bottom: 4px;
    }

    h3 {
      margin-bottom: 20px;
      line-height: 1.4;
      font-weight: 500;
    }

    h4 {
      margin-bottom: 15px;
      margin-top: 0;
      line-height: 1.4;
      font-size: 14px;
      font-weight: normal;
    }

    h5 {
      margin-bottom: 12px;
      line-height: 1.4;
      font-size: 14px;
      font-weight: normal;
    }

    .rating-title {
      margin-bottom: 0;
      line-height: 1.2;
      color: $main-text-color;
      font-size: 14px;
      font-weight: bold;
    }

    .radio-button {
      & > div {
        background-color: $light-gray-8;
        color: $light-gray-6;
        text-align: center;
      }

      input:checked ~ div {
        background-color: #fff;
        color: $main-text-color;
        font-weight: 500;
      }
    }

    .reminder-select .Select__control,
    .reminder-input {
      width: 100%;
      min-height: 42px;
      border-radius: 4px;
    }

    .hint {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
    }
  }

  .last-buy {
    .radio-button {
      margin-right: 60px;
    }
  }

  .payment-method {
    .radio-button {
      margin-right: 30px;
    }
  }

  .places {
    .radio-button {
      margin-right: 40px;
    }
  }

  .recommend {
    .radio-button {
      margin-right: 30px;
    }
  }

  .provider {
    position: relative;
    grid-gap: 35px;

    .text-gray {
      position: absolute;
      top: 13px;
      left: 50%;
      margin: 0;
      transform: translateX(-50%);
    }

    div:last-child {
      grid-area: 1 / 2 / 2 / 3;
    }
  }

  .criteria {
    .reminder-select {
      width: 138px;
    }
  }

  .set-reminder {
    .reminder-select {
      min-width: 108px;
    }
  }

  .red-checkbox {
    font-size: 14px;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;

    .red-checkbox {
      order: 2;
      max-width: 410px;
      margin-top: 25px;
      line-height: 1.4;
      color: $dark-gray;
      font-size: 12px;
    }

    .btn {
      order: 1;
      width: 100%;
      padding: 15px;

      @media (min-width: 768px) {
        max-width: 200px;
      }
    }

    .reminder-btn {
      margin: 0;
    }
  }

  .rating-block-container {

    h3.textarea-title {
      font-weight: 400;
      margin-bottom: 11px;
    }
    textarea {
      min-height: 99px;
      width: 100%;
      max-width: 438px;
      padding: 15px;
      border: 1px solid $base-border;
      border-radius: 3px;
      font-size: 14px;
      resize: none;

      &::-webkit-input-placeholder {
        line-height: 14px;
      }

      &::-moz-placeholder {
        line-height: 14px;
      }

      &:-ms-input-placeholder {
        line-height: 14px;
      }

      &:-moz-placeholder {
        line-height: 14px;
      }
    }

    .rate-help-title {
      h5 {
        font-size: 12px;
      }
    }
  }

  @media(max-width: 550px) {
    .provider {
      grid-gap: 15px;

      .text-gray {
        display: none;
      }

      div:last-child {
        grid-area: unset;
      }
    }
  }


  // DELETE LATER
  .datepicker-example {
    position: relative;
    width: 140px;
    height: 42px;
    border: 1px solid $light-blue-gray;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 29px 0 12px;
    font-size: 14px;
    text-align: left;

    &::after {
      position: absolute;
      top: 12px;
      right: 12px;
      content: '';
      display: block;
      width: 18px;
      height: 17px;
      background-image: url($rails_images_path + 'svg/calendar.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .react-datepicker__input-container {
    @media (max-width: 767px) {
      &:after {
        content: none;
      }
    }
  }

  .dropdown-container.datepicker.disabled {
    .datepicker-example {
      &::after {
        background-image: url($rails_images_path + 'svg/calendar-gray.svg') !important;
      }
    }
  }
}

.set-reminder-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  h3 {
    margin-bottom: 0 !important;

    span {
      font-weight: 400;
    }
  }

  .toggle-personal {
    margin-left: 25px;
  }
}

.inputs-group {
  &.inner-group {
    margin-bottom: 20px;

    .grid-2 {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}


