.info-sidebar {
  background-color: #ffffff;
  border: 1px solid $base-border;

  &-header {
    padding: 13px;
    border-bottom: 1px solid $base-border;

    p {
      color: #ffffff;
      font-family: 'Poppins', serif;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
    }
  }

  &-content {
    font-size: 13px;
    line-height: 21px;

    div {
      padding: 15px 11px;
      border-bottom: 1px solid $base-border;
    }

    p {
      color: $sidebar-text;
    }

    h3 {
      color: $main-text-color;
      font-weight: bold;
    }
  }
}