.leaderboard {
  border-radius: 4px;

  .main-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $base-border;
    border-radius: 4px;

    p {
      padding-right: 10px;
      color: $main-text-color;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .reminder-main-body {
    padding-top: 0;
    border: none;
    border-radius: 0 0 4px 4px;

    .invite-link {
      padding: 0;
      color: $dark-gray;
      font-size: 14px;
      white-space: nowrap;
    }

    .mobile-filter {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      border-top: 1px solid $base-border;
      border-bottom: 1px solid $base-border;
      padding: 10px 20px;
      background-color: #fff;
      color: $main-text-color;
      font-size: 14px;

      > svg {
        width: 20px;
      }

      .close {
        position: absolute;
        top: 50%;
        right: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: $light-gray-3;
        transform: translateY(-50%);

        img {
          width: 10px;
        }
      }
    }

    // .second-filter {
    //   background-color: $reminder-top-bg;
    // }

    .see-more {
      margin: 5px 0 0;
    }
  }

  &-container {
    flex-grow: 1;
  }

  .title-group {
    display: flex;
    align-items: center;
    width: 100%;

    h3 {
      display: flex;
      font-family: 'Poppins', serif;
      align-items: center;
      font-weight: bold;
    }

    .join {
      margin-left: 10px;
      border: none;
      outline: none;
      border-radius: 16px;
      padding: 10px 15px;
      background: none;
      color: #fff;
      font-size: 12px;

      span {
        text-decoration: underline;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &-title {
    padding-right: 10px;
  }

  .reminder-main-header {
    min-height: 50px;

    .reminder-dropdown-toggle {
      min-width: 198px;
    }

    .join-btn {
      display: flex;
      align-items: center;
      margin: 0 15px 0 auto;
      padding: 6px 10px 4px 33px;
      border: 1px solid rgba(#fff, .5);
      border-radius: 3px;
      line-height: 1;
      color: #fff;
      font-size: 14px;
      box-shadow: none;
      transition: all .2s;

      &.joined {
        cursor: default;
      }

      &:hover {
        background-color: #fff;
      }

      span {
        text-decoration: underline;
      }

      svg {
        width: 10px;
        height: 11px;
        margin-right: 6px;
        fill: #fff;
        transition: all .2s;
      }
    }

    .calendar-join {
      display: flex;
      align-items: center;
      min-width: 140px;
      margin-left: auto;
      outline: none;
      border: solid 1px rgba(0, 0, 0, 0.1);
      padding: 6px 10px 4px 8px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }

      img {
        margin-right: 8px;
      }

      span {
        font-size: 12px;
        color: #fff;
        white-space: nowrap;
      }
    }
  }

  .search-box {
    width: 200px;
    position: relative;
    border: 1px solid $base-border;
    border-radius: 4px;

    input {
      width: 100%;
      height: 34px;
      border-radius: 3px;
      border: none;
      outline: none;
      padding: 6px 6px 6px 35px;
      font-size: 14px;
    }

    .search-icon {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      width: 35px;
      height: 100%;
      padding: 0;
      cursor: pointer;

      svg,
      img {
        width: 100%;
      }
    }
  }

  .have-your-say-btn {
    position: relative;
    height: 34px;
    min-width: 170px;
    padding-right: 23px;
    justify-content: center;
    display: flex;
    background-color: #fff;
    border: 1px solid $base-border;
    border-radius: 4px;
    color: $main-text-color;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgba(68, 81, 108, 0.12);
    z-index: 3;

    svg {
      width: 23px;
      margin: 0 11px 0 15px;
      transition: all 0.2s;
    }
  }

  .points {
    color: $main-red;
    margin-top: 7px;
    text-align: center;
  }

  .reminder-select {
    min-width: 115px;
  }

  .best-value-select {
    width: 160px;
  }

  .places-select {
    width: 150px;
  }

  .leaderboard-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0 15px 0;
    background-color: $reminder-top-bg;
    color: $main-text-color;

    .leaderboard-actions-part {
      display: flex;
      align-items: center;
    }

    .members {
      margin-right: 20px;

      strong {
        font-weight: 500;
      }
    }

    .icon-link {
      display: flex;
      align-items: center;
      align-self: stretch;
      padding: 0;
      color: $main-text-color;
      font-size: 14px;
      cursor: pointer;

      .icon {
        width: 131px;
        height: 34px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $base-border;
        background-color: #fff;
        transition: all 0.2s;
        box-shadow: 0 2px 3px 0 rgba(31, 37, 50, 0.1);

        svg {
          transition: all 0.2s;
        }
      }

      &.invite-link {
        .icon svg {
          width: 19px;
          margin-right: 15px;
        }
      }

      &.edit-link {
        text-decoration: none;

        .icon {
          width: 230px;
          padding: 0 15px;

          svg {
            width: 17px;
            margin-right: 15px;
          }
        }
      }
    }

    .add-note-link {
      margin-bottom: 0 !important;
    }

    .toggle-personal {
      color: $main-text-color;
      font-size: 12px;
    }
  }

  .reminder-form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border: none;
    background-color: $reminder-top-bg;

    &.radio-container {
      justify-content: flex-start;
      min-height: 70px;

      .radio-button {
        margin-right: 25px;
      }
    }

    h3 {
      font-weight: normal;
      color: $main-text-color;
      margin-bottom: 0;

    }

    .Select__control {
      border-color: $light-gray-3;
      border-radius: 3px;

      .Select__dropdown-indicator {
        background-image: url($rails-images-path + 'svg/dropdown-arrow-gray.svg');
      }
    }

    .select-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 33%;

      &:not(:last-child) {
        padding-right: 13px;
      }

      &.location-select {
        .reminder-input {
          width: 100%;
        }

        .location-search {
          width: 100%;
        }

        .Select__control--menu-is-open .Select__dropdown-indicator {
          transform: none;
          background-position: left center;
        }

        .Select__dropdown-indicator {
          background-image: url($rails-images-path + 'svg/search.svg');
        }
      }

      .input-label {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        font-size: 12px;
        color: $light-gray-4;
        line-height: normal;
      }

      .reminder-select {
        width: 100%;
      }
    }

    .button-group {
      margin-left: 15px;
      flex-shrink: 0;
    }

    .input-label {
      color: $input-label;
      font-size: 14px;
      margin-right: 8px;
    }
  }

  .leaderboard-table {
    width: 100%;
    text-align: center;

    thead {
      td {
        font-weight: 500;
        padding: 15px 0;
        font-size: 13px;
        color: $main-text-color;

        &:nth-child(2) {
          width: 220px;
        }

        &:nth-child(3) {
          width: 180px;
        }
      }

      .table-arrow {
        display: inline-block;
        padding: 0 0 0 4px;
        font-size: 14px;
        cursor: pointer;
      }
    }

    .rank-cell {
      width: 60px;
      color: #778AA0;
      font-size: 12px;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        margin-right: 5px;
        margin-left: auto;
        border-radius: 50%;
      }
    }

    .name-cell {
      display: flex;
      align-items: center;

      a {
        color: $link-color;
        font-size: 12px;
      }

      p {
        text-align: left;
        line-height: 1.2;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .table-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      width: 50px;
      height: 50px;
      border: 1px solid $base-border;
      border-radius: 50%;
      margin-right: 15px;
      overflow: hidden;

      img {
        // width: 100%;
        object-fit: cover;
      }
    }

    .rating-cell {
      font-size: 12px;

      .rating-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
      }

      svg {
        width: 16px;
        height: 16px;
        margin-left: 13px;
      }

      img {
        width: 16px;
        height: 16px;
        margin-right: 13px;
      }
    }

    .table-rating {
      display: flex;
      align-items: center;

      .CircularProgressbar {
        width: 40px;
        height: 40px;
      }

      .CircularProgressbar-trail {
        stroke: $base-border;
      }

      span {
        font-size: 10px;
      }
    }

    .votes-number {
      margin-left: 13px;
      color: $dark-gray;
      font-size: 12px;
    }

    .insights-cell {
      text-decoration: underline;
    }

    .shoppers {
      > div {
        vertical-align: middle;
      }

      .votes {
        margin: 0 auto 6px;
        color: $votes-color;
        font-size: 12px;
        text-align: left;
      }

      .vote-percent {
        width: 35px;
        margin-left: 10px;
      }

      .members-percent {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: calc(100% + 8px);
          background-color: $votes-border-color;
          transform: translate(0, -50%);
        }
      }
    }

    .table-link {
      display: inline-block;
      padding: 10px 25px;
      border-radius: 17px;
      border: 1px solid $base-border;
      background-color: #fff;
      color: $main-text-color;
      font-size: 14px;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        color: #fff;
      }
    }
  }

  .table-rating-starts {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: $main-text-color;
    font-size: 12px;
    font-weight: 500;

    .rating-count {
      margin-right: 7px;
    }

    .insights {
      margin-left: 8px;
      color: $light-gray-11;
      font-size: 11px;
    }
  }

  .filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    margin-left: 15px;
    padding: 0 11px;
    border: 1px solid $base-border;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(29, 32, 49, 0.05);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;

    svg {
      fill: $main-red;
      stroke: $main-red;
      stroke-width: 0.3;
      margin-right: 8px;
    }

    &.active {
      color: $main-red;
    }

    &:hover {
      color: $main-red;
      box-shadow: 0 3px 6px rgba(29, 32, 49, 0.08);
    }
  }

  a.reminder-header-btn {
    min-width: 160px;
    margin-right: 15px;
    padding: 9px 5px;
    min-height: 34px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    transition: all 0.2s;

    &:hover {
      background-color: #fff;
      color: $main-text-color;
    }
  }

  .top-filters {
    padding: 10px 0 !important;
    justify-content: flex-start;

    .custom-radio {
      margin-right: 30px;
      color: $main-text-color;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .filter-result {
    display: flex;
    align-items: center;
    padding: 20px !important;
    background-color: transparent !important;
    font-size: 12px;

    .filter-item {
      display: flex;
      align-items: center;

      & + .filter-item {
        margin-bottom: 10px;
      }
    }

    .clean-filters {
      cursor: pointer;

      &:hover {
        img {
          transform: rotate(-180deg);
        }
      }

      img {
        margin-right: 5px;
        transition: all .25s;
      }

      span {
        text-decoration: underline;
        font-size: 12px;
      }
    }
  }

  .businesses-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px;
    color: $main-text-color;
    font-size: 12px;

    span {
      font-weight: 500;
    }

    .result-info {
      line-height: 1.4;

      & + .result-info {
        margin-left: 15px;
      }
    }
  }

  .group-recomendations {
    margin-top: 15px;
    border: 1px solid $base-border;
    padding: 15px 15px 20px;
    border-radius: 4px;
    background-color: #fff;

    h4 {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: $recommendation-color;
      font-size: 14px;
      font-weight: 700;
    }

    p {
      line-height: 1.5;
      font-size: 12px;
      color: $recommendation-text-color;
    }

    a {
      color: $link-color;
    }

    .group-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 23px;
      height: 23px;
      margin-right: 10px;
      padding: 5px;
      border-radius: 50%;

      svg {
        width: 100%;
      }
    }
  }

  .best-sorting {
    padding: 20px 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .radio-button {
      width: calc(50% - 10px);

      & + .radio-button {
        margin-left: 20px;
      }

      & > div {
        justify-content: center !important;
        align-items: center;
        height: 50px;
        border-color: $base-border !important;
        padding-left: 0 !important;
        background-color: transparent;

        span {
          display: none;
          margin-right: 10px;
          color: $dark-gray;
        }
      }

      input:checked + div {
        background-color: #fff;

        span {
          display: inline-block;
          color: $main-text-color;
        }
      }
    }
  }

  .sorting-desktop {
    display: none;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $base-border;
    padding: 15px 0;

    &.active {
      border-bottom: none;
    }

    .custom-radio + .custom-radio {
      margin-left: 30px;
    }

    .select-container + .select-container {
      margin-left: 15px;
    }

    .reminder-select {
      width: 130px;

      &.wide-select {
        width: 170px;
      }
    }

    .search-box {
      width: 200px;
      margin-left: 15px;

      input {
        width: 100%;
      }
    }

    .filter-trigger {
      margin-left: 15px;
      padding: 9px 15px;

      svg {
        height: 14px;
      }
    }

    .add-note-btn {
      margin-left: auto;
      padding: 8px 15px 7px;

      svg {
        height: 17px;
      }
    }
  }

  .filter-trigger,
  .add-note-btn {
    display: flex;
    align-items: center;
    border: 1px solid $base-border;
    border-radius: 4px;
    background-color: #fff;
    color: $main-text-color;
    font-size: 14px;
    transition: none;
    cursor: pointer;

    svg {
      margin-right: 12px;
    }
  }

  .filter-container {
    border: 1px solid $base-border;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 0 20px 5px;
    background-color: $top-bar-bg;

    .reminder-form-item,
    .clear-all-container {
      background-color: $top-bar-bg;
    }
  }

  @media(max-width: 1200px) {
    .title-group {
      .header-link {
        margin-left: 3px;
      }
    }

    .reminder-select {
      min-width: 95px;
    }

    .places-select {
      width: 95px;
    }
  }

  @media(max-width: 767px) {
    .reminder-main-header {
      flex-wrap: wrap;
      height: auto;
      padding: 15px;

      .title-group {
        width: 100%;
      }

      .reminder-header-btn {
        margin: 15px 0;
      }

      .reminder-header-btn, .dropdown {
        width: 51%;
        min-width: 200px;
        margin-left: 0;
      }

      .dropdown {
        .reminder-dropdown-toggle {
          min-width: 100%;
        }
      }
    }

    .reminder-select {
      min-width: unset;
      width: 100%;
      max-width: 171px;
    }

    .places-select {
      max-width: 171px;
    }

    .best-value-select {
      width: 100%;
      max-width: 270px;
    }

    .reminder-form-item {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;

      &.radio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45px 45px auto;
        align-items: start;
        padding: 23px 25px 30px;

        .radio-button {
          align-items: flex-start;
          line-height: 1.4;
        }
      }

      .select-container {
        justify-content: center;
        width: 100%;
        padding-right: 0 !important;
        margin-bottom: 20px;

        > div {
          max-width: 100%;
        }
      }

      h3 {
        margin: 35px 0;
      }

      .input-label {
        width: 75px;
        margin-right: 0;
      }

      .button-group {
        margin: 30px 0;
      }
    }

    .filter-result {
      display: none;
      flex-direction: row;
      padding: 20px !important;
    }
  }
}

.widget-container {
  margin-top: 20px;
  border-radius: 4px;
  border: solid 1px $base-border;
  padding: 15px;
  background-color: $filter-bg;

  .widget-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .icon {
      width: 26px;
      height: 26px;
      margin-right: 12px;
      border-radius: 50%;
      border: solid 1px $base-border;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    .name {
      font-size: 14px;
      font-weight: bold;
      color: $main-text-color;
    }
  }

  .widget-body,
  .widget-link {
    color: $dark-gray;
    font-size: 12px;
    line-height: 1.7;
  }

  .widget-body {
    margin-bottom: 10px;
  }

  .widget-link {
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.leaderboard-social-list {
  display: flex;
  align-items: center;

  .SocialMediaShareButton {
    position: relative;
    width: 34px;
    height: 34px;
    outline: none;
    border: 1px solid $light-gray-3;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;

    & + .SocialMediaShareButton {
      margin-left: 9px;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.email {
      &:hover {
        border-color: $email-color;

        .icon {
          g,
          path {
            fill: $email-color;
          }
        }
      }
    }

    &.facebook {
      &:hover {
        border-color: $facebook-color;

        .icon {
          g,
          path {
            fill: $facebook-color;
          }
        }
      }
    }

    &.twitter {
      &:hover {
        border-color: $twitter-color;

        .icon {
          g,
          path {
            fill: $twitter-color;
          }
        }
      }
    }

    &.linkedin {
      &:hover {
        border-color: $linkedIn-color;

        .icon {
          g,
          path {
            fill: $linkedIn-color;
          }
        }
      }
    }

    &.whatsApp {
      &:hover {
        border-color: $whatsApp-color;

        .icon {
          g > path:first-child {
            fill: $whatsApp-color;
          }
        }
      }
    }
  }
}

.empty-state-leaderboard {
  border: solid 1px $base-border;
  border-radius: 6px;
  padding: 48px 40px 40px;
  background-color: #fff;
  text-align: center;

  .empty-state-image {
    width: 158px;
    height: 120px;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3 {
    margin-bottom: 15px;
    color: $dark-gray;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.85;
    letter-spacing: 0.3px;
  }

  p {
    color: $light-gray-4;
    font-size: 16px;
    line-height: 1.44;
  }

  .btn {
    margin-top: 35px;
    padding: 9px 35px;
    font-size: 14px;
    color: $main-text-color;
    transition: none;

    &:hover {
      color: #fff;
    }
  }
}

.filterPopUp {
  background-color: #f9f9f9;

  .close {
    position: absolute;
    top: 0;
    right: 8px;
    width: 25px;
    height: 25px;

    img {
      width: 12px;
    }
  }

  .radio-container.rate-radio .radio-button > div {
    height: 34px;
    padding: 5px 10px;
    justify-content: center;
  }

  .top-part,
  .bottom-part {
    padding: 11px 15px;
  }

  .top-part-item {
    + .top-part-item {
      margin-top: 20px;
    }

    h3 {
      margin-bottom: 10px;
      line-height: 1.2;
      color: $radio-text;
      font-size: 12px;
    }

    .radio-button,
    .tex-input-container {
      width: 80px;
    }

    .grid-2-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      align-items: center;

      .radio-button {
        width: 100%;

        &:nth-child(3) {
          grid-column: 1 / 3;
        }
      }

    }

    .tex-input-container input {
      width: 100%;
      height: 34px;
      padding: 7px;
      text-align: center;
    }
  }

  .bottom-part {
    border-top: 1px solid $tabs-border;
  }
}

.clear-all-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    margin: 0;
    padding: 5px 15px;
  }

  .btn.reminder-btn {
    min-width: 65px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(29, 32, 49, 0.1);
  }

  .clear-all {
    margin-left: auto;
    text-decoration: underline;
    font-size: 14px;
    color: $main-text-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.filter-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% -  20px);
  max-width: 420px;
  margin: 0;
  transform: translate(-50%, -50%) !important;

  .modal-dialog .modal-header .modal-title {
    font-size: 10px;
    line-height: initial;
  }

  .filterPopUp {
    border-radius: 0 0 8px 8px;
  }

  .top-part-item {
    .reminder-input:not([name="[location]"]) {
      width: 80px;
      padding: 1px;
      text-align: center;
    }

  }

  .reminder-form-item {
    margin-bottom: 15px;
  }

  .reminder-select .Select__control {
    min-height: 45px;
  }

  .modal-content {
    background-color: $reminder-message-bg;

    @media (max-width: 767px) {
      border-radius: 0;

      .modal-header {
        border-radius: 0;
      }
    }
  }

  .modal-body {
    padding: 0;

    .modal-title {
      margin-bottom: 20px;
      line-height: 1.5;
      color: $dark-gray;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }

    .reminder-input {
      height: 45px;
    }

    .modal-filter-login {
      display: flex;
      justify-content: space-between;
      padding: 16px 30px 17px;
      background-color: #fff;

      .login-info {
        color: $light-gray-6;
        font-size: 12px;
      }

      .login {
        color: $main-text-color;
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .filter-progress {
      width: 100%;
      height: 2px;
      background-color: $base-border;

      .progress {
        height: 100%;
      }
    }

    .modal-switcher {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 30px 0;
      background-color: $light-gray-10;
    }

    .switcher-title {
      color: $main-text-color;
      font-size: 12px;
    }

    .toggle-personal {
      color: $light-gray-6;
      font-size: 12px;
    }

    .top-part {
      max-height: calc(100vh - 275px);;
      padding: 20px 30px 30px;
      background-color: $light-gray-10;
      overflow-y: auto;

      &.without-scroll {
        overflow: visible !important;
      }

      @include webkit-scrollbar($light-gray-2, 8px);

      @media (max-width: 767px) {
        height: calc(100vh - 275px);
      }
    }

    .top-part-item,
    .reminder-form-item {
      & + .top-part-item {
        margin-top: 25px !important;
      }

      h3,
      h5 {
        margin-bottom: 15px;
        color: $main-text-color;
        line-height: 1.2;
        font-size: 13px;
        font-weight: 500;
      }

      .reminder-input:not([name="[location]"]) {
        width: 105px;
      }

      .textarea-field {
        textarea {
          width: 100% !important;

          &::-webkit-input-placeholder {
            line-height: 14px;
          }

          &::-moz-placeholder {
            line-height: 14px;
          }

          &:-ms-input-placeholder {
            line-height: 14px;
          }

          &:-moz-placeholder {
            line-height: 14px;
          }
        }
      }
    }

    .rating-block-container {
      .rating-label {
        font-size: 12px;
      }
    }

    .set-reminder-title {
      margin-bottom: 20px;

      h3 {
        margin-bottom: 0;
      }

      span {
        margin-left: 7px;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  .modal-footer {
    display: flex;
    align-items: center;
    border-top: none;
    padding: 0;

    .btn {
      &:focus {
        outline: none;
        box-shadow: none;
      }

      &.next {
        width: 100%;
        border: none;
        border-radius: 0 0 6px 6px;
        padding: 14px 10px 15px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
      }
    }
  }

  .grid-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .grid-3 {
    display: flex;
    flex-direction: column;
    width: 100%;

    .reminder-input:not([name="[location]"]) {
      max-width: 100% !important;
      width: 100% !important;
      text-align: left;
      padding: 5px 15px;
    }
  }

  .radio-container {
    display: flex;
    flex-wrap: wrap;

    .radio-button {
      & > div {
        justify-content: center !important;
        text-align: center;
        min-width: 105px;
        padding: 0 5px !important;
        background-color: $light-gray-9;
      }

      input:checked ~ div {
        background-color: #fff;
      }
    }

    &.grid-2,
    &.flex-grid-2 {
      justify-content: space-between;

      &.wide-item {
        justify-content: center;

        .radio-button {
          width: 100%;

          & + .radio-button {
            margin-top: 15px;
          }
        }
      }

      .radio-button {
        width: 100% !important;
        margin-top: 15px;

        &:first-child {
          margin-top: 0 !important;
        }

        & + .radio-button {
          margin-left: 0 !important;
        }
      }

      @media (max-width: 767px) {
        .radio-button {
          width: calc(50% - 8px);
        }
      }
    }

    &.grid-3,
    &.flex-grid-3 {
      justify-content: center;

      .radio-button {
        width: 100%;

        & + .radio-button {
          margin-top: 15px;
        }
      }
    }

    &.grid-4 {
      justify-content: space-between;

      .radio-button {
        width: calc(50% - 5px);
      }
    }
  }

  .reminder-select {
    width: 100%;
  }

  .react-datepicker__input-container {
    .datepicker-example {
      height: 45px;
    }
  }

  .inputs-group.wide-inputs {
    input {
      min-width: 225px;
    }
  }
}

.toggle-personal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-gray-6;
  font-size: 14px;

  .react-switch {
    .react-switch-bg {
      background-color: #c1cad4 !important;
    }
  }

  .react-switch-handle {
    outline: none;
  }

  .react-switch-bg {
    svg {
      display: none;
    }
  }

  span + span {
    margin-left: 15px;
  }
}

.see-more,
.show-more,
.show-less {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border: 1px solid $base-border;
  border-radius: 6px;
  background-color: $see-more-bg;

  &:hover {
    background-color: rgba(50, 57, 73, 0.1);
  }

  .show-more-wrap > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 11px 0;
    color: $main-text-color;
    line-height: 1.4;
    font-size: 12px;
    text-align: center;
    transition: all 0.2s;
  }
}

.show-more-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.show-more-icon,
.show-less-icon {
  position: relative;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  border: 1px solid $light-gray-7;
  border-radius: 50%;
  color: $light-gray-7;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.2s;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.show-less-icon {
  font-size: 26px;
}

.show-more-icon::after {
  content: '+';
}

.show-less-icon::after {
  content: '-';
  width: 9px;
}

.recommendation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: -15px 0 30px;
  padding: 15px;
  background: #fff;
  border: 1px solid $base-border;

  &-text {
    font-size: 14px;
    color: $main-text-color;

    p {
      line-height: 21px;
      font-size: 12px;
    }

    a {
      text-decoration: underline;
      color: $link-color;
    }
  }

  h4 {
    font-family: 'RobotoSlab';
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    color: $main-text-color;
  }

  .benefits-list {
    li {
      line-height: 18px;
      font-size: 12px;
      color: $main-text-color;
      letter-spacing: 0.3px;

      img {
        margin-right: 11px;
      }
    }
  }

  &-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }

  &-btn {
    min-width: 155px;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      color: #fff;
    }
  }

  a.recommendation-sign-btn {
    min-width: 180px;
    align-self: center;
    margin-right: 30px;
    height: 34px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s;

    &:hover {
      color: #fff;
    }

    svg {
      fill: #fff;
      margin-right: 10px;
    }
  }
}

.add-new-provider {
  font-size: 14px;
  text-decoration: underline !important;
  color: $main-text-color;
  cursor: pointer;

  &:hover {
    text-decoration: none !important;
  }

  @media (max-width: 767px) {
    text-align: center;
  }
}

@media(max-width: 991px) {
  .leaderboard {
    .reminder-main-header {
      .title-group {
        flex-wrap: wrap;
      }
    }

    .reminder-form-item .select-container:not(:last-child) {
      padding-right: 0;
    }

    .leaderboard-actions,
    .reminder-form-item {
      padding: 0 15px;
    }

    .leaderboard-actions,
    .leaderboard-actions-part {
      flex-direction: column;
    }

    .leaderboard-actions {
      padding-top: 25px;

      .toggle-personal {
        order: 3;
        margin-top: 25px;
      }
    }

    .leaderboard-actions {
      .leaderboard-actions-part {
        width: 250px;
        margin-bottom: 30px;
        text-align: center;

        .invite-link {
          justify-content: center;
          order: 2;
          margin: 0;
          padding: 0;
        }

        .edit-link,
        .have-your-say-btn {
          width: 100%;
        }

        .edit-link {
          padding: 0;

          .icon {
            width: 100%;
          }
        }

        .have-your-say-btn {
          justify-content: center;
          margin-bottom: 15px;
        }
      }
    }

    .have-your-say-btn,
    .leaderboard-actions .icon-link .icon {
      height: 45px;
    }

    .edit-link {
      .icon {
        background-color: #fff;
      }
    }

    .leaderboard-table {
      thead {
        td {
          font-weight: 400;
          font-size: 12px;
          color: $main-text-color;
        }
      }
    }

    .leaderboard-social-list {
      order: 1;
      margin: 0 0 16px 0;

      .SocialMediaShareButton {
        width: 45px;
        height: 45px;

        & + .SocialMediaShareButton {
          margin-left: 15px;
        }

        svg {
          width: 13px;
          height: 13px;
        }

        &.email {
          border-color: $email-color;

          .icon {
            g,
            path {
              fill: $email-color;
            }
          }
        }

        &.facebook {
          border-color: $facebook-color;

          .icon {
            g,
            path {
              fill: $facebook-color;
            }
          }
        }

        &.twitter {
          border-color: $twitter-color;

          .icon {
            g,
            path {
              fill: $twitter-color;
            }
          }
        }

        &.linkedin {
          border-color: $linkedIn-color;

          .icon {
            g,
            path {
              fill: $linkedIn-color;
            }
          }
        }

        &.whatsApp {
          border-color: $whatsApp-color;

          .icon {
            g > path:first-child {
              fill: $whatsApp-color;
            }
          }
        }
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .leaderboard {
    .leaderboard-actions {
      padding-bottom: 10px;

      .leaderboard-actions-part {
        margin-bottom: 20px;

        .invite-link {
          font-size: 14px;
        }
      }
    }

    .reminder-main-body {
      .second-filter {
        padding-top: 20px;

        .reminder-form-item {
          flex-wrap: wrap;

          .select-container {
            width: calc(50% - 12px);
            margin-bottom: 20px;

            &:nth-child(even) {
              margin-left: 12px;
            }
          }
        }
      }

      .top-filters {
        padding-bottom: 25px !important;
      }
    }

    .reminder-select .Select__control,
    .location-select .location-search input {
      height: 40px !important;
    }

    .leaderboard-social-list {
      margin-bottom: 20px !important;
    }
  }
}

@media (max-width: 767px) {
  .leaderboard {
    &-container {
      width: 100%;
    }

    .main-subheader {
      display: none;
    }

    .reminder-main-header {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 60px;

      .title-group {
        width: 100%;
        margin-bottom: 0;
        justify-content: center;

        h3 {
          justify-content: center;
        }

        .calendar-join {
          justify-content: center;
          width: 100%;
          margin: 15px auto 0;
        }
      }

      .search-box {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 100%;
        align-self: center;
        margin-left: 0;
        border-top: 1px solid $base-border;
        border-bottom: 1px solid $base-border;
        border-radius: 0;

        input {
          height: 50px;

          &::-webkit-input-placeholder {
            line-height: 25px;
          }

          &::-moz-placeholder {
            line-height: 25px;
          }

          &:-ms-input-placeholder {
            line-height: 25px;
          }

          &:-moz-placeholder {
            line-height: 25px;
          }
        }
      }
    }

    .search-box {
      width: 100%;
    }

    .reminder-main-body {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding-bottom: 0;
      background-color: $reminder-body-bg;

      .reminder-form-item-filter {
        padding: 0 !important;

        .select-container + .select-container {
          margin-top: 10px;
        }
      }

      .second-filter {
        padding: 0;

        &.sorting {
          .reminder-select .Select__control {
            min-height: 50px;
            border-top: 1px solid $base-border;
            border-bottom: 1px solid $base-border;
          }
        }

        & + .second-filter {
          margin-top: 10px;
        }

        .reminder-form-item {
          margin: 0;
          padding: 0;
          background-color: #fff;
        }

        .clear-all-container {
          border-bottom: 1px solid $base-border;
          padding: 14px 15px;
          background-color: #fff;

          .reminder-btn {
            border: none;
          }
        }
      }

      .select-container {
        position: relative;
        margin-bottom: 0;

        .input-label {
          position: absolute;
          top: 14px;
          right: 50px;
          width: auto;
          font-size: 14px;
          z-index: 1;
        }

        .location-search {
          width: 100%;
          background-image: url($rails-images-path + 'svg/search.svg');
          background-repeat: no-repeat;
          background-size: 14px;
          background-position: calc(100% - 20px) 22px;

          input {
            height: 60px;
            width: calc(100% - 100px) !important;
            border: none;
            padding-left: 10px;
            color: $main-text-color;
            font-size: 16px;
            box-shadow: none;
          }
        }

        .location-search,
        .Select__control {
          min-height: 50px;
          padding: 0 10px;
          border-left: none;
          border-right: none;
          font-size: 14px;

          .Select__dropdown-indicator {
            transform: rotate(-90deg);
            background-position: center;
          }
        }

        .reminder-select {
          .Select__control {
            font-size: 14px;
          }

          .Select__menu {
            position: static !important;
            margin: 0;
            border: none;
            border-radius: 0;
            background-color: $reminder-body-bg;
            box-shadow: none;

            &-list {
              max-height: 385px;
            }

            .Select__option {
              border-bottom: 1px solid $tabs-border;
              padding: 20px 25px;
              background-repeat: no-repeat;
              background-position: calc(100% - 15px) 50%;
              background-size: 13px;
              color: $dark-gray;
              font-size: 14px;

              &.Select__option--is-focused,
              &.Select__option--is-selected {
                background-color: $reminder-body-bg;
              }
            }
          }
        }
      }

      .see-more {
        margin: 20px 0 0;
      }
    }

    .group-recomendations {
      margin: 25px 1rem 0;
    }
    
    .businesses-results {
      justify-content: center;
      text-align: center;
      padding: 20px 20px 15px;
      
      .result-info {
        width: 100%;
      }
      
      .result {
        display: none;
      }
    }

    .leaderboard-table {
      tbody tr:nth-child(odd) {
        background: none;
      }

      td {
        padding: 0 1rem;
      }

      .mobile-table-pill {
        margin-bottom: 15px;
        border: 1px solid $base-border;
        padding: 0;
        border-radius: 6px;
        background-color: #fff;
        color: $main-text-color;
        box-shadow: 0 3px 10px 0 rgba(31, 37, 50, 0.1);
      }

      .mobile-table-pill-head {
        display: flex;
        justify-content: space-between;
        padding: 11px 15px;
        font-size: 12px;

        > span {
          display: flex;
          align-items: center;
        }

        span svg {
          margin-left: 10px;
        }

        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          margin-right: 5px;
          border: 1px solid $base-border;
          border-radius: 50%;
        }
      }

      .mobile-table-pill-body {
        padding: 0 15px 30px;

        .img-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          margin: 0 auto 15px;
          border: 1px solid $light-blue-gray-2;
          border-radius: 50%;
          overflow: hidden;
        }

        img {
          object-fit:cover;
        }

        p {
          margin-bottom: 20px;
          color: $dark-gray;
          font-size: 16px;
          font-weight: 500;
        }

        .table-rating-starts {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-bottom: 20px;
          color: $main-text-color;
          font-size: 12px;
          font-weight: 500;

          .rating-count {
            margin-right: 7px;
          }

          .insights {
            margin-left: 8px;
            color: $light-gray-11;
            font-size: 11px;
          }
        }

        .btn {
          display: inline-block;
          padding: 9px 10px;
          min-width: 190px;
          border: 1px solid $base-border;
          border-radius: 21px;
          background-color: transparent;
          color: $dark-gray;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .mobile-table-pill-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $base-border;
        padding: 15px;
        font-size: 12px;

        .scale {
          flex-grow: 1;
          height: 15px;
          margin: 0 15px;
          border: 1px solid $base-border;

          .fill {
            height: 100%;
          }
        }
      }
    }

    .widget-container {
      margin: 25px 1rem 0;
    }
  }

  .filterPopUp {
    .radio-container {
      display: flex;

      .radio-button + .radio-button {
        margin-left: 15px;
      }
    }

    .reminder-input {
      width: 100%;
    }
  }

  .filter-modal {
    width: 100%;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
    }
  }

  .see-more {
    border: solid 1px $base-border;
    border-radius: 6px;
    padding: 9px 0;
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  .leaderboard {
    &-container {
      .filterPopUp {
        position: absolute;
        top: calc(100% - 3px);
        left: 7px;
        width: 330px;
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
        border: solid 1px $tabs-border;
        z-index: 20;
      }
    }

    .leaderboard-actions {
      //border-bottom: 1px solid $base-border;

      .add-note-link,
      .have-your-say-btn {
        display: none;
      }
    }

    .best-sorting {
      display: none;
    }

    .reminder-main-header {
      border-radius: 4px 4px 0 0;

      .search-box {
        min-width: 200px;
        width: 200px;
        margin-left: 10px;
      }
    }

    .reminder-main-body {
      .second-filter {
        .clear-all-container {
          display: none;
        }
      }
    }

    .leaderboard-table {
      border-collapse: separate;
      border-spacing: 0 10px;

      tbody {
        tr {
          box-shadow: 0 3px 10px 0 rgba(31, 37, 50, 0.08);

          td {
            min-height: 80px;
            border-top: solid 1px $base-border;
            border-bottom: solid 1px $base-border;
            padding: 14px 7px;
            font-size: 14px;
            background-color: #fff;
            vertical-align: middle;

            &:first-child {
              border-left: solid 1px $base-border;
              border-radius: 6px 0 0 6px;
            }

            &:last-child {
              border-right: solid 1px $base-border;
              border-radius: 0 6px 6px 0;
            }
          }
        }
      }
    }

    .location-select .location-search {
      input {
        border-color: $base-border;
        height: 35px;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(29, 32, 49, 0.05);
        padding-right: 30px;
        background-image: url($rails-images-path + 'svg/search.svg');
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: calc(100% - 12px) 10px;
      }
    }

    .sorting-desktop,
    .leaderboard-actions {
      padding-left: 20px;
      padding-right: 20px;
      border-left: 1px solid $base-border;
      border-right: 1px solid $base-border;
      background-color: $filter-bg;
    }

    .filter-result {
      justify-content: flex-start;
      border: 1px solid $base-border;
      background-color: $filter-bg !important;
      border-radius: 0 0 4px 4px;

      .reminder-select {
        width: 178px !important;
      }

      .filter-item {
        & + .filter-item {
          margin-left: 20px;
          margin-bottom: 0;
        }

        .label {
          margin-right: 15px;
          color: $light-gray-6;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }

    .widget-container {
      display: none;
    }
  }

  .empty-state-leaderboard {
    margin: 30px 0;

    h3 {
      font-size: 17px;
    }

    p {
      font-size: 16px;
    }

    .empty-state-image {
      width: 126px;
      height: 96px;
    }
  }
}

@media (min-width: 992px) {
  .leaderboard {
    .leaderboard-actions {
      .leaderboard-actions-part {
        & + .leaderboard-actions-part {
          padding-left: 5px;
        }

        .invite-link {
          display: none;
          margin-right: 10px;
          font-size: 12px;
        }
      }

      .toggle-personal {
        margin-right: 20px;
      }
    }
  }
}
