.notes-wrapper {
  width: 100%;
  max-width: 600px;

  .notes-editor-container {
    margin-bottom: 25px;
    border-bottom: 1px solid $base-border;
    background-color: $top-bar-bg;
  }

  .notes-header {
    border-bottom: 1px solid $base-border;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.23px;
    color: #fff;
    text-align: center;
  }

  .notes-editor {
    padding: 20px;

    textarea,
    .reminder-input {
      &::-webkit-input-placeholder {
        color: $light-gray-6;
      }

      &::-moz-placeholder {
        color: $light-gray-6
      }

      &:-ms-input-placeholder {
        color: $light-gray-6;
      }

      &:-moz-placeholder {
        color: $light-gray-6;
      }
    }

    textarea {
      width: 100%;
      height: 140px;
      padding: 12px 15px;
      font-size: 14px;
      resize: none;
      outline: none;
      border: 1px solid $base-border;
      border-radius: 3px;
    }

    .reminder-input {
      width: 100%;
      height: 45px;
      margin-bottom: 20px;
      padding: 12px 15px;
      line-height: 20px;
      font-size: 14px;
    }
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .btn {
      width: 170px;
      padding: 8px 10px 9px;
      border: solid 1px transparent;
      border-radius: 4px;
      background-color: #fff;
      font-size: 14px;
      transition: none;
    }

    .spinner-border {
      margin-right: 15px;
      margin-left: -10px;
    }
  }

  .files-box {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .file-uploader + .file-uploader {
      margin-left: 10px;
    }
  }

  .notes-container {
    padding: 0 20px;

    .notes-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      .notes-count {
        min-width: 140px;
        border-radius: 4px;
        padding: 10px 7px;
        background-color: #fff;
        font-size: 14px;
        color: $main-text-color;
        text-align: center;
      }

      .year-switcher {
        display: flex;
        align-items: center;

        .arrow {
          width: 35px;
          height: 34px;
          border: 1px solid $base-border;
          background-color: $light-gray-8;
          background-position: center;
          background-size: 13px 11px;
          background-repeat: no-repeat;
          cursor: pointer;

          &:hover {
            background-color: rgba(50, 57, 73, 0.08)
          }

          &.prev {
            border-radius: 4px 0 0 4px;
            background-image: url($rails_images_path + 'svg/slider-left-arrow.svg');
          }

          &.next {
            border-radius: 0 4px 4px 0;
            background-image: url($rails_images_path + 'svg/slider-right-arrow.svg');
          }
        }

        .year {
          min-width: 70px;
          height: 34px;
          line-height: 34px;
          border-top: 1px solid $base-border;
          border-bottom: 1px solid $base-border;
          background-color: #fff;
          font-size: 14px;
          text-align: center;
        }
      }
    }

    .note-item {
      border: 1px solid $base-border;
      border-radius: 6px;
      padding: 13px 20px 20px;
      background-color: #fff;
      color: $main-text-color;

      & + .note-item {
        margin-top: 15px;
      }

      .note-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .title {
          padding-right: 5px;
          font-size: 16px;
          font-weight: bold;
        }

        .date {
          color: $light-gray-6;
          font-size: 12px;
          white-space: nowrap;
        }
      }

      .note-body {
        p {
          line-height: 1.4;
          font-size: 14px;
          color: $main-text-color;
        }

        .see-more-text {
          margin-left: 3px;
          color: $light-gray-6;
          font-size: 14px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .attached-files {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 13px;
    padding-top: 15px;
    border-top: 1px solid $base-border;

    > div {
      margin: 0 10px 5px 0;
    }

    &.--new {
      padding-top: 16px;
      padding-bottom: 15px;
      margin-top: 0;
      margin-bottom: 20px;
      border-top: none;
      border-bottom: 1px solid $base-border;
    }

    .image-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 4px;
      border: 1px solid $base-border;
      background-color: $light-gray-8;
      cursor: pointer;

      .delete-file {
        display: none;
        position: absolute;
        margin-left: 20px;
        margin-top: -20px;
        border: 1px solid $base-border;
        border-radius: 40px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        text-decoration: none;
        background-color: #fff;
        font-size: 9px;
      }

      img {
        width: 100%;
      }

      svg {
        width: 19px;
      }
    }

    .image-box:hover, .uploaded-file:hover {
      .delete-file {
        display: block;
      }
    }

    .uploaded-file {
      display: flex;
      align-items: center;
      cursor: pointer;

      .image-box {
        margin-right: 13px;
      }

      span {
        color: $dark-gray;
        font-size: 12px;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 768px) {
  .notes-wrapper {
    .notes-editor-container {
      margin-bottom: 20px;
      border-radius: 6px;
      border: 1px solid $base-border;
    }

    .notes-header {
      padding: 15px;
      border-radius: 6px 6px 0 0;
      text-align: left;
    }

    .notes-editor {
      .reminder-input {
        margin-bottom: 15px;
      }
    }

    .form-footer {
      justify-content: flex-end;
      margin-top: 15px;
    }

    .notes-container {
      padding: 0;

      .notes-list-header {
        margin-bottom: 20px;
      }

      .note-item {
        & + .note-item {
          margin-top: 10px;
        }

        .note-body {
          .see-more-text:hover {
            text-decoration: none;
          }
        }
      }
    }

    .attached-files {
      padding-top: 20px;

      > div {
        margin: 0 12px 5px 0;
      }
    }
  }
}