.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px;
  margin: 0 -30px;
  color: $pagination;
  border-top: 1px solid $base-border;
  border-bottom: 1px solid $base-border;

  .page-number {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    margin: 0 3px;
    padding: 0 4px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover,
    &:focus {
      background-color: $pagination-hover;
      color: $main-red;
    }

    &.active {
      background-color: $main-red;
      color: #ffffff;
    }
  }

  .page-dots {
    cursor: default;
    margin: 0 7px;
    user-select: none;
  }

  &-arrow {
    display: flex;
    align-items: center;
    stroke-width: 0.5;
    stroke: $pagination-arrow;
    fill: $pagination-arrow;
    cursor: pointer;
    transition: all 0.2s;

    &:not(.disable) {
      &:hover,
      &:focus {
        stroke: $main-red;
        fill: $main-red;
      }
    }

    &.right {
      margin-left: 6px;
      transform: rotate(180deg);
    }

    &.left {
      margin-right: 6px;
    }

    &.disable {
      cursor: not-allowed;
    }
  }
}

@media (max-width: 767px) {
  .pagination {
    padding: 0;
    margin: 0 -15px;
    background-color: #fff;

    &-arrow {
      justify-content: center;
      width: 70px;
      height: 60px;
      border-left: 1px solid $base-border;
      border-right: 1px solid $base-border;

      &.right {
        margin-left: auto;
      }

      &.left {
        margin-right: auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .pagination {
    border: none;
  }
}