.rate-block {
  margin: 15px 0;
}

.rating-block-container {
  h5 {
    margin-bottom: 25px;
    color: $light-gray-6;
    font-size: 12px;
  }

  .textarea-field {
    width: 100%;
    max-width: 402px;

    & + .textarea-field {
      margin-top: 15px;
    }

    .reminder-input {
      height: 45px;
    }

    textarea.reminder-input {
      height: 120px;
    }
  }
}

.rate-icon-container {
  display: flex;
  align-items: center;

  .rate-icon-parent {
    span {
      margin-right: 8px;
    }
  }

  @media (max-width: 767px) {
    width: 100%;

    .rate-icon {
      svg {
        width: 18px !important;
      }
    }
  }

  .rate-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.active {
      .rating-bad {
        fill: $rating-bad;
      }

      .rating-normal {
        fill: $rating-normal;
      }

      .rating-good {
        fill: $rating-good;
      }

      .rating-bg {
        fill-opacity: 0.05;
      }

      .rate-value {
        color: $main-text-color;
      }
    }

    svg {
      width: 25px;
      border-radius: 50%;
      fill: #6E7F95;
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      }
    }
  }

  .rate-value {
    margin-top: 10px;
    margin-bottom: 5px;
    color: $blue-grey;
    font-size: 11px;
  }

  .star-rate-icon {
    cursor: pointer;

    & + .star-rate-icon {
      margin-left: 7px;
    }

    &.active {
      svg {
        fill: $active-star;
        opacity: 1;
      }
    }

    svg {
      fill: $default-star;
      opacity: .2;
    }
  }

  .rating-value {
    margin-left: 14px;
    color: $main-text-color;
    font-size: 16px;
  }
}

.rate-progress-bar {
  position: relative;
  width: 327px;
  padding: 0 7px 0 9px;

  @media (max-width: 767px) {
    width: 100%;

    .active-bar {
      &.full {
        width: 100% !important;
      }
    }

    .dash {
      &-first {
        left: 177px !important;
      }

      &-second {
        left: 229px !important;
      }
    }
  }

  hr {
    height: 3px;
    margin: 0;
    border: 0;
    border-radius: 1.5px;
  }

  .default-bar {
    width: 100%;
    background-color: $base-border;
  }

  .active-bar {
    position: absolute;
    background-color: $main-red;
    z-index: 2;
    &.hidden {
      opacity: 0;
    }

    &.full {
      width: 311px !important;
    }
  }

  .dash {
    position: absolute;
    top: -8px;
    display: block;
    background-color: $base-border;
    width: 2px;
    height: 18px;

    &-first {
      left: 192px;
    }

    &-second {
      left: 258px
    }
  }
}

.radio-container.rate-radio {
  .radio-button {
    display: block;

    h5 {
      margin: 6px 0 11px;
    }

    > div {
      padding-left: 13px;
      justify-content: flex-start;
    }

    .rate-text {
      display: flex;
      align-items: center;
      height: 40px;
      margin-left: auto;
      padding: 0 8px;
    }
  }
}

.rating-label {
  margin-top: 15px;
}

.textarea-field {
  textarea.reminder-input {
    height: 100px;
    padding-top: 15px;
    resize: none;
  }
}

.rating-bad {
  fill: $rating-bad;
}

.rating-normal {
  fill: $rating-normal;
}

.rating-good {
  fill: $rating-good;
}

.rating-bg {
  fill-opacity: 0.05;
}