.reminder-block {
  margin-top: 50px;
  margin-bottom: 40px;
  padding-bottom: 56px;
  background-color: $reminder-top-bg;
  color: $main-text-color;
  border: 1px solid $base-border;

  &-top {
    min-height: 80px;
    padding: 0 23px;
    display: flex;
    align-items: center;
  }

  &-title {
    font-size: 16px;
    font-family: 'Poppins', serif;
    font-weight: normal;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &-btn {
    display: block;
    width: fit-content;
    min-width: 180px;
    margin-left: auto;
    padding: 8px 0;
    border: 1px solid $base-border;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    transition: all 0.2s;

    &:hover,
    &:focus {
      box-shadow: none;
      color: #ffffff;
    }
  }


  &-filters {
    display: flex;
    align-items: center;
    margin-left: 20px;

    p {
      margin-left: 49px;
      font-size: 14px;
      align-self: center;
    }

    .year-select {
      width: 99px;
      margin-right: 15px;
    }

    @include category-select(180px);
  }

  &-dropdown {
    display: flex;
    align-items: center;
  }

  .reminder-bottom {
    position: relative;
    border-top: 1px solid $base-border;
    border-bottom: 1px solid $base-border;
  }

  .calendar-wrapper {
    width: 71%;
    margin: auto;

    .month {
      position: relative;
      min-width: 60px;
      max-width: 60px;
      height: 60px;
      padding: 10px;
      margin: 0;
      border-right: 1px solid $base-border;
      border-left: 1px solid $base-border;
      background-color: #fff;
      color: $light-gray-4;
      font-size: 12px;
      text-align: center;
      cursor: pointer;

      &-points {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
        padding: 0 5px;

        > span {
          width: 7px;
          height: 7px;
          border-radius: 50%;
        }
      }

      &.default {
        color: $month-text;
        font-weight: 500;

        &:hover {
          border: 1px solid #e5e5ea;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -2px;
          left: -1px;
          width: 104%;
          height: 3px;
        }
      }

      &:hover {
        box-shadow: 0 1px 6px rgba(29, 32, 49, 0.12);
        transform: scale(1.08);
        border-radius: 3px;
        color: $month-text;
        z-index: 10;
      }
    }

    .slick-list {
      padding: 10px 0;
      margin: -10px 0;
      max-height: 80px;
    }

    .slick-slide {
      > div {
        padding: 0 2px;
      }
    }

    .slick-next,
    .slick-prev {
      top: 40px;
      width: 134px;
      height: 60px;

      &::before {
        content: '';
        display: block;
        height: 60px;
        background-size: 9px;
        background-image: url($rails_images_path + 'svg/arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .slick-next {
      right: -134px;
      border-left: 1px solid $base-border;

      &::before {
        transform: rotate(180deg);
      }
    }

    .slick-prev {
      left: -134px;
      border-right: 1px solid $base-border;
    }
  }

  .set-reminder-text {
    text-align: center;
    margin: 5px 0 -10px;
  }
}

.reminder-message {
  color: $reminder-message-color;
  font-size: 12px;
  text-align: center;

  span {
    font-weight: 500;
  }
}

.categories-switcher {
  @include category-select('auto');

  h3 {
    margin-bottom: 17px;
    color: $main-text-color;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .reminder-block {
    margin-bottom: 25px;
    padding-bottom: 0;

    &-top {
      flex-direction: column;
      padding: 25px 20px;
    }

    &-title {
      margin-bottom: 20px;
      text-align: center;
    }

    &-btn {
      margin: 0 auto;
      border-radius: 21px;
    }

    &-filters {
      width: 230px;
      flex-direction: column;
      margin-bottom: 20px;
      margin-left: 0;

      .year-select,
      .category-select {
        width: 100%;
        margin: 0;
      }
    }

    &-dropdown {
      width: 100%;
      margin-bottom: 15px;
    }


    .reminder-bottom {
      padding: 20px 0;

      .desktopScreen {
        display: none;
      }
    }

    .calendar-wrapper {
      width: 100%;

      .slick-list {
        width: 35%;
        min-height: 85px;
        margin: 0 auto;
      }

      .slick-prev,
      .slick-next {
        top: 50%;
        width: 28%;
        height: calc(100% + 40px);
      }

      .slick-prev {
        left: 0;
      }

      .slick-next {
        right: 0;
      }

      .month {
        min-width: 65px;
        max-width: 65px;
        height: 65px;
        margin: 0 auto;
        border: 1px solid $base-border;
        border-radius: 3px;
        box-shadow: 0 2px 3px 0 rgba(26, 39, 51, 0.08);
      }
    }

    .reminder-block-btn {
      width: 230px;
      border-radius: 3px;
    }
  }

  .reminder-message-list {
    margin: 0 0 25px;
    padding: 15px;
    font-size: 13px;
    border: 1px solid $base-border;
    border-radius: 4px;
    background-color: $reminder-message-bg;
  }

  .categories-switcher,
  .categories-switcher-path {
    display: flex;
    margin-bottom: 0;
    padding: 25px 0 0;
    flex-direction: column;

    .reminder-block-dropdown {
      position: relative;
      width: 100%;
      margin-bottom: 0;
      z-index: 5;

      & + .reminder-block-dropdown {
        margin-top: 10px;
        margin-left: 0;
        z-index: 4;
      }

      .category-path-option {
        display: flex;
        align-items: center;
      }
    }

    .reminder-select {
      position: relative;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      z-index: 6;
    }
  }
  .categories-switcher-path {
    .category-path-option {
      svg {
        fill: $main-text-color;
        margin-right: 10px;
      }
    }
    .reminder-select {
      z-index: 5;
    }
  }

}

@media (max-width: 767px) {
  .reminder-block {
    display: none;
    margin-top: 30px;
    margin-bottom: 25px;

    .reminder-block-top {
      padding: 25px 30px;

      .reminder-block-title {
        margin-bottom: 25px;
      }
    }

    &-filters {
      width: 100%;
      margin-bottom: 0;
      text-align: left;

      p {
        width: 100%;
        margin: 25px 0 35px;
        text-align: center;
      }
    }

    &-dropdown {
      .css-1hwfws3 {
        padding: 9px 15px;
      }
    }

    .reminder-bottom {
      padding: 20px 0 0;
      border-bottom: none;
    }

    .calendar-wrapper {
      width: 100%;

      .slick-slider {
        padding-bottom: 85px;
      }

      .slick-list {
        width: 100%;
        min-height: 80px;
      }

      .slick-next,
      .slick-prev {
        top: calc(100% - 60px);
        width: 50%;
        height: 60px;
        border-top: 1px solid $base-border;
        background-color: $reminder-top-bg;
        transform: none;

        &::before {
          height: 100%;
        }
      }

      .slick-prev {
        left: 0;
      }

      .slick-next {
        right: 0;
        border-left-color: transparent;
      }
    }

    .reminder-block-btn {
      margin-top: 15px;
    }
  }

  .reminder-message-list {
    margin: 0 20px 25px;
  }

  .reminder-message {
    text-align: left;

    & + .reminder-message {
      margin-top: 13px;
    }
  }

  .reminder-block-dropdown {

    .Select__control {
      border-radius: 0;
      border-left: none;
      border-right: none;
    }
  }

  .categories-switcher,
  .categories-switcher-path {
    .reminder-select {
      max-width: 100%;

      .Select__control {
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .reminder-message-list {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
  }
}