.top-bar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 103px;
  border-bottom: 1px solid $base-border;
  background-color: $top-bar-bg;

  &-link {
    position: relative;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-text-color;
    border: 1px solid $base-border;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    font-size: 14px;
    transition: all 0.1s;
    cursor: pointer;
    flex-direction: column;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      left: -1px;
      width: calc(100% + 2px);
      height: 3px;
      z-index: 3;
    }

    svg {
      height: 20px;
      transition: all 0.2s;
    }

    &:last-child {
      border-right-color: $base-border;
    }

    &.active {
      color: $dark-gray;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $main-text-color;
    }
  }

}

.reminder-top-bar {
  .top-bar {
    &-link {
      background-color: #fff;

      &:hover,
      &.active {
        background-color: #fff;
      }

      svg {
        width: 51px;
        height: 46px;
      }

      &.insurance {
        &:hover,
        &.active {
          &:after {
            background-image: $insurance-gradient;
          }
        }

        .landing-category-icon {
          background-color: $insurance-pale;
        }

        //svg {
        //  fill: $insurance-brighter;
        //
        //  > g > path,
        //  g > g + path,
        //  circle {
        //    fill: $insurance-brighter;
        //  }
        //
        //  g > g > path {
        //    stroke: $insurance-brighter;
        //  }
        //}
      }

      &.broadband {
        &:hover,
        &.active {
          &:after {
            background-image: $broadband-gradient;
          }
        }

        .landing-category-icon {
          background-color: $broadband-pale;
        }

        //svg {
        //  fill: $broadband-brighter;
        //
        //  > g > ellipse,
        //  > g > path,
        //  g > g + path,
        //  circle {
        //    fill: $broadband-brighter;
        //  }
        //
        //  g > path,
        //  > g > g > ellipse,
        //  g > g > path {
        //    stroke: $broadband-brighter;
        //  }
        //}
      }

      &.energy {
        &:hover,
        &.active {
          &:after {
            background-image: $energy-gradient;
          }
        }

        .landing-category-icon {
          background-color: $energy-pale;
        }
        //svg {
        //  fill: $broadband-brighter;
        //
        //  > g > path,
        //  g > g + path,
        //  circle {
        //    fill: $energy;
        //  }
        //
        //  g > g > path {
        //    stroke: $energy-brighter;
        //  }
        //}
      }

      &.subscriptions {
        &:hover,
        &.active {
          &:after {
            background-image: $subscription-gradient;
          }
        }

        .landing-category-icon {
          background-color: $subscription-pale;
        }

        //svg {
        //  path {
        //    fill: $subscription-brighter;
        //  }
        //
        //  #Group-8 path {
        //    stroke: $subscription-brighter;
        //  }
        //}
      }

      &.business {
        &:hover,
        &.active {
          &:after {
            background-image: $business-gradient;
          }
        }

        .landing-category-icon {
          background-color: $business-pale;
        }

        //svg {
        //  fill: $business-brighter;
        //}
      }

      .landing-category-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
        margin-top: 3px;
        margin-bottom: 0 !important;
        border-radius: 50%;
      }

      span {
        margin-top: 9px;
      }
    }
  }
}

@media (max-width: 767px) {
  .reminder-top-bar {
    .top-bar {
      .slick-list {
        width: 100%;
      }

      .top-bar-link,
      .top-bar-link.active {
        color: $main-text-color !important;
        font-size: 13px;
      }

      .top-bar-link {
        .landing-category-icon {
          height: 45px;
          width: 45px;
        }

        span {
          margin: 8px 0 10px;
        }
      }

      .slick-next,
      .slick-prev {
        width: 60px;
      }
    }
  }
}
