.reminder {
  min-height: calc(100vh - 60px - 47px);
  padding-bottom: 50px;
  background-color: $reminder-bg;

  .main-wrapper {
    display: flex;

    .reminder-sidebar {
      width: 250px;
      flex-shrink: 0;
      padding: 0 30px 0 0;
    }

    .col-lg-9 {
      padding-right: 0;
    }

    .info-sidebar-container {
      padding-left: 25px;
    }
  }

  .details-wrapper, .have-your-say-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .info-sidebar {
      flex-shrink: 0;
      align-self: flex-start;
      width: 161px;
      margin-left: 20px;

      &:empty {
        opacity: 0;
      }
    }

    .reminder-main {
      width: 100%;
      height: fit-content;
    }
  }

  .have-your-say {
    .reminder-main-header {
      padding: 0;
      border-radius: 4px 4px 0 0;

      h3 {
        width: 100%;
        justify-content: center;
        font-size: 14px;
      }
    }

    .subheader {
      p {
        color: $dark-gray;
      }
    }

    .reminder-main-body {
      border: 1px solid $base-border;
      border-radius: 6px;
      padding: 0;
      background-color: $reminder-bg;

      .tabs {
        .nav-link {
          padding: 15px 10px;
          border: none;
          border-bottom: 1px solid transparent;
          background: none;
          color: #6E7F95;
          font-size: 12px;

          &.active {
            color: $main-text-color;
          }
        }

        .tab-content {
          background-color: #fff;

          .header-subtitle {
            margin: 20px 0 0;
            padding: 0 20px;
          }
        }
      }

      .nav-tabs {
        border-bottom: 1px solid $base-border;
        border-radius: 4px 4px 0 0;
      }

      .vote-wizard-pill {
        padding: 25px 20px 15px;
        border-bottom: 1px solid $base-border;

      }

      .vote-wizard-pill-head {
        color: $dark-gray;
        display: flex;
        font-size: 12px;
        justify-content: space-between;
      }

      .mobile-form {
        .vote-wizard-pill-head {
          padding-top: 13px;
        }
      }

      .vote-wizard-pill-body {
        .title {
          margin: 10px 0 0;
          font-size: 14px;
          font-weight: 500;
        }

        .points {
          color: $light-gray-4;
          font-size: 12px;
          font-weight: 500;
        }

        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin: 0 auto;

          svg {
            max-width: 21px;
          }
        }
      }

      .form-bottom {
        padding: 23px 5px;
        border-radius: 0 0 4px 4px;
        background-color: #fff;

        .btn-container {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          .reminder-btn {
            line-height: 1.5;
          }

          .red-checkbox {
            margin-top: 10px;
            text-align: left;
          }
        }

        .btn {
          min-width: 200px;
          margin-bottom: 20px;
          padding: 10px;
          outline: none;
          font-size: 14px;
          font-weight: 500;
          box-shadow: none;

          &:hover {
            opacity: .9;
          }

          &.next {
            color: #fff;
          }
        }

        p {
          color: $light-gray-4;
          font-size: 12px;
        }
      }
    }
  }

  &-title {
    color: $main-text-color;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 44px 0 13px;

    @media(max-width: 500px) {
      margin: 40px 0 40px;
    }
  }

  &-btn {
    display: block;
    width: fit-content;
    min-width: 200px;
    margin: 0 auto;
    padding: 12px 15px;
    border: 1px solid $main-red;
    border-radius: 21px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    transition: all 0.2s;

    &:hover,
    &:focus {
      background-color: $main-red;
      box-shadow: none;
      color: #ffffff;
    }

    &.small-btn {
      min-width: 180px;
      padding: 9px 15px;
      font-size: 14px;
    }

    &.xsmall-btn {
      min-width: 160px;
      padding: 9px 15px;
      font-size: 14px;
    }
  }

  .points-info {
    color: $main-red;
    font-size: 12px;
    text-align: center;
    margin-top: 7px;

    img {
      margin-left: 7px;
    }
  }

  &-main {
    margin-bottom: 30px;

    &-header {
      padding: 0 8px 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      height: auto;

      h3 {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.23px;
      }

      p {
        margin-left: 10px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.2px;
      }

      .dropdown {
        margin-left: auto;
        flex-shrink: 0;
      }

      .header-dropdowns {
        display: flex;
        flex-shrink: 0;
      }

      .year-dropdown {
        width: 83px;
        margin-right: 8px;
      }

      .details-dropdown {
        min-width: 170px;
        width: fit-content;
      }

      .reminder-dropdown-toggle {
        width: 100%;
      }
    }

    &-body {
      padding: 5px 0;
      border: 1px solid $base-border;
    }

    .header-subtitle {
      margin: 25px 0 -9px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;

      + div h3 {
        font-weight: normal;
      }
    }

    .reminder-form-item {
      padding: 20px 0 30px;
      border-bottom: 1px solid $base-border;

      h4, h3 {
        position: relative;
        width: fit-content;

        &::after {
          content: '';
          position: absolute;
          top: -2px;
          right: -27px;
          display: none;
          width: 17px;
          height: 17px;
          background-image: url($rails-images-path + 'svg/required.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.required {
        .Select__control, input {
          border-color: red;
        }
        // background-color: rgba($main-red, 0.05);

        // h4::after, h3::after {
        //   display: block;
        // }
      }

      h3 {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 25px;

        span {
          font-weight: normal;
          margin-left: 7px;
        }
      }

      span {
        font-size: 14px;
      }

      h4 {
        margin: 25px 0 12px;
        font-size: 14px;
        font-weight: 500;
      }

      p {
        font-size: 14px;
      }

      .inputs-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        > span {
          width: 100%;
          margin-top: 12px;
          color: red;
          font-size: 12px;
        }
      }

      .buying-company {
        margin-bottom: 15px;
      }

      .buying-company > span {
        display: block;
        margin-top: 12px;
        color: red;
        font-size: 12px;
      }
    }

    .text-gray {
      color: $placeholder;
      margin: 0 20px;
    }
  }
}

.main-subheader {
  position: relative;
  margin: 0 0 15px;
  border: 1px solid $base-border;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 20px;
  background-color: #fff;
  text-align: center;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    z-index: 2;
  }

  &:before {
    left: 0;
    width: 150px;
    background-position: left bottom;
  }

  &:after {
    right: 0;
    width: 95px;
    background-position: right bottom;
  }

  h2,
  p {
    position: relative;
    z-index: 3;
  }
}

@media (max-width: 991px) {
  .reminder {
    .have-your-say-wrapper {
      flex-direction: column;
    }
  }
  .main-wrapper {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .reminder {
    > .container {
      padding-left: 0;
      padding-right: 0;
    }

    .have-your-say {
      .subheader {
        &:before {
          width: 185px;
        }

        &:after {
          width: 120px;
        }

        p {
          line-height: 1.4;
        }
      }

      .reminder-main-body {
        background: none;
        border: none;
        padding: 0 10px;

        .form-slider {
          height: auto;
          margin: 0;
          border-radius: 6px;
          padding: 15px;

          & + .form-slider {
            margin-top: 10px;
          }

          .form-slider-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 45px;
            height: 45px;

            svg {
              max-width: 20px;
            }
          }

          .form-title-text {
            display: flex;
            flex-direction: column;
          }

          .title {
            margin-bottom: 3px;
            color: $main-text-color;
            font-size: 14px;
            font-weight: 500;
          }

          .sub-title {
            color: $light-gray-4;
            font-size: 12px;
            font-weight: 500;
          }

          .step {
            font-size: 12px;
            color: $light-gray-4;

            svg {
              width: 12px;
              margin-right: 10px;
            }
          }
        }

        .vote-wizard-pill {
          border-bottom: none;
          padding: 10px 15px 15px;

          &.last-step + .have-your-say-bottom {
            padding-top: 0;
          }
        }

        .vote-wizard-pill-body {
          p {
            margin: 8px auto 0;
            line-height: 1.4;
            color: $dark-gray;
            font-size: 14px;
          }

          .points {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .wizard-pill-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          margin: 0 auto 15px;
          border-radius: 50%;

          svg {
            max-width: 31px;
          }
        }

        .form-bottom {
          padding: 0px 15px 25px;

          .btn-container {
            flex-direction: column;

            .btn {
              width: 100%;
            }
          }
        }

      }
    }

    .have-your-say-wrapper,
    .details-wrapper {
      flex-direction: column;

      .info-sidebar {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media(max-width: 550px) {
  .reminder-main-header {
    flex-wrap: wrap;
    padding: 15px;

    .header-dropdowns {
      flex-wrap: wrap;
      width: 100%;
    }

    .year-dropdown,
    .details-dropdown {
      width: 100%;
      margin-right: 0;
      margin-top: 15px;

      .reminder-dropdown-toggle {
        height: 42px;

        &::after {
          top: 18px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .have-your-say-wrapper {
    .reminder-main-body {
      background-color: #fff;

      .form-bottom {
        .btn + .btn {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .main-wrapper {
    margin-top: 65px;
  }
}