.renewal-details {
  .reminder-main-body {
    padding: 0 20px;
  }

  .reminder-form-item {
    border: 0;
    margin: 0 -20px;
    padding: 13px 20px;

    h3 {
      font-weight: 500;
      margin-bottom: 20px;
    }

    h5 {
      font-size: 14px;
      margin-bottom: 12px;
      font-weight: normal;
    }

    .reminder-select .Select__control,
    .reminder-input {
      width: 100%;
      min-height: 42px;
      border-radius: 4px;
    }

    .hint {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
    }
  }

  .buying-company {
    h4 {
      margin: 0 0 15px;
      font-weight: normal;
    }
  }

  .provider {
    position: relative;
    grid-gap: 35px;
    margin-top: 15px;

    .text-gray {
      position: absolute;
      top: 13px;
      left: 50%;
      margin: 0;
      transform: translateX(-50%);
    }

    div:last-child {
      grid-area: 1 / 2 / 2 / 3;
    }
  }

  &-btn {
    padding: 30px 0;
  }

  @media(max-width: 550px) {
    .provider {
      grid-gap: 15px;

      .text-gray {
        display: none;
      }

      div:last-child {
        grid-area: unset;
      }
    }
  }
}