.reminder-sidebar {
  .card-body {
    padding: 17px 0;
  }

  .reminder-category-title {
    position: relative;
    padding: 5px 3px 5px 25px;
    border-top: 1px solid $sidebar-border;
    color: $main-text-color;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    cursor: pointer;

    &.subscribed::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 11px;
      height: 12px;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    svg {
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      width: 11px;
      height: 7px;
      transform: translateY(-50%) rotate(-90deg);
      transition: all 0.2s;
      fill: $category-arrow-color;
      stroke: $category-arrow-color;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 0.5;
    }

    &:hover {
      svg {
        fill: $main-text-color;
        stroke: $main-text-color;
      }
    }

    &.open {
      border-bottom: 1px solid $sidebar-border;

      svg {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  .reminder-category:last-child .reminder-category-title {
    border-bottom: 1px solid $sidebar-border;
  }

  a.nav-link {
    margin-bottom: 7px;
    padding: 5px 15px;
    border-radius: 3px;
    color: $sidebar-text;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 28px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover, &:focus {
      color: $main-text-color;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(71, 71, 71, 0.08);
    }

    &.active {
      background-color: #fff;
      border: 1px solid $base-border;
      color: $main-text-color;
    }

    svg {
      margin-right: 15px;
      fill: $sidebar-text;
    }
  }

  .show-more,
  .show-less {
    margin-top: 10px;
    font-size: 12px;
  }

  .show-more-wrap {
    justify-content: flex-end;
  }

  .widget-container {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
