.steps-container {
  display: flex;
  justify-content: center;
  margin: 0 -20px;
  padding-top: 27px;
  padding-bottom: 20px;

  .step {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 25%;
    text-align: center;
    cursor: pointer;

    &-0 {
      .step-line {
        display: none;
      }
    }

    &-circle {
      position: relative;
      width: 32px;
      height: 32px;

      .step-num {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-width: 1px;
        border-style: solid;
        background-image: url($rails_images_path + 'svg/check-white.svg');
        background-position: center;
        background-size: 13px;
        background-repeat: no-repeat;
        border-radius: 50%;
        color: transparent;
        font-size: 16px;
        z-index: 2;
        transition: all 0.2s;
      }

      .step-backdrop {
        position: absolute;
        top: -5px;
        left: -5px;
        width: 42px;
        height: 42px;
        background-color: $steps-bg;
        border: 1px solid $base-border;
        border-radius: 50%;
        z-index: 1;
      }

      .step-line {
        position: absolute;
        top: 50%;
        right: 35px;
        width: 111px;
        height: 15px;
        border-top: 1px solid $base-border;
        border-bottom: 1px solid $base-border;
        background-color: $steps-bg;
        transform: translateY(-50%);
        z-index: 3;

        &-inner {
          position: absolute;
          top: 5px;
          left: -4px;
          width: 107%;
          height: 3px;
          opacity: 1;
          transition: all 0.2s;
        }
      }
    }

    &-name {
      width: 100%;
      margin-top: 18px;
      color: $radio-text;
      font-size: 12px;
      transition: all 0.2s;
    }
  }

  @for $i from 0 through 3 {
    &.active-#{$i} .step-#{$i} {
      .step-circle .step-num {
        background-color: #fff;
        background-image: none;
        color: $main-text-color;
      }

      .step-name {
        color: $main-text-color;
      }

      & ~ .step {
        .step-circle .step-num {
          border-color: $base-border;
          background-color: #fff;
          background-image: none;
          color: $main-text-color;
        }

        .step-line-inner {
          opacity: 0;
        }
      }
    }
  }
}

.steps-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  margin: 0 -20px;
  border-top: 1px solid $base-border;

  .next-button, .back-button, .leaderboard-button {
    width: 140px;
    height: 37px;
    border-radius: 19px;
    font-size: 14px;
    margin-left: 15px;
    text-align: center;
    line-height: 35px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
  }

  .next-button, .leaderboard-button {
    font-weight: 500;
    color: #fff !important;
  }

  .back-button {
    color: $main-text-color;
    border: 1px solid $light-blue-gray;

    &:hover {
      border-color: $main-red;
    }
  }
}

.steps-status {
  margin: 0 -20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid $base-border;
  border-bottom: 1px solid $base-border;
  color: $main-text-color;
  font-size: 14px;
  line-height: normal;
}

.steps-wrapper {
  margin: 0 -20px;
  padding: 0 20px;
  background-color: $secondary-bg;
}
