$categories-main:
        ('insurance', $insurance, $insurance-secondary, $insurance-dark, $insurance-pale, $insurance-gradient),
        ('broadband', $broadband, $broadband-secondary, $broadband-dark, $broadband-pale, $broadband-gradient),
        ('energy', $energy, $energy-secondary, $energy-dark, $energy-pale, $energy-gradient),
        ('subscriptions', $subscriptions, $subscription-secondary, $subscription-dark, $subscription-pale, $subscription-gradient),
        ('business', $business, $business-secondary, $business-dark, $business-pale, $business-gradient);

@each $category in $categories-main {

  .#{nth($category, 1)}-container {
    .calendar-wrapper .month.default::after {
      background-color: nth($category, 2);
    }

    .info-sidebar-header {
      background-image: nth($category, 6);
    }

    .leaderboard-actions {
      .icon-link {
        position: relative;

        &:hover {
          .icon {
            border: 1px solid nth($category, 2);
            background-image: nth($category, 6);
            color: #fff;
            text-decoration: underline;

            svg {
              fill: #fff;
            }
          }
        }

        .icon {
          svg {
            fill: nth($category, 2);
          }
        }
      }
    }

    .leaderboard {
      &-container {
        .filterPopUp {
          .btn.reminder-btn {
            border-color: nth($category, 2);
            background-color: nth($category, 2);
          }
        }

        .clear-all-container {
          .reminder-btn {
            background-image: nth($category, 6);
          }
        }

        .leaderboard-table {
          .mobile-table-pill-footer {
            > span {
              white-space: nowrap;
            }

            .fill {
              background-image: nth($category, 6);
            }
          }

          .table-link {
            &:hover {
              background-image: nth($category, 6);
            }
          }

          .table-rating {
            .CircularProgressbar-path {
              stroke: nth($category, 2);
            }
          }
        }

        .best-sorting .radio-button svg {
          fill: nth($category, 2);
        }

        .sorting-desktop {
          .filter-trigger,
          .add-note-btn {
            &.active {
              border-color: nth($category, 2);
            }

            &:hover {
              background-image: nth($category, 6);
              color: #fff;

              svg path {
                fill: #fff;
              }
            }

            svg path {
              fill: nth($category, 2);
            }
          }
        }

        .group-recomendations {
          border-color: nth($category, 2);

          .group-icon {
            background-color: nth($category, 5);

            svg {
              fill: nth($category, 2);
            }
          }
        }
      }

      .reminder-select {
        @media (max-width: 767px)  {
          .Select__option {
            &.Select__option--is-selected {
              background-image: url($rails_images_path + 'svg/checkbox-' + nth($category, 1) + '.svg');
            }

          }
        }
      }

      .mobile-filter {
        svg {
          fill: nth($category, 2)
        }
      }

      .icon-link {
        svg {
          fill: nth($category, 2);
        }
      }

      .main-subheader {
        .have-your-say-btn {
          border: 1px solid nth($category, 2);
        }
      }

      .have-your-say-btn {
        svg {
          fill: nth($category, 2);
        }

        &:hover {
          border-color: nth($category, 2);
          background-image: nth($category, 6);
          color: #fff;

          svg {
            fill: #fff;
          }
        }
      }

      .add-note-link {
        &:hover {
          svg path {
            fill: #fff;
          }
        }
      }

      .members-percent {
        background-color: nth($category, 2);
      }
    }

    .show-more-wrap {
      &:hover {
        .show-more-icon,
        .show-less-icon {
          border-color:  nth($category, 2);
        }

        .show-more-icon,
        .show-less-icon {
          color: nth($category, 2);
        }
      }
    }

    .calendar-wrapper .month:hover {
      border: 1px solid rgba(nth($category, 2), 0.45);
    }

    .reminder-details {
      .reminders-empty-text {
        svg {
          fill: nth($category, 2);
        }
      }

      .buttons-group .add-reminder-btn {
        border: 1px solid nth($category, 2);

        &:hover {
          background-color: nth($category, 2);
          color: #fff;
        }
      }
    }

    .reminder-details .buttons-group .stop-btn:not([disabled]):hover {
      border-color: nth($category, 2);
    }

    .reminder-block-btn {
      border-color: nth($category, 2);
    }

    .reminder-block-btn:hover {
      background-color: nth($category, 2);
    }

    .reminder-sidebar {
      a.nav-link.active {
        border: 1px solid rgba(nth($category, 2), 0.45);

        svg {
          fill: nth($category, 2)
        }
      }

      .reminder-category-title {
        &::before {
          background-image: url($rails_images_path + 'svg/checkbox-' + nth($category, 1) + '.svg');
        }
      }
    }

    .reminder-main-header {
      background-image: nth($category, 6);

      .join-btn:hover {
        color: nth($category, 2);

        svg {
          fill: nth($category, 2);
        }
      }
    }

    .have-your-say-bottom {
      .btn.reminder-btn {
        min-width: 140px;
        border-radius: 3px;
        border-color: nth($category, 2);
        background-image: nth($category, 6);
        color: #fff;
        box-shadow: 0 1px 2px 0 rgba(29, 32, 49, 0.1);

        &:hover {
          background-color: nth($category, 4);
        }
      }

      .red-checkbox  {
        input:checked ~ .checkmark,
        &:hover input ~ .checkmark {
          border-color: nth($category, 2);
          background-color: rgba(nth($category, 2), .1);
        }

        input:checked ~ .checkmark:after {
          background-image: url($rails_images_path + 'svg/checkbox-' + nth($category, 1) + '.svg');
        }
      }
    }

    .have-your-say-btn .icon-btn:hover svg {
      fill: nth($category, 2);
    }

    .main-subheader {
      &:before {
        background-image: url($rails_images_path + nth($category, 1) + '-banner-left.png');
      }

      &:after {
        background-image: url($rails_images_path + nth($category, 1) +  '-banner-right.png');
      }
    }

    .have-your-say {
      .datepicker-example:after {
        background-image: url($rails_images_path + 'svg/calendar-' + nth($category, 1) + '.svg');
      }

      .reminder-main-body {
        .tabs {
          .nav-link {
            &.active,
            &:hover {
              border-bottom-color: nth($category, 2) !important;
            }
          }
        }
        .icon-container,
        .wizard-pill-icon,
        .form-slider-icon {
          background-color: nth($category, 5);

          svg {
            fill: nth($category, 2);
          }

          .providerDetails {
            path {
              fill: nth($category, 2);
            }
          }

          .myCriteria {
            > g {
              & > g {
                fill: nth($category, 2);
              }

              g + path {
                stroke: nth($category, 2);
              }

              path + path {
                fill: nth($category, 2);
              }
            }
          }

          .priceDetails {
            path {
              &:first-child,
              &:nth-child(2) {
                stroke: nth($category, 2);
              }

              &:last-child {
                fill: nth($category, 2);
              }
            }

            rect {
              fill: nth($category, 2);
            }
          }

          .myInsights {
            g {
              fill: nth($category, 2);
            }
          }

          .like {
            g {
              fill: nth($category, 2);
            }
          }
        }
      }

      .form-bottom {
        .next {
          background-image: nth($category, 6);
        }
      }
    }

    .radio-button input:checked ~ div {
      border-color: nth($category, 2);
    }

    .form-slider {
      .step {
        svg {
          fill: nth($category, 2);
        }
      }
      //&.active,
      //&:hover {
      //  background-color: rgba(nth($category, 2), 0.1);
      //
      //  .form-slider-icon {
      //    svg {
      //      fill: nth($category, 2);
      //    }
      //
      //    .providerDetails {
      //      path {
      //        fill: nth($category, 2);
      //      }
      //    }
      //
      //    .myCriteria {
      //      > g {
      //        & > g {
      //          fill: nth($category, 2);
      //        }
      //
      //        g + path {
      //          stroke: nth($category, 2);
      //        }
      //
      //        path + path {
      //          fill: nth($category, 2);
      //        }
      //      }
      //    }
      //
      //    .priceDetails {
      //      path {
      //        &:first-child,
      //        &:nth-child(2) {
      //          stroke: nth($category, 2);
      //        }
      //
      //        &:last-child {
      //          fill: nth($category, 2);
      //        }
      //      }
      //
      //      rect {
      //        fill: nth($category, 2);
      //      }
      //    }
      //
      //    .myInsights {
      //      g {
      //        fill: nth($category, 2);
      //      }
      //    }
      //  }
      //
      //  .toggle-button {
      //    border-color: nth($category, 3);
      //    color: nth($category, 2);
      //  }
      //}


    }

    a.recommendation-sign-btn {
      background-color: nth($category, 2);

      &:hover {
        background-color: darken(nth($category, 2), 5%);
      }
    }

    #info-icon:hover,
    #info-icon.active {
      color: nth($category, 2);
    }

    @for $i from 0 through 3 {
      .steps-container {
        .step-line-inner {
          background-color: nth($category, 2);
        }

        .step-circle .step-num {
          border-color: nth($category, 2);
          background-color: nth($category, 2);
        }

        &.active-#{$i} .step-#{$i} {
          .step-circle .step-num {
            border-color: nth($category, 2);
          }
        }
      }
    }

    .steps-buttons {
      .next-button, .leaderboard-button {
        background-color: nth($category, 2);
        border: 1px solid nth($category, 2);

        &:hover {
          background-color: darken(nth($category, 2), 10%);
          border: 1px solid darken(nth($category, 2), 10%);
        }
      }
    }

    .recommendation {
      &-btn {
        background-color: nth($category, 2);

        &:hover {
          background-color: nth($category, 4);
        }
      }
    }

    .custom-radio {
      &:hover {
        .radio-mark {
          border: 1px solid nth($category, 2);
        }
      }

      & > input:checked ~ .radio-mark {
        border: 1px solid nth($category, 2);

        &:after {
          background-color: nth($category, 2);
        }
      }
    }

    .pagination {
      .page-number {
        &:hover,
        &:focus {
          background-color: rgba(nth($category, 2), .2);
          color: nth($category, 2);
        }

        &.active {
          background-color: nth($category, 2);
          color: #ffffff;
        }
      }

      &-arrow {
        &:not(.disable) {
          &:hover,
          &:focus {
            stroke: nth($category, 2);
            fill: nth($category, 2);
          }
        }
      }
    }

    .group-recomendations {
      border-color: nth($category, 2);
    }

    .categories-switcher-path {
      .category-path-option {
        svg {
          fill: nth($category, 2);
        }
      }
    }

    .empty-state-leaderboard {
      .empty-state-image {
        background-image: url($rails_images_path + 'svg/empty-' + nth($category, 1) + '.svg');
      }

      .btn {
        border-color: nth($category, 2);

        &:hover {
          background-image: nth($category, 6);
        }
      }
    }

    .react-datepicker__input-container::after {
      background-image: url($rails_images_path + 'svg/calendar-' + nth($category, 1) + '.svg');
    }

    .notes-wrapper {
      .notes-header {
        background-image: nth($category, 6);
      }

      .form-footer {
        .btn {
          border-color: nth($category, 2);

          @media (min-width: 992px) {
            &:hover {
              background-image: nth($category, 6);
              color: #fff;
            }
          }
        }
      }

      .attached-files {
        .image-box {
          svg path {
            fill: nth($category, 2);
          }
        }
      }

      .note-header {
        .title {
          color: nth($category, 2);
        }
      }
    }

    .file-uploader:hover {
      svg path {
        fill: nth($category, 2);
      }
    }

    .reminder-select {
      .Select__menu {
        .Select__menu-list {
          .Select__option {
            &:hover {
              background-color: rgba(nth($category, 3), .2) !important;
              color: nth($category, 2) !important;
            }
          }
        }
      }
    }

    .react-switch {
      &.actived {
        .react-switch-bg {
          background-color: rgba(nth($category, 2), .35) !important;
        }
      }

      .react-switch-handle {
        background-color: nth($category, 2) !important;
      }
    }

    .red-checkbox  {
      input:checked ~ .checkmark,
      &:hover input ~ .checkmark {
        border-color: nth($category, 2);
      }

      input:checked ~ .checkmark:after {
        background-image: url($rails_images_path + 'svg/checkbox-' + nth($category, 1) + '.svg');
      }
    }
  }

  .leaderboard-modal.#{nth($category, 1)} {
    .modal-header {
      background-color: nth($category, 2);
    }
  }

  .details-modal.#{nth($category, 1)} {
    .details-button {
      button, a {
        background-image: nth($category, 6) !important;

        &:hover {
          opacity: .9;
        }
      }
    }

    .custom-radio {
      .radio-mark {
        border: 1px solid nth($category, 2);
      }

      & > input:checked ~ .radio-mark:after {
        background-color: nth($category, 2);
      }
    }

    .react-datepicker__input-container::after {
      background-image: url($rails_images_path + 'svg/calendar-' + nth($category, 1) + '.svg');
    }

    .empty-reminder-container {
      .btn {
        border-color: nth($category, 2);

        &:hover {
          background-image: nth($category, 6);
          color: #fff;
        }
      }
    }
  }

  .filter-modal.#{nth($category, 1)} {
    .filterPopUp {
      .btn.reminder-btn {
        border-color: nth($category, 2);
        background-image: nth($category, 6);
      }
    }

    .radio-button input:checked ~ div {
      border-color: nth($category, 2);
    }

    .filter-progress {
      .progress {
        background-image: nth($category, 6);
      }
    }

    .react-switch {
      &.actived {
        .react-switch-bg {
          background-color: rgba(nth($category, 2), .35) !important;
        }
      }

      .react-switch-handle {
        background-color: nth($category, 2) !important;
      }
    }

    //.top-part::-webkit-scrollbar-thumb {
    //  background-color: nth($category, 2) !important;
    //}

    .modal-footer {
      .btn.next {
        background-image: nth($category, 6) !important;
      }
    }

    .red-checkbox  {
      input:checked ~ .checkmark,
      &:hover input ~ .checkmark {
        border-color: nth($category, 2);
      }

      input:checked ~ .checkmark:after {
        background-image: url($rails_images_path + 'svg/checkbox-' + nth($category, 1) + '.svg');
      }
    }
  }

  .settings-modal.#{nth($category, 1)} {
    .signup-modal-btn {
      background-image: nth($category, 6);
    }

    //.avatar label {
    //  color: nth($category, 2);
    //}
  }

  .vote-confirm-modal.#{nth($category, 1)} {
    .btn.reminder-btn {
      min-width: 140px;
      border-radius: 3px;
      border-color: nth($category, 2);
      background-image: nth($category, 6);
      color: #fff;
      box-shadow: 0 1px 2px 0 rgba(29, 32, 49, 0.1);

      &:hover {
        opacity: .9;
      }
    }

    .red-checkbox  {
      input:checked ~ .checkmark,
      &:hover input ~ .checkmark {
        border-color: nth($category, 2);
      }

      input:checked ~ .checkmark:after {
        background-image: url($rails_images_path + 'svg/checkbox-' + nth($category, 1) + '.svg');
      }
    }
  }

  .add-note-modal.#{nth($category, 1)} {
    .notes-wrapper {
      .form-footer {
        .btn {
          border-color: nth($category, 2);

          @media (min-width: 992px) {
            &:hover {
              background-image: nth($category, 6);
              color: #fff;
            }
          }
        }
      }

      .attached-files {
        .image-box {
          svg path {
            fill: nth($category, 2);
          }
        }
      }
    }

    .file-uploader:hover {
      svg path {
        fill: nth($category, 2);
      }
    }
  }

  .thank-modal.#{nth($category, 1)} {
    .thank-list .icon svg {
      fill: nth($category, 2);
    }

    .modal-footer .btn {
      background-image: nth($category, 6);
      border-color: nth($category, 2);
    }
  }

  .new-provider-modal.#{nth($category, 1)} {
    .btn {
      background-image: nth($category, 6);
    }
  }

  .info-message.#{nth($category, 1)} {
    border-color: nth($category, 2);
  }
}
