/ header_background

= title ||= ''
= c_title ||= ''
%table{align: "center", background: "", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:transparent url(#{asset_host}/images/home-image.jpg) center / auto no-repeat;background-size: cover;width:100%;"}
  %tbody
    %tr
      %td{style: "direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top;"}
        .mj-column-per-100{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
          %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
            %tbody
              %tr
                %td{align: "center", style: "background:transparent;font-size:0px;padding:25px 25px 0px 25px;padding-top:25px;padding-bottom:0px;word-break:break-word;"}
                  %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:collapse;border-spacing:0px;"}
                    %tbody
                      %tr
                        %td{ style: "width:26px;" }
                          = image_tag("#{asset_host}/images/#{@root_category&.en_name}-icon.png", height: "33", style: "border-radius:3px;", width: "26")
              %tr
                %td{align: "left", style: "background:transparent;word-break:break-word;"}
                  %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}
                    %p{style: "line-height:22px;margin: 15px 0;text-align:center;font-size:20px;font-weight:700;text-decoration:none;color:#ffffff;font-family:Helvetica,Arial,sans-serif;"}
                      = c_title
              %tr
                %td{align: "left", style: "background:transparent;word-break:break-word;padding-bottom: 25px;"}
                  %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}
                    %p{style: "line-height: 22px; margin: 0; text-align: center;font-family:Helvetica,Arial,sans-serif;font-size:17px;color:#ffffff"}
                      = title
