%div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"}
  %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
    %tbody
      %tr
        %td{style: "direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;"}
          .mj-column-per-100.outlook-group-fix{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
            %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
              %tbody
                %tr
                  %td{align: "center", style: "font-size:0px;padding:10px 25px;word-break:break-word;"}
                    %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:collapse;border-spacing:0px;"}
                      %tbody
                        %tr
                          %td{style: "width:186px;"}
                            = image_tag("#{asset_host}/images/renewal-diary.png", height: 'auto', style: 'border:none;display:block;outline:none;text-decoration:none;height:auto;width:186px;Margin: 0 auto;', width: '186')
                        %tr
                          %td{style: "padding-top: 20px;"}
                            %p{style: "font-family:Arial, sans-serif;line-height: 24px; margin: 0; text-align: center;font-family:Helvetica,Arial,sans-serif;font-size: 13px;color:#323949"}
                              %i{style: "font-style:italic;"}
                                Let's make smarter decisions together