%table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
  %tbody
    %tr
      %td{align: "left", style: "background:transparent;font-size:0px;padding:0px 15px 0px 15px;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px;word-break:break-word;"}
        %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}
          :css

          %p{style: "font-family:Helvetica,Arial,sans-serif;line-height: 35px; margin: 5px 0; text-align: center;font-size: 16px;color: #959ba3;"}
            %span{style: "font-size:16px"}
              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                %span{style: "color:#323949"} Your current smart reminder status is
            %span{style: "color:#{@smart_reminder.status}"}
              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                %span{style: "font-size:16px"}
                  %b{style: "font-weight:700"}
                    %span{style: "font-weight:700"}
                      = @smart_reminder.status
