%div{style: "line-height:0;font-size:0;"}
  %div{style: "background:#1F2532;background-color:#1F2532;Margin:0px auto;max-width:600px;font-family:Helvetica,Arial,sans-serif"}
    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "width:100%;"}
      %tr
        %td{style: "border:0px solid #09a965;direction:ltr;font-size:11px;padding: 15px;padding-bottom:15px;padding-left:15px;padding-right:15px;padding-top:15px;text-align:left;vertical-align:middle;color: #ffffff;line-height:13px"}
          Welcome to Renewal Diary
        %td{style: "border:0px solid #09a965;direction:ltr;font-size:11px;padding: 15px;padding-bottom:15px;padding-left:15px;padding-right:15px;padding-top:15px;text-align:right;vertical-align:middle;color: #ffffff;line-height:13px"}
          = link_to "View online version", leaderboard_category_url(id: @smart_reminder.category&.slag), style: "display: inline-block;color: #ffffff;line-height:13px", target: "_blank"


  = render 'header_background', c_title: "#{@smart_reminder.category.name} Reminder", title: "Your smart reminder for '#{@smart_reminder.category.name}' is set"

  = render 'renewal_diary_title'


  %div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"}
    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
      %tbody
        %tr
          %td{style: "border:0px solid #09a965;direction:ltr;font-size:0px;padding:20px 10px 0px 10px;padding-bottom:0px;padding-left:10px;padding-right:10px;padding-top:20px;text-align:center;vertical-align:top;"}
            %div{style: "font-size:13px;text-align:center;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
              = render 'renewal_date_table'
        %tr
          %td{style: "border:0px solid #09a965;direction:ltr;font-size:0px;padding:0px 10px 0px 10px;padding-bottom:0px;padding-left:10px;padding-right:10px;padding-top:0px;text-align:center;vertical-align:top;"}
            %div{style: "font-size:13px;text-align:center;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
              = render 'first_noitification_date_table.html'
        %tr
          %td{style: "border:0px solid #09a965;direction:ltr;font-size:0px;padding:0px 10px 0px 10px;padding-bottom:0px;padding-left:10px;padding-right:10px;padding-top:0px;text-align:center;vertical-align:top;"}
            %div{style: "font-size:13px;text-align:center;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
              = render 'status_table'