.btn {
  &.btn-empty {
    border: 1px solid $light-gray-2;
    color: $empty-btn-color;
    background: none;
    box-shadow: none;
  }

  &.cancel {
    background-color: $cancel-btn-bg;
    color: $light-gray-4;

    &:focus,
    &.active {
      background-color: $cancel-btn-bg !important;
      color: $light-gray-4 !important;
    }
  }

  &.delete-btn {
    border: none;
    padding: 10px 10px;
    background-color: $delete-red;
    line-height: 1;
    font-size: 14px;

    &:hover {
      background-color: darken($delete-red, 10%);
    }
  }
}