.pick-group-block {
  padding-top: 40px;
  background-color: #ffffff;
  text-align: center;
  letter-spacing: 0.03rem;

  p {
    font-size: .9rem;
    color: $dark-blue-grey;
  }

  h3 {
    &.pick-text {
      margin-bottom: 40px;
      font-family: 'Poppins', serif;
      color: #21314e;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.18px;
      text-align: center;
    }
  }

  .groups-block {
    .group-box {
      width: 13.3rem;
      margin: 0 8px 10px;
      display: inline-block;
      @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.15));

      .-title, .-subtitle {
        font-size: 1.25rem;
        letter-spacing: .2px;
        color: #fff;
      }

      .-title {
        border-radius: 4px 4px 0 0;
        padding: 0.8rem 0;
        background-color: #fff;
        border-top: 3px solid;
        border-bottom: 1px solid $tabs-border;
        color: $category-title-color;
        font-family: HelveticaNeueCyr;
        font-size: 18px;
        text-transform: uppercase;

        &::before {
          content: '';
          position: relative;
          top: 2px;
          display: inline-block;
          height: 19px;
          margin-right: 12px;
          margin-left: -5px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      &.insurance {
        .-title {
          border-top-color: $insurance;

          &::before {
            width: 16px;
            background-image: url($rails_images_path + 'svg/insurance-white.svg');
          }
        }

        .red-checkbox {
          input:checked ~ .checkmark,
          &:hover input ~ .checkmark {
            border-color: $insurance;
            background-color: rgba($insurance, .1);
          }

          input:checked ~ .checkmark:after {
            background-image: url($rails_images_path + 'svg/checkbox-insurance.svg');
          }
        }

        .scroll-group-container::-webkit-scrollbar-thumb {
          background-color: $insurance !important;
        }
      }
      &.broadband {
        .-title {
          border-top-color: $broadband;

          &::before {
            width: 16px;
            background-image: url($rails_images_path + 'svg/broadband-white.svg');
          }
        }

        .red-checkbox {
          input:checked ~ .checkmark,
          &:hover input ~ .checkmark {
            border-color: $broadband;
            background-color: rgba($broadband, .1);
          }

          input:checked ~ .checkmark:after {
            background-image: url($rails_images_path + 'svg/checkbox-broadband.svg');
          }
        }
        .scroll-group-container::-webkit-scrollbar-thumb {
          background-color: $broadband !important;
        }
      }
      &.energy {
        .-title {
          border-top-color: $energy;

          &::before {
            width: 18px;
            background-image: url($rails_images_path + 'svg/energy-white.svg');
          }
        }

        .red-checkbox {
          input:checked ~ .checkmark,
          &:hover input ~ .checkmark {
            border-color: $energy;
            background-color: rgba($energy, .1);
          }

          input:checked ~ .checkmark:after {
            background-image: url($rails_images_path + 'svg/checkbox-energy.svg');
          }
        }
        .scroll-group-container::-webkit-scrollbar-thumb {
          background-color: $energy !important;
        }
      }
      &.subscriptions {
        .-title {
          border-top-color: $subscriptions;

          &::before {
            width: 15px;
            background-image: url($rails_images_path + 'svg/subscriptions-white.svg');
          }
        }

        .red-checkbox {
          input:checked ~ .checkmark,
          &:hover input ~ .checkmark {
            border-color: $subscriptions;
            background-color: rgba($subscriptions, .1);
          }

          input:checked ~ .checkmark:after {
            background-image: url($rails_images_path + 'svg/checkbox-subscriptions.svg');
          }
        }
        .scroll-group-container::-webkit-scrollbar-thumb {
          background-color: $subscriptions !important;
        }
      }
      &.business {
        .-title {
          border-top-color: $business;

          &::before {
            width: 16px;
            background-image: url($rails_images_path + 'svg/business-white.svg');
          }
        }

        .red-checkbox {
          input:checked ~ .checkmark,
          &:hover input ~ .checkmark {
            border-color: $business;
            background-color: rgba($business, .1);
          }

          input:checked ~ .checkmark:after {
            background-image: url($rails_images_path + 'svg/checkbox-business.svg');
          }
        }

        .scroll-group-container::-webkit-scrollbar-thumb {
          background-color: $business !important;
        }
      }

      .amount {
        font-size: 20px;
        color: $dark-blue-grey;
      }

      .-subtitle {
        font-size: 14px;
        background-color: #fff;
        padding: 0.6rem 0;
        color: $dark-blue-grey;
        border-bottom: 1px solid $base-border;
      }
      .category-icon {
        margin: 0 6px 4px -10px;
      }

      .scroll-group-container {
        background-color: #fff;
        height: 16.5rem;
        overflow: auto;
        padding: 0 25px;

        @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.15));

        @include webkit-scrollbar($light-gray-2, .4rem);


        ul { padding: 0 }
        li {
          margin: 0;

          > .category-name {
            width: 100%;
            padding: 12px 0;
            text-align: left;
            word-wrap: break-word;
          }
        }

        .see-more {
          font-family: 'Poppins', serif;
          font-size: 14px;
          letter-spacing: .5px;
          color: #c7c7cc;
          text-align: left;
          width: 10.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .categories {
    background-color: $gray-bg;

    .pick-group-block {
      background-color: $gray-bg;
    }

    .landing-bottom {
      background-color: $gray-bg;
    }
  }

  .pick-group-block .groups-block .group-box {
    width: 16rem;
    max-width: 100%;
  }
}