.flags-box {
  width: 380px;
  margin: 5px auto 0;

  @media(max-width: 768px) {
    width: 240px;
  }

  @media(max-width: 460px) {
    width: 190px;
  }

  @media(max-width: 340px) {
    width: 60%;
  }

  &.slick-initialized {
    display: block;
  }

  .flag-image {
    width: 57px;
    height: 36px;
    margin: 0 auto .5rem;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: -18px -3px;
    background-size: 135%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
  .flag-div {
    display: inline-block;
    width: 3.6rem !important;
    margin: 0 .85rem 0.8rem;

    .-num {
      font-size: 12px;
      font-family: 'Poppins', serif;
    }
  }

  .slick-prev,
  .slick-next {
    top: 35px;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    &::before,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      &::before,
      &::before {
      }
    }
  }

  &.landing-flags {
    .slick-prev,
    .slick-next {
      &::before,
      &::before {
        border-color: rgba(29, 32, 49, 0.5);
        background-image: url($rails_images_path + 'svg/landing-slide-arrow.svg');
      }

      &:hover {
        &::before,
        &::before {
          border-color: $main-blue;
          background-image: url($rails_images_path + 'svg/landing-slide-arrow-active.svg');
        }
      }
    }
  }

  &.overview-flags {
    .slick-prev,
    .slick-next {
      opacity: 0.7;

      &::before,
      &::before {
        border-color: #ffffff;
        background-image: url($rails_images_path + 'svg/slider-arrow.svg');
      }

      &:hover {
        opacity: 1;
      }
    }
  }


  .slick-prev {
    left: -28px;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .slick-next {
    right: -46px;
  }
}