.file-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(31, 37, 50, 0.1);
  cursor: pointer;

  input {
    display: none;
  }
}