@mixin category-select ($width) {

  .category-select {
    width: $width;

    .Select__group {
      padding: 0;

      &:not(:first-child) {
        .Select__group-heading {
          border-top: 1px solid $base-border;
        }
      }

      &-heading {
        height: 40px;
        margin: 0;
        padding: 0 12px;
        color: #ffffff;
        font-size: 14px;
        line-height: 40px;
        font-weight: 500;
      }
    }

    .Select__menu-list {
      > div:first-child {
        .Select__group-heading {
          background-color: $insurance;
        }

        .Select__option:hover {
          background-color: #e1f4ec;
          color: #107b53;
        }
      }

      > div:nth-child(2) {
        .Select__group-heading {
          background-color: $broadband;
        }

        .Select__option:hover {
          background-color: #ece9f3;
          color: #4a3e78;
        }
      }

      > div:nth-child(3) {
        .Select__group-heading {
          background-color: $energy;
        }

        .Select__option:hover {
          background-color: #fbefea;
          color: #9c5d46;
        }
      }

      > div:nth-child(4) {
        .Select__group-heading {
          background-color: $subscriptions;
        }

        .Select__option:hover {
          background-color: #e6f4f6;
          color: #297789;
        }
      }

      > div:nth-child(5) {
        .Select__group-heading {
          background-color: $business;
        }

        .Select__option:hover {
          background-color: #e6eaf2;
          color: #2c4275;
        }
      }

      > div:last-child {
        .Select__group-heading {
          background-color: $government;
        }

        .Select__option:hover {
          background-color: #e6eaf2;
          color: #2c4275;
        }
      }
    }

    .Select__menu {
      min-width: 173px;

      &-list {
        max-height: 295px;
      }

      .Select__option {
        padding: 13px 12px;

        &:hover {
          background-color: $category-select-hover;
          color: $main-red;
        }
      }
    }
  }
}