.copy-white{
  .public-link {
    color: #1d2031;
    padding: 10px 0 0;
    font-size: 15px;
    margin-bottom: 28px;
    margin-top: 0;

    .copy-icon {
      position: relative;
      display: block;
      width: 29px;
      height: 29px;
      border: 0;
      background-color: transparent;
      background-image: url($rails_images_path + 'svg/landing-copy.svg');
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0 10px;
      cursor: pointer;

      &:hover {
        background-image: url($rails_images_path + 'svg/landing-copy-hover.svg');
      }
    }
  }
}

.public-link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  padding: 0 10%;
  font-size: 15px;

  .copy {
    display: flex;
    align-items: center;
  }

  .copy-icon {
    position: relative;
    display: block;
    width: 29px;
    height: 29px;
    border: 0;
    background-color: transparent;
    background-image: url($rails_images_path + 'svg/copy.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    cursor: pointer;

    &:hover {
      background-image: url($rails_images_path + 'svg/copy-hover.svg');
    }
  }

  .email-link {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }

  @media(max-width: 768px) {
    flex-direction: column;
  }
}


.copied-message.show {
  min-width: 217px;
  width: fit-content;
  padding: 9px 10px;
  margin-top: 12px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  opacity: 1;

  .arrow {
    top: -6px;
    left: 100px;
    &::before, &::after {
      border-width: 0 0.6rem 0.6rem;
      border-bottom-color: #fff;
    }
  }

  .tooltip-inner {
    max-width: unset;
    background-color: #fff;
    display: flex;
    opacity: 1;
  }

  .check {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #0ac374;
    background-image: url($rails_images_path + 'svg/check-white.svg');
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
  }

  p {
    margin-bottom: 0;
    color: $main-text-color;
    font-size: 14px;
    text-align: left;
  }

  span {
    color: $blue-grey;
  }
}