.react-switch {
  .react-switch-handle {
    top: 50% !important;
    width: 20px !important;
    height: 20px !important;
    box-shadow: none !important;
    transform: translateY(-50%) translateX(0) !important;
  }

  &.actived {
    .react-switch-handle {
      transform: translateY(-50%) translateX(17px) !important;
    }
  }
}