.recently-joined {
  height: 30px;
  background-color: #e0ebfb;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);

  &-title {
    padding-right: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: #3b3f63;
    background-color: #d9e7fa;
    flex-shrink: 0;
    margin-bottom: 0;
    background-image: url($rails_images_path + 'recently-joined-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;

    @media(max-width: 600px) {
      padding-left: 8px;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 0 !important;

    > div {
      height: 100%;
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      padding-left: 111%;

      .user {
        width: fit-content;
        flex-shrink: 0;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #3a6bb3;
        padding: 0 40px;

        img {
          width: 17px;
          margin-right: 6px;
        }

        &::before, &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        &::before {
          left: 4px;
          width: 28px;
          height: 13px;
          background-image: url($rails_images_path + 'svg/user-before.svg');
        }

        &::after {
          right: 23px;
          width: 10px;
          height: 9px;
          background-image: url($rails_images_path + 'svg/user-after.svg');
        }
      }
    }
  }
}
