.social-block {
  margin-left: 0;
  padding-bottom: 30px;
  text-align: center;

  .btn-circle {
    border-radius: 22rem;
    border: none;
    width: 3rem;
    height: 3rem;
    margin: 0 .5rem;
    padding: 0;

    @include box-shadow(-0.05rem 1px 1px 0px #aaa);

    &.google-background {
      background-color: #d04242;

      &:hover {
        background-color: darken(#d04242, 5%);
      }
    }

    &.facebook-background {
      background-color: #4968a5;

      &:hover {
        background-color: darken(#4968a5, 5%);
      }
    }

    &.twitter-background {
      background-color: #18a3eb;

      &:hover {
        background-color: darken(#18a3eb, 5%);
      }
    }

    &.linkedin-background {
      background-color: #4875b4;

      &:hover {
        background-color: darken(#4875b4, 5%);
      }
    }

    .google-img {
      height: 18px;
      margin-top: 15px;
    }

    .facebook-img {
      height: 21px;
      margin-top: 14px;
    }

    .twitt-img {
      height: 16px;
      margin-top: 17px;
    }

    .linkedin-img {
      height: 16px;
      margin-top: 14px;
    }
  }
}

.or-block {
  display: flex;
  align-content: space-around;
  // TODO remove
  // margin-top: 20px;
  margin-bottom: 20px;

  span {
    margin: 0 1rem;
    color: $blue-grey;
  }

  .dash {
    width: 50%;
    border-top: 1px solid #dce1e7;
    height: 1px;
    display: block;
    margin: auto 0;
  }
}

@media (max-width: 767px) {
  .social-block {
    .btn-circle {
      width: 42px;
      height: 42px;

      .google-img {
        height: 14px;
        margin-top: 15px;
      }

      .facebook-img {
        height: 19px;
        margin-top: 11px;
      }

      .twitt-img {
        height: 12px;
        margin-top: 16px;
      }

      .linkedin-img {
        height: 15px;
        margin-top: 13px;
      }
    }
  }
}