.tabs {

  .nav-tabs {
    display: flex;
    border-bottom: none;
    background-color: $active-tab-bg-link-color;

    .nav-link {
      width: 100%;
      padding: 19px;
      background-color: $tab-link-bg-color;
      font-size: 17px;
      color: $tab-link-color;
      font-family: 'Poppins', serif;
      cursor: pointer;
      transition: all .2s ease;
      border-radius: 0;

      &:hover {
        background-color: #fff;
        border-color: #fff;
      }

      &.active {
        background-color: $active-tab-bg-link-color;
      }

      &:not(.active):hover {
        color: $tab-link-color;
      }

      &.active {
        color: $active-tab-link-color;
        border-color: transparent;

      }
    }
  }
}