.waves-background {
  position: relative;
  margin-top: 31px;
  background-color: $main-blue;
  color: #fff;

  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
  }

  &::before {
    top: -32px;
    height: 20px;
    background-color: $gray-bg;
    z-index: -1;
  }

  &::after {
    top: -19px;
    background-color: $main-blue;
    background-image: url($rails_images_path + 'waves.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;

    @media(min-width: 1980px) {
      height: 98px;
    }

    @media(max-width: 1980px) {
      height: 85px;
    }

    @media(max-width: 1400px) {
      height: 70px;
    }
  }
}