.blue-checkbox, .red-checkbox {
  display: block;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    background-color: $checkbox-bg;
    border-radius: 2px;
    transition: all 0.2s;
  }

  &:hover input ~ .checkmark {
    background-color: $checkbox-bg;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  & > input:checked ~ .checkmark:after {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 10px;
  }
}

.blue-checkbox {
  .checkmark {
    border: 1px solid $light-blue-gray;
  }

  &:hover input ~ .checkmark {
    border: 1px solid $checkbox-border-blue;
  }

  input:checked ~ .checkmark {
    border: 1px solid $checkbox-border-blue;
  }

  & > input:checked ~ .checkmark:after {
    background-image: url($rails_images_path + 'svg/checkbox.svg');
  }
}
.red-checkbox {
  .checkmark {
    border: 1px solid $light-blue-gray;
  }

  &:hover input ~ .checkmark {
    border: 1px solid $main-red;
  }

  input:checked ~ .checkmark {
    border: 1px solid $main-red;
  }

  & > input:checked ~ .checkmark:after {
    background-image: url($rails_images_path + 'svg/checkbox-red.svg');
  }
}



.blue-checkbox.right, .red-checkbox.right {
  padding-right: 25px;

  .checkmark {
    right: 0;
  }
}

.blue-checkbox.left, .red-checkbox.left {
  padding-left: 35px;

  .checkmark {
    left: 0;
  }
}