.custom-radio {
  position: relative;
  margin-bottom: 0;
  padding-left: 28px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover input ~ .radio-mark {
    background-color: $checkbox-bg;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .radio-mark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid $custom-radio-border;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.2s;
  }

  .label-text {
    color: $light-gray-6;
  }

  .radio-mark:after {
    content: "";
    position: absolute;
    display: none;
  }

  & > input:checked {
    & ~ .radio-mark:after {
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $custom-radio-border;
    }

    & ~ .label-text {
      color: $main-text-color;
    }
  }
}