.input-field {
  &.location {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;
      background-image: url($rails_images_path + 'svg/search.svg');
      background-position: center;
      background-size: 14px;
      background-repeat: no-repeat;
    }

    input {
      padding-right: 50px;
    }
  }

  .error-input {
    border: solid 1px #d04242;
    border-radius: 5px;
  }

  .error-hint {
    color: #d04242;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    display: block;
  }
}