.account-delete-modal {
  width: 100%;
  max-width: 340px;
  top: 50%;
  left: 50%;
  margin: 0;
  border-radius: 8px;
  transform: translate(-50%, -50%) !important;

  .modal-header {
    height: auto;
    padding-top: 25px;
    background-color: #fff;
    border-bottom: none;

    .modal-title {
      color: $main-text-color;
      font-size: 14px;
      font-weight: 500;
    }

    .close {
      top: 16px;
      right: 10px;
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: 10px;
      background-image: url($rails_images_path + 'svg/close-dark.svg');
      transform: translateY(-50%);
    }
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;

    .delete-account-body {
      padding: 3px 25px;
      font-size: 14px;
      text-align: center;
      line-height: 22px;
      color: #424242;
    }
  }

  .modal-dialog .modal-content {
    border-radius: 5px;
    border: none;
  }

  .modal-footer {
    justify-content: center;
    padding: 20px 20px 25px;
    border: none;

    .close-bt {
      border: none;
      background: #f9f9f9;

      &:hover {
        background: #e1e1e1;
      }
    }

    .btn {

      &.delete-btn, &.cancel-btn {
        padding: 12px 40px;
        line-height: 1;
        font-size: 14px;
        border-radius: 3px;
        border: none;
      }

      &.cancel-btn {
        color: #748599;
        background-color: #eff0f1;
      }
    }
  }
}