.add-note-modal {
  top: 50%;
  left: 50%;
  max-width: 420px;
  margin: 0;
  transform: translate(-50%, -50%) !important;

  .modal-body {
    padding: 0;
  }

  .notes-wrapper {
    .notes-editor-container {
      margin-bottom: 0;
      border: none;
      border-radius: 0;
    }

    .notes-header {
      display: none;
    }

    .form-footer {
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}

@media (min-width: 768px) {
  .add-note-modal {
    .notes-wrapper .notes-editor {
      padding: 30px 35px 35px;
    }
  }
}