.details-modal {
  position: absolute;
  width: 420px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

  &.modal-dialog {
    .modal-content {
      min-height: 565px;
      background-color: $secondary-bg;
    }

    .close {
      width: 25px;
      height: 25px;
    }

    .modal-body {
      background-color: $light-gray-8;
      padding: 0;

      @include category-select('auto');
    }

    .input-field {
      margin-bottom: 25px;
    }

    .input-label {
      display: block;
      margin-bottom: 9px;
      color: $modal-label;
      font-size: 12px;
      line-height: normal;
    }

    .details-button {
      margin: 0 -40px 0;
      padding: 15px 40px 0;

      @media (max-width: 767px) {
        margin: 0 -25px 0;
      }

      button, a {
        display: block;
        width: 100%;
        outline: none;
        border: 0;
        border-radius: 3px;
        padding: 13px 10px;
        color: #ffffff !important;
        font-size: 14px;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer !important;
      }
    }
  }

  .reminder-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    .switcher-item + .switcher-item {
      padding-left: 5px;
    }
  }

  .tabs {
    .nav-item {
      width: 50%;
      text-align: center;

      .nav-link {
        border-radius: 0;
        padding: 22px 15px;
        font-size: 14px;
      }
    }
  }

  .create-reminder-container {
    padding: 5px 65px 40px;

    .reminder-switcher {
      margin: 30px -20px;
    }

    @media (max-width: 767px) {
      padding: 5px 25px 25px;

      .reminder-switcher {
        margin: 30px 0;
      }
    }
  }

  .list-reminder-container {
    padding: 20px 15px;

    @media (max-width: 767px) {
      padding: 15px;
    }

    .edit-link {
      color: #ff1717;
    }
  }

  .reminder-list {
    height: 415px;
    border: 1px solid $base-border;
    border-radius: 6px;
    overflow-y: auto;

    .reminder-item {
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 16px 15px;
      background-color: #fff;
      border-bottom: 1px solid $base-border;
      cursor: pointer;

      .status {
        width: 8px;
        min-width: 8px;
        height: 8px;
        border-radius: 50%;

        &.green {
          background-color: $green;
        }

        &.amber {
          background-color: $yellow;
        }

        &.red {
          background-color: $red;
        }

        &.completed {
          background-color: $light-gray;
        }
      }

      .reminder-name {
        flex-grow: 1;
        margin: 0 10px 0 15px;
        font-size: 14px;
        color: $main-text-color;
        word-break: break-all;
      }

      .reminder-date {
        min-width: 80px;
        font-size: 14px;
        color: $light-gray-6;
        white-space: nowrap;
      }

      .reminder-calendar {
        width: 27px;
        min-width: 27px;
        height: 27px;
        margin-left: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px;
        cursor: pointer;

        input {
          display: none;
        }

        .react-datepicker__triangle {
          left: 121px;
        }

        .react-datepicker-wrapper,
        .react-datepicker__input-container {
          width: 100%;
          height: 100%;
        }

        .react-datepicker__input-container:after {
          right: 50%;
          transform: translate(50%, -50%);
        }
      }

      .cancel-reminder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        min-width: 22px;
        height: 28px;
        margin-left: 10px;
        cursor: pointer;

        img {
          width: 12px;
        }
      }
    }
  }

  .custom-radio {
    .label-text {
      color: $light-gray-6;
    }

    input:checked ~ .label-text {
      color: $main-text-color;
    }
  }

  .reminder-select .Select__control,
  .react-datepicker__input-container input,
  .reminder-input {
    min-height: 40px;
  }

  .empty-state-leaderboard {
    margin: 0;
    padding: 70px 40px 80px;

    p {
      font-size: 14px;
    }
  }

  .empty-reminder-container {
    border: 1px solid $base-border;
    border-radius: 6px;
    padding: 40px 40px 75px;
    background-color: #fff;

    .empty-state-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      margin: 0 auto 20px;
      border-radius: 50%;
      background-color: $reminder-bg;
    }

    h3 {
      margin-bottom: 15px;
      color: $main-text-color;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.23px;
    }

    p {
      line-height: 1.64;
      font-size: 14px;
    }

    .btn {
      min-width: 200px;
      margin-top: 35px;
      border-radius: 20px;
      padding: 9px 10px;
      color: $main-text-color;
      font-size: 14px;
      transition: none
    }
  }
}