.info-modal {
    width: auto;
    max-width: unset;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 485px) {
      width: 90%;
      min-width: 90%;
      margin: 10px auto;
    }

  .modal-content {
    width: 632px;
  }

  .modal-body {
    padding: 0;
  }




  .info-text {
    padding: 18px 25px;
    max-height: 480px;
    height: 65vh;
    overflow-y: scroll;

    @include webkit-scrollbar(#c7c7cc, 6px);

    .info-title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 20px;
      line-height: 1.3;
    }

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li{
        font-size: 14px;
        margin-bottom: 20px;

        .margin-text {
          margin-left: 20px;
        }

        ul, ol, div {
          padding-left: 20px;
          line-height: 1.3;
        }

        ul {
          list-style: disc;
        }

        h6 {
          font-size: 14px;
          margin-bottom: 20px;
          font-weight: bold;
        }

        p {
          line-height: 1.3;
          margin-bottom: 4px;
        }

        table {
          margin-bottom: 10px;
          td {
            width: 50%;
            padding: 15px;
            border: 1px solid #d1d1d6;
            line-height: 19px;
          }
          thead {
            td {
              background-color: #e4e5ea;
              font-weight: bold;
            }
          }

          &.second-table {
            td:first-child {
              width: 30%;
            }
            td:last-child {
              width: 70%;
            }
          }
        }
      }
    }
  }

  .info-btn {
    display: block;
    color: #ffffff;
    font-size: 18px;
    margin: 10px auto 0;
    width: 200px;
    height: 48px;
    background-color: $main-blue;
    border-radius: 24px;

    &:hover, &:focus, &.active {
      background-color: lignten($main-blue, 5%);
    }
  }
}