.invite-modal {
  position: absolute;
  width: 432px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  .modal-body {
    padding: 10px 20px;
    text-align: center;
    > img {
      width: 40px;
      margin-top: 20px;
      margin-bottom: 8px;
    }
  }

  .logo-text {
    font-size: 1.125rem;
    font-family: "LeanO FY";
    font-weight: bold;
    color: $main-text-color;
    margin-bottom: 15px;
  }

  .invite-text {
    width: 310px;
    margin: 0 auto;
    color: $invite-modal-color;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  .category-text {
    margin-top: 26px;
    color: $invite-modal-color;
    font-size: 16px;
    font-weight: bold;
  }

  .members-text {
    margin: 10px 0 15px;
    color: $invite-modal-color;
    font-size: 16px;
  }

  .invite-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 11px 0;
    background-color: $main-blue;
    color: #ffffff;
    border: 0;
    border-radius: 21px;
    font-size: 16px;
    line-height: 20px;

    &:hover,
    &:focus,
    &.active {
      background-color: lighten($main-blue, 5%);
    }
  }

  .copy-white .public-link {
    margin-bottom: 0;
  }

  .modal-footer {
    padding: 0 40px;
    border: 0;
    flex-direction: column;
  }

  .choose-social {
    margin-bottom: 35px;
    .social-link {
      font-size: 0;
      border-radius: 22rem;
      border: none;
      width: 3rem;
      height: 3rem;
      margin: 0 .5rem;
      padding: 0;
      @include box-shadow(-0.05rem 1px 1px 0px #aaa);

      &.facebook {
        background-color: #4968a5;

        &:hover {
          background-color: darken(#4968a5, 5%);
        }
      }
      &.twitter {
        background-color: #18a3eb;

        &:hover {
          background-color: darken(#18a3eb, 5%);
        }
      }
      &.linkedin {
        background-color: #4875b4;

        &:hover {
          background-color: darken(#4875b4, 5%)
        }
      }

      img {
        margin-right: 0;
      }
    }
  }
  .or-block {
    width: 100%;
    display: flex;
    align-content: space-around;
    margin: 0 0 23px;
    span {
      margin: 0 1rem;
      color: $blue-grey;
    }
    .dash {
      width: 50%;
      border-top: .1rem solid #dce1e7;
      height: .1rem;
      display: block;
      margin: auto 0;
    }
  }

  @media(max-width: 992px) {
    .choose-social{
      width: 330px;
      margin: 0 0 35px;
      .social-link:nth-child(3) {
        margin-left: 12px;
      }
    }
  }

  @media(max-width: 450px) {
    width: 90%;

    .invite-text {
      width: 100%;
    }
  }
}