.modal-dialog {
  .modal-header {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: $modal-header;
    border-radius: 5px 5px 0 0;

    .modal-title {
      color: #ffffff;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.2;
    }
  }

  .modal-content {
    border-radius: 6px;

    @media(max-width:992px) {
      width: 100%;
    }
  }

  .close, .back {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    opacity: 1;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .close {
    background-image: url($rails_images_path + 'svg/close.svg');
    right: 17px;
  }

  .back {
    background-color: transparent;
    border: 0;
    background-image: url($rails_images_path + 'svg/arrow-back.svg');
    left: 17px;
  }
}

.modal-open {
  position: fixed;
  width: 100%;
  height: 100%;
}
