.new-provider-modal {
  max-width: 420px;
  @include category-select('auto');

  h3 {
    margin-bottom: 25px;
    line-height: 22px;
    font-size: 14px;
    color: $main-text-color;
    text-align: center;
  }

  .input-field {
    width: 100%;
  }

  .btn {
    width: 100%;
    border: none;
    padding: 10px 10px 9px;
    font-size: 14px;

    &:hover {
      opacity: .9;
    }
  }

  .reminder-input,
  .Select__control {
    width: 100%;
    height: 40px;
  }

  .input-field {
    & + .input-field {
      margin-top: 15px;
    }
  }

  .modal-header .modal-title {
    font-size: 16px;
  }

  .modal-body,
  .modal-footer {
    background-color: $light-gray-8;
  }

  .modal-body {
    padding: 25px 25px;
  }

  .modal-footer {
    justify-content: center;
    border-top: none;
    padding: 10px 25px 25px;
  }
}

@media (min-width: 768px) {
  .new-provider-modal {
    .modal-body {
      padding: 25px 65px 25px;
    }

    .modal-footer {
      padding: 20px 65px 45px;
    }
  }
}