.reminder-delete-modal {
  width: 100%;
  max-width: 340px;
  top: 50%;
  left: 50%;
  margin: 0;
  border-radius: 8px;
  transform: translate(-50%, -50%) !important;

  .modal-header {
    height: auto;
    padding-top: 25px;
    background-color: #fff;
    border-bottom: none;

    .modal-title {
      color: $main-text-color;
      font-size: 14px;
      font-weight: 500;
    }

    .close {
      top: 16px;
      right: 10px;
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: 10px;
      background-image: url($rails_images_path + 'svg/close-dark.svg');
      transform: translateY(-50%);
    }
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;

    .status {
      width: 8px;
      min-width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 10px;

      &.green {
        background-color: $green;
      }

      &.amber {
        background-color: $yellow;
      }

      &.red {
        background-color: $red;
      }

      &.completed {
        background-color: $light-gray;
      }
    }
  }

  .modal-dialog .modal-content {
    border-radius: 5px;
    border: none;
  }

  .modal-footer {
    justify-content: center;
    padding: 20px 20px 25px;

    .close-bt {
      border: none;
      background: #f9f9f9;

      &:hover {
        background: #e1e1e1;
      }
    }

    .btn {
      margin: 0;
      min-width: 200px;

      &.btn-empty {
        padding: 12px 15px;
        line-height: 1;
      }
    }
  }
}