.settings-modal {
  text-align: center;
  position: absolute;
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15);

  @media(max-width: 767px) {
    width: 90%;
    min-width: 90%;
  }

  .modal-content {
    border-radius: 8px;
  }


  .modal-body {
    padding: 10px 40px 30px;
    color: $dark-blue-grey;
    font-size: 16px;


  }

  .avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    img {
      width: 70px;
      height: 70px;
      margin: 10px 0 14px;
      border-radius: 50%;
      object-fit: cover;
    }

    .avatar-input {
      display: none;
      width: 0;
      height: 0;
    }

    label {
      color: $main-text-color;
      font-size: 14px;
      transition: all 0.2s;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .input-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-size: 12px;
      line-height: 20px;
      color: $modal-label;
      margin-bottom: 5px;
    }

    input {
      display: block;
      width: 100%;
      padding-left: 13px;
      border: 1px solid $light-blue-gray;
      outline: none;
      height: 40px;
      border-radius: 4px;
      font-size: 14px;
      box-shadow: 0 2px 3px 0 rgba(29, 32, 49, 0.05);
    }

    .reset-input {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      background-image: url($rails_images_path + 'svg/close-dark.svg');
      background-color: rgba(50, 57, 73, 0.08);
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      cursor: pointer;
    }
  }

  .user-id {
    margin-bottom: 20px;
    line-height: 1.92;
    font-size: 12px;
    color: $light-gray-6;

    span {
      display: inline-block;
      color: $main-text-color;
    }
  }

  .signup-modal-btn {
    width: 220px;
    border-radius: 20px;
    padding: 12px 5px;
    margin-top: 35px;
    font-size: 14px;
    font-weight: bold;
  }

  .delete-account {
    display: inline-block;
    margin-top: 25px;
    color: $main-red;
    font-size: 14px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}