.thank-modal {
  max-width: 460px;

  &.insurance {
    .modal-top-box {
      .thank-dialog {
        background-image: url($rails_images_path + 'svg/insurance-thank-dialog.svg');
      }
    }
  }

  &.broadband {
    .modal-top-box {
      .thank-dialog {
        background-image: url($rails_images_path + 'svg/broadband-thank-dialog.svg');
      }
    }
  }

  &.energy {
    .modal-top-box {
      .thank-dialog {
        background-image: url($rails_images_path + 'svg/energy-thank-dialog.svg');
      }
    }
  }

  &.subscriptions {
    .modal-top-box {
      .thank-dialog {
        background-image: url($rails_images_path + 'svg/subscriptions-thank-dialog.svg');
      }
    }
  }

  &.business {
    .modal-top-box {
      .thank-dialog {
        background-image: url($rails_images_path + 'svg/business-thank-dialog.svg');
      }
    }
  }

  .close {
    background-image: url($rails_images_path + 'svg/close-toastr.svg');
    background-size: 15px;
  }

  .modal-content {
    border-color: $base-border;
    border-radius: 8px;
  }

  .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: none;
    background-color: transparent;
    z-index: 1;
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer {
    border-top: none;
    padding: 18px 15px 30px;

    .btn {
      min-width: 220px;
      font-size: 14px;

      &:hover {
        opacity: .9;
      }
    }
  }

  .modal-top-box {
    border-radius: 8px 8px 0 0;
    padding: 35px 10px 30px;
    background-color: $light-blue-gray-2;

    .thank-title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 315px;
      height: 55px;
      margin: 0 auto 20px;
      padding: 0 5px 8px;
      background-image: url($rails_images_path + 'svg/thank-you.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      color: $dark-gray;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.8px;
      text-align: center;
    }

    .thank-dialog {
      display: block;
      width: 255px;
      height: 203px;
      margin: 0 auto;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .thank-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 15px;

    .content-title {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: bold;
      color: $dark-gray;
      text-align: center;
    }

    .thank-list {
      margin-bottom: 30px;

      li {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $main-text-color;

        & + li {
          margin-top: 10px;
        }

        .icon {
          margin-right: 15px;

          svg {
            width: 11px;
          }
        }
      }
    }

    .leaderboard-social-list {
      margin-bottom: 25px;

      .SocialMediaShareButton {
        transition: all .2s;

        &:hover {
          box-shadow: 0 2px 3px 0 rgba(50, 57, 73, 0.25);
        }

        &.email {
          border-color: $email-color;
          background-color: $email-color;

          .icon {
            g,
            path {
              fill: #fff;
            }
          }
        }

        &.facebook {
          border-color: $facebook-color;
          background-color: $facebook-color;

          .icon {
            g,
            path {
              fill: #fff;
            }
          }
        }

        &.twitter {
          border-color: $twitter-color;
          background-color: $twitter-color;

          .icon {
            g,
            path {
              fill: #fff;
            }
          }
        }

        &.linkedin {
          border-color: $linkedIn-color;
          background-color: $linkedIn-color;

          .icon {
            g,
            path {
              fill: #fff;
            }
          }
        }

        &.whatsApp {
          border-color: $whatsApp-color;
          background-color: $whatsApp-color;

          .icon {
            g > path:first-child {
              fill: #fff;
            }

            g > path:last-child {
              fill: $whatsApp-color;
            }
          }
        }
      }
    }

    .invite-text {
      font-size: 14px;
      font-weight: bold;
      color: $dark-gray;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .thank-modal {
    height: 100vh;
    margin: 0;
    background-color: #fff;

    .modal-top-box {
      border-radius: 0;
      padding: 65px 10px 35px;

      .thank-title {
        width: 285px;
      }

      .thank-dialog {
        width: 230px;
        height: 180px;
      }
    }

    .modal-content {
      border-radius: 0;
      border: none;

      .content-title {
        font-size: 14px;
      }

      .thank-list li {
        font-size: 12px;
      }

      .leaderboard-social-list {
        margin-bottom: 30px;
      }

      .invite-text {
        font-size: 13px;
      }
    }
  }
}