.reminder-delete-modal {
  border-radius: 8px;

  .modal-header {
    height: auto;
    padding-top: 32px;
    background-color: #fff;
    border-bottom: none;

    .modal-title {
      color: $main-text-color;
      font-size: 17px;
      font-weight: 500;
    }

    .close {
      top: 20px;
      right: 18px;
      width: 25px;
      height: 25px;
      background-position: center;
      background-size: 12px;
      background-image: url($rails_images_path + 'svg/close-dark.svg');
      transform: translateY(-50%);
    }
  }

  .modal-body {
    padding: 10px 48px;

    .red-checkbox {
      line-height: 1.4;
      font-size: 14px;

      .checkmark {
        top: 3px;
        transform: translateY(0);
      }
    }
  }


  .modal-footer {
    justify-content: space-between;
    border-top: none;
    padding: 20px 38px 35px;

    .btn {
      margin: 0;
      min-width: 140px;

      &.btn-empty {
        padding: 12px 15px;
        line-height: 1;
      }
    }
  }
}

.vote-confirm-modal {
  .modal-footer {
    justify-content: center;
    padding: 2rem 1rem;

    .btn {
      height: 40px;
      min-width: 140px;
    }

    .reminder-btn {
      margin-right: 0;
    }
  }
}

@media (min-width: 576px) {
  .vote-confirm-modal {
    max-width: 370px;
  }
}