!!!
%html
  %head
    = tag :meta, content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"
    = tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    = tag :meta, name: "x-ua-compatible", content: "IE=edge"
    = tag :meta, name: "google-site-verification", content: "HVjZCKOgBtzA_pfawY3TZSz2fsmpUzmzuYMAMa_MW1Q"
    = tag :meta, name: 'Description', content: 'Manage all your renewals in one place. See where people are finding their best value at renewal time.'
    %title Renewal Diary
    = csrf_meta_tags
    = csp_meta_tag
    - if should_prerender_on_server?
      = javascript_pack_tag 'bundles'
    - else
      = javascript_packs_with_chunks_tag 'bundles'
    = stylesheet_pack_tag 'bundles-styles'
    %script(src="https://maps.google.com/maps/api/js?key=AIzaSyAv6ILnjbTyxOGdmQxdCGd9i99WLwYmYKY&libraries=places&language=en")
  %body{ class: (devise_controller? ? 'ice-background': '' ) }
    = react_component('ServerRendering', props: default_props_for_react, prerender: should_prerender_on_server?)
