!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    :css
      @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    / :css
    /   table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }
    /   img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }
    /   p { display:block;margin:13px 0; }

  %body{"data-gr-c-s-loaded": "true", style: "margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#f7f7f7;"}
  %div{style: "background-color:#f7f7f7;"}
    %div{style: "background:#fafafa;background-color:#fafafa;Margin:30px auto;"}
    %div{style: " Margin:0px auto;max-width:600px;"}

      = yield

    %div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top;"}
              .mj-column-per-100{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "left", style: "font-size:0px;padding:10px 25px 10px 25px;padding-top:10px;padding-bottom:10px;word-break:break-word;"}
                        %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}
                          :css
                          %p{style: "margin: 10px 0; text-align: center;"}
                            %span{style: "font-family:Helvetica,Arial,sans-serif"}
                              %span{style: "font-size:14px"}
                                %span{style: "color:#323949"}
                                  %i{style: "font-style: italic"}
                                    Go to the:

    %div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top;"}
              .mj-column-per-100{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:0px ;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word;", "vertical-align": "middle"}
                        %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:separate;line-height:100%;"}
                          %tbody
                            %tr
                              %td{align: "center", bgcolor: css_color(@root_category&.en_name), role: "presentation", style: "cursor:auto;padding:0;background:#{css_color(@root_category&.en_name)};border-radius: 4px;", valign: "middle"}
                                = link_to "#{@smart_reminder.category.name} Leaderboard", leaderboard_category_url(id: @smart_reminder.category&.slag), style: "display: block;background:#{css_color(@root_category&.en_name)};border-radius:4px;border:1px solid #{css_color(@root_category&.en_name, dark: false)};padding:10px 25px; padding-top: 10px; padding-right: 25px; padding-bottom: 10px; padding-left: 25px;color:#ffffff; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;font-weight: 700;", target: "_blank"
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:10px 25px 0px 25px;padding-bottom:0px;word-break:break-word;"}
                        %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}
                          %p{style: "margin: 10px 0; text-align: center;"}
                            %span{style: "color:#323949;font-size:14px;font-family:Helvetica,Arial,sans-serif"}
                              %i{style: "font-style: italic"}
                                Powered by the people!
    %div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;padding-top: 30px;padding-bottom: 20px"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
        %tbody
          %tr
            %td{style: "width:50% !important; max-width: 50%;font-size:13px;border:0px solid #09a965;direction:ltr;padding:0px 25px;padding-bottom:0px;padding-left:25px;padding-right:25px;padding-top:0px;text-align:center;vertical-align:top;"}
              %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
                %tbody
                  %tr
                    %td{style: "padding: 0 0 10px; padding-bottom: 5px;text-align: center;"}
                      = image_tag("#{asset_host}/images/owl.png", height: "80", style: "border-radius:3px;", width: "80")
                  %tr
                    %td{style: "padding: 15px 0; padding-top: 15px;padding-bottom: 15px;text-align: center;"}
                      %p{style: "font-family:Helvetica,Arial,sans-serif; font-size:14px;color: #323949;line-height:22px;Margin: 0"}
                        %b{style: "font-weight:700"}
                          Be smart and set your reminders!
                  %tr
                    %td{style: "padding: 10px 0; padding-top: 10px;padding-bottom: 10px;text-align: center;"}
                      = link_to "Set reminders now!", leaderboard_category_url(id: @smart_reminder.category&.slag, 'open-reminders': true), style: "display: inline-block;border-radius:4px;border:1px solid #{css_color(@root_category&.en_name, dark: false)};padding:10px 25px; padding-top: 10px; padding-right: 25px; padding-bottom: 10px; padding-left: 25px;color:#323949; font-family:Helvetica, Arial, sans-serif; font-size:14px; font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;", target: "_blank"



            %td{style: "width:50% !important; max-width: 50%;font-size:13px;border:0px solid #09a965;direction:ltr;padding:0px 25px;padding-bottom:0px;padding-left:25px;padding-right:25px;padding-top:0px;text-align:center;vertical-align:top;"}
              %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
                %tbody
                  %tr
                    %td{style: "padding: 0 0 10px; padding-bottom: 5px;text-align: center;"}
                      = image_tag("#{asset_host}/images/desk.png", height: "80", style: "border-radius:3px;", width: "80")
                  %tr
                    %td{style: "padding: 15px 0; padding-top: 15px;padding-bottom: 15px;text-align: center;"}
                      %p{style: "font-family:Helvetica,Arial,sans-serif; font-size:14px;color: #323949;line-height:22px;Margin: 0"}
                        %b{style: "font-weight:700"}
                          Share where you found your best value.
                  %tr
                    %td{style: "padding: 10px 0; padding-top: 10px;padding-bottom: 10px;text-align: center;"}
                      = link_to "Have your say!", vote_path_category_url(id: @smart_reminder.category&.slag), style: "display: inline-block;border-radius:4px;border:1px solid #{css_color(@root_category&.en_name, dark: false)};padding:10px 25px; padding-top: 10px; padding-right: 25px; padding-bottom: 10px; padding-left: 25px;color:#323949; font-family:Helvetica, Arial, sans-serif; font-size:14px; font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;", target: "_blank"




    /footer
    %div{style: "background:#1F2532;background-color:#1F2532;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#1F2532;background-color:#1F2532;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top;"}

              /socio footer
              .mj-column-per-100{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:10px 0px 10px 0px;padding-top:10px;padding-right:0px;padding-bottom:10px;padding-left:0px;word-break:break-word;"}

                        /facebook
                        %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "float:none;display:inline-table;"}
                          %tbody
                            %tr
                              %td{style: "padding:4px;"}
                                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#3b5998;border-radius:3;width:20;"}
                                  %tbody
                                    %tr
                                      %td{style: "padding:0px 0px 0px 0px;font-size:0;height:20;vertical-align:middle;width:20;"}
                                        %a{href: "https://www.facebook.com/renewaldiary", target: "_blank"}
                                          = image_tag("#{asset_host}/images/facebook.png", height: "20", style: "", width: "20")
                              %td{style: "vertical-align:middle;"}
                                %a{href: "https://www.facebook.com/renewaldiary", style: "color:#ffffff;font-size:14px;font-family:Arial, sans-serif;line-height:22px;text-decoration:none;", target: "_blank"}
                                  Like

                        /twitter
                        %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "float:none;display:inline-table;"}
                          %tbody
                            %tr
                              %td{style: "padding:4px;"}
                                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#55acee;border-radius:3;width:20;"}
                                  %tbody
                                    %tr
                                      %td{style: "padding:0px 0px 0px 0px;font-size:0;height:20;vertical-align:middle;width:20;"}
                                        %a{href: "https://twitter.com/RenewalDiary", target: "_blank"}
                                          = image_tag("#{asset_host}/images/twitter.png", height: "20", style: "", width: "20")
                              %td{style: "vertical-align:middle;"}
                                %a{href: "https://twitter.com/RenewalDiary", style: "color:#ffffff;font-size:14px;font-family:Arial, sans-serif;line-height:22px;text-decoration:none;", target: "_blank"}
                                  Follow

                        /instagram
                        %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "float:none;display:inline-table;"}
                          %tbody
                            %tr
                              %td{style: "padding:4px;"}
                                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#405DE6;border-radius:3;width:20;"}
                                  %tbody
                                    %tr
                                      %td{style: "padding:0px 0px 0px 0px;font-size:0;height:20;vertical-align:middle;width:20;"}
                                        %a{href: "https://instagram.com/RenewalDiary", target: "_blank"}
                                          = image_tag("#{asset_host}/images/instagram.png", height: "20", style: "", width: "20")
                              %td{style: "vertical-align:middle;"}
                                %a{href: "https://instagram.com/RenewalDiary", style: "color:#ffffff;font-size:14px;font-family:Arial, sans-serif;line-height:22px;text-decoration:none;", target: "_blank"}
                                  Share

              %div{style: "background:#fafafa;background-color:#fafafa;Margin:0px auto;max-width:600px;"}
                %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#fafafa;background-color:#fafafa;width:100%;"}
                  %tbody
                    %tr
                      %td{style: "direction:ltr;font-size:0px;padding:5px 0px 5px 0px;padding-bottom:5px;padding-top:5px;text-align:center;vertical-align:top;"}
                        .mj-column-per-100{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                          %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                            %tbody
                              %tr
                                %td{align: "center", style: "font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                                  %div{style: "font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:center;color:#959ba3;"}
                                    :css

                                    %p{style: "margin: 10px 0;"}
                                      %span{style: "color:#4e545c;"} This e-mail has been sent to info@myrenewaldiary.com.
                              %tr
                                %td{align: "center", style: "font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                                  %div{style: "font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:center;color:#959ba3;"}
                                    %p{style: "margin: 10px 0;"}
                                      %span{style: "color:#4e545c;"} Suite 1307 26 Pembroke Street Upper D02 X361 Dublin 2 IE