:css
  #outlook a { padding:0; }
  body { margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }
  table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }
  img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }
  p { display:block;margin:13px 0; }
:css
  @media only screen and (max-width:480px) {
    @-ms-viewport { width:320px; }
    @viewport { width:320px; }
  }
:css
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
:css
  @media only screen and (min-width:480px) {
    .mj-column-per-100 { width:100% !important; max-width: 100%; }
  }

%body{"data-gr-c-s-loaded": "true", style: "background-color:#f7f7f7;"}
%div{style: "background-color:#f7f7f7;"}
  %div{style: "background:#FAFAFA;background-color:#FAFAFA;Margin:0px auto;max-width:600px;height:30px;"}
  %div{style: "background:#A1A1A1 url(#{asset_host}/images/confirmation-background.png) top center / auto no-repeat;Margin:0px auto;max-width:600px;"}
    %div{style: "line-height:0;font-size:0;"}
      %table{align: "center", background: "./RD-confirm-Notification_files/th2gs.png", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#A1A1A1 url(#{asset_host}/images/confirmation-background.png) top center / auto no-repeat;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:36px 0px 36px 0px;padding-bottom:36px;padding-top:36px;text-align:center;vertical-align:top;"}
              .mj-column-per-100.outlook-group-fix{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "left", style: "font-size:0px;padding:15px 25px 0px 25px;padding-top:15px;padding-bottom:0px;word-break:break-word;"}
                        %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}

                          %p{style: "line-height: 26px; margin: 10px 0; text-align: center;"}
                            %span{style: "font-size:24px"}
                              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                                %b{style: "font-weight:700"}
                                  %span{style: "font-weight:700"}
                                    %span{style: "color:#ffffff; font-weight:700"}
                                      Real People, Real Decisions...
                          %p{style: "margin: 10px 0; text-align: center;"}
                            %span{style: "font-size:17px"}
                              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                                %span{style: "color:#ffffff"}
                                  Let's find the best businesses together!
  %div{style: "background:transparent;background-color:transparent;Margin:0px auto;max-width:600px;"}
    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:transparent;background-color:transparent;width:100%;"}
      %tbody
        %tr
          %td{style: "direction:ltr;font-size:0px;padding:25px 0px 25px 0px;padding-bottom:25px;padding-top:25px;text-align:center;vertical-align:top;"}
            .mj-column-per-100.outlook-group-fix{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
              %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                %tbody
                  %tr
                    %td{align: "center", style: "font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                      %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:collapse;border-spacing:0px;"}
                        %tbody
                          %tr
                            %td{style: "width:204px;"}
                              = image_tag("#{asset_host}/images/renewal-diary.png", height: "auto", style: "border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;", width: "204")
  %div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"}
    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
      %tbody
        %tr
          %td{style: "direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;"}
            .mj-column-per-100.outlook-group-fix{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
              %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                %tbody
                  %tr
                    %td{align: "left", style: "font-size:0px;padding:0px 50px 0px 50px;padding-top:0px;padding-right:50px;padding-bottom:0px;padding-left:50px;word-break:break-word;"}
                      %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}

                        %p{style: "margin: 10px 0; text-align: center;"}
                          %span{style: "font-family:Helvetica,Arial,sans-serif"}
                            %span{style: "color:#1f2532"}
                              %span{style: "font-size:20px"}
                                %b{style: "font-weight:700"}
                                  You'll get
                        %ul
                          %li
                            %p{style: "margin: 10px 0; text-align: left;"}
                              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                                %span{style: "color:#1f2532"}
                                  %span{style: "font-size:20px"}
                                    One place to manage all of your renewals
                          %li
                            %p{style: "margin: 10px 0; text-align: left;"}
                              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                                %span{style: "color:#1f2532"}
                                  %span{style: "font-size:20px"}
                                    Reminders to keep on top of everything!
                          %li
                            %p{style: "margin: 10px 0; text-align: left;"}
                              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                                %span{style: "color:#1f2532"}
                                  %span{style: "font-size:20px"}
                                    Leaderboards that show you the best places to shop
                          %li
                            %p{style: "margin: 10px 0; text-align: left;"}
                              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                                %span{style: "color:#1f2532"}
                                  %span{style: "font-size:20px"}
                                    Real people sharing tips, traps and insights
                          %li
                            %p{style: "margin: 10px 0; text-align: left;"}
                              %span{style: "font-family:Helvetica,Arial,sans-serif"}
                                %span{style: "color:#1f2532"}
                                  %span{style: "font-size:20px"}
                                    Rewards for voting and keeping your diary up to date!
                  %tr
                    %td{align: "left", style: "background:transparent;font-size:0px;padding:10px 25px 0px 25px;padding-top:10px;padding-bottom:0px;word-break:break-word;"}
                      %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}
                        :css

                        %p{style: "line-height: 17px; text-align: center; margin: 10px 0;"}
                          %span{style: "font-family:Helvetica,Arial,sans-serif;"}
                            %span{style: "color:#747985;"}
                              If you have any questions just hit reply to this email.
                        %p{style: "line-height: 17px; text-align: center; margin: 10px 0;"}
                          %span{style: "font-family:Helvetica,Arial,sans-serif;"}
                            %span{style: "color:#747985;"}
                              Please note if you do not confirm your account your data will be deleted.
  %div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"}
    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
      %tbody
        %tr
          %td{style: "direction:ltr;font-size:0px;padding:10px 0px 40px 0px;padding-bottom:40px;padding-top:10px;text-align:center;vertical-align:top;"}
            .mj-column-per-100.outlook-group-fix{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
              %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                %tbody
                  %tr
                    %td{align: "center", style: "font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-right:25px;padding-bottom:0px;padding-left:25px;word-break:break-word;", "vertical-align": "top"}
                      %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:separate;line-height:100%;"}
                        %tbody
                          %tr
                            %td{align: "center", bgcolor: "#A01D28", role: "presentation", style: "border:1px solid #80151e;border-radius:6px;cursor:auto;padding:12px 50px 12px 50px;background:#A01D28;", valign: "top"}
                              %a{href: "#{confirmation_url(@user, confirmation_token: @token)}", style: "background:#A01D28;color:#959ba3;font-family:Helvetica, Arial, sans-serif;font-size:15px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;", target: "_blank"}
                                %b{style: "font-weight:700;"}
                                  %span{style: "color: rgb(255, 255, 255); font-weight: 700;"} Confirm
  %div{style: "background:#1F2532;background-color:#1F2532;Margin:0px auto;max-width:600px;"}
    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#1F2532;background-color:#1F2532;width:100%;"}
      %tbody
        %tr
          %td{style: "direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top;"}
            .mj-column-per-100.outlook-group-fix{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
              %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                %tbody
                  %tr
                    %td{align: "center", style: "font-size:0px;padding:10px 25px 10px 25px;padding-top:10px;padding-bottom:10px;word-break:break-word;"}
                      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "float:none;display:inline-table;"}
                        %tbody
                          %tr
                            %td{style: "padding:4px;"}
                              %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#3b5998;border-radius:3px;width:22;"}
                                %tbody
                                  %tr
                                    %td{style: "font-size:0;height:22;vertical-align:middle;width:22;"}
                                      %a{href: "https://www.facebook.com/renewaldiary", target: "_blank"}
                                        = image_tag("#{asset_host}/images/facebook.png", height: "22", style: "border-radius:3px;", width: "22")
                            %td{style: "vertical-align:middle;"}
                              %a{href: "https://www.facebook.com/renewaldiary", style: "color:#ffffff;font-size:14px;font-family:Arial, sans-serif;line-height:22px;text-decoration:none;", target: "_blank"}
                                Like
                      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "float:none;display:inline-table;"}
                        %tbody
                          %tr
                            %td{style: "padding:4px;"}
                              %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#55acee;border-radius:3px;width:22;"}
                                %tbody
                                  %tr
                                    %td{style: "font-size:0;height:22;vertical-align:middle;width:22;"}
                                      %a{href: "https://twitter.com/RenewalDiary", target: "_blank"}
                                        = image_tag("#{asset_host}/images/twitter.png", height: "22", style: "border-radius:3px;", width: "22")
                            %td{style: "vertical-align:middle;"}
                              %a{href: "https://twitter.com/RenewalDiary", style: "color:#ffffff;font-size:14px;font-family:Arial, sans-serif;line-height:22px;text-decoration:none;", target: "_blank"}
                                Follow
  %div{style: "background:#fafafa;background-color:#fafafa;Margin:0px auto;max-width:600px;"}
    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#fafafa;background-color:#fafafa;width:100%;"}
      %tbody
        %tr
          %td{style: "direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top;"}
            .mj-column-per-100.outlook-group-fix{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
              %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                %tbody
                  %tr
                    %td{align: "center", style: "font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                      %div{style: "font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:center;color:#959ba3;"}

                        %p{style: "margin: 10px 0;"} This e-mail has been sent to info@myrenewaldiary.com.