
:css
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  @font-face {
    font-family: 'LeanO FY';
    src: url('fonts/LeanOFY/LeanOFY-Bold.woff') format('woff'),
    url('fonts/LeanOFY/LeanOFY-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

%body{"data-gr-c-s-loaded": "true", style: "background-color:#f7f7f7;margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"}
  %div{style: "background-color:#f7f7f7;"}
    %div{style: "background:#fafafa;background-color:#fafafa;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#fafafa;background-color:#fafafa;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top;"}
              %div{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;width:66.66666666666666% !important; max-width: 66.66666666666666%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "left", style: "font-size:0px;padding:0px 0px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                        %div{style: "font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;color:#959ba3;"}

                          %p{style: "display:block;margin: 10px 0;"}
                            %span{style: "font-family:Helvetica,Arial,sans-serif;"}
                              Welcome to Renewal Diary.
              %div{style: "font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;width:33.33333333333333% !important; max-width: 33.33333333333333%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "right", style: "font-size:0px;padding:0px 25px 0px 0px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                        %div{style: "font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:right;color:#959ba3;"}

                          %p{style: "display:block;margin: 10px 0;"}
                            %a{href: "#", style: "color:inherit; text-decoration:none", target: "_blank"}
                              View online version
    %div{style: "background:url(#{asset_host}/images/confirmation-background.png) top center / auto no-repeat;Margin:0px auto;max-width:600px;"}
      %div{style: "line-height:0;font-size:0;"}
        %table{align: "center", background: "./RD-Invite_files/th2go.png", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:url(#{asset_host}/images/confirmation-background.png) top center / auto no-repeat;width:100%;"}
          %tbody
            %tr
              %td{style: "direction:ltr;font-size:0px;padding:36px 0px 36px 0px;padding-bottom:36px;padding-top:36px;text-align:center;vertical-align:top;"}
                %div{style: "width:100% !important; max-width: 100%;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                  %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                    %tbody
                      %tr
                        %td{align: "left", style: "font-size:0px;padding:15px 25px 0px 25px;padding-top:15px;padding-bottom:0px;word-break:break-word;"}
                          %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}

                            %p{style: "display:block;text-align: center; margin: 10px 0;"}
                              %b{style: "font-weight:700;"}
                                %span{style: "font-size: 24px; font-weight: 700;"}
                                  %span{style: "color: rgb(255, 255, 255); font-weight: 700;"}
                                    Don't get eaten at renewal time
                            %p{style: "display:block;text-align: center; margin: 10px 0;"}
                              %span{style: "font-size:17px;"}
                                %span{style: "color:#ffffff;"}
                                  Make smarter decisions through the wisdom of the crowd
    %div{style: "background:transparent;background-color:transparent;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:transparent;background-color:transparent;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:15px 0px 15px 0px;padding-bottom:15px;padding-top:15px;text-align:center;vertical-align:top;"}
              %div{style: "width:100% !important; max-width: 100%;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:10px 25px;word-break:break-word;"}
                        %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:collapse;border-spacing:0px;"}
                          %tbody
                            %tr
                              %td{style: "width:204px;"}
                                = image_tag("#{asset_host}/images/renewal-diary.png", height: "auto", style: "border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;", width: "204")
    %div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:10px 0px 10px 0px;padding-bottom:10px;padding-top:10px;text-align:center;vertical-align:top;"}
              %div{style: "width:100% !important; max-width: 100%;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:15px 50px 20px 50px;padding-top:15px;padding-right:50px;padding-bottom:20px;padding-left:50px;word-break:break-word;", "vertical-align": "top"}
                        %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:20px;text-align:center;color:#959ba3;"}
                          :css

                          %p{style: "display:block;margin: 10px 0;"}
                            %span{style: "font-size:20px"}
                              %span{style: "color:#1f2532"}
                                %span{style: "font-family:Helvetica,Arial,sans-serif"}
                                  %b You've been invited
                          %p{style: "display:block;line-height: 18px; margin: 10px 0;"}
                            %span{style: "color:#1f2532"}
                              %span{style: "font-size:16px"}
                                %span{style: "font-family:Helvetica,Arial,sans-serif"} Someone who cares about you and your renewals wants you to
                            %span{style: "color:#1f2532"}
                              %span{style: "font-size:16px"}
                                %span{style: "font-family:Helvetica,Arial,sans-serif"}
                          %p{style: "display:block;line-height: 18px; margin: 10px 0;"}
                            %span{style: "color:#1f2532"}
                              %span{style: "font-size:16px"}
                                %span{style: "font-family:Helvetica,Arial,sans-serif"} sign-up for Renewal Diary.
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:5px 25px 0px 25px;padding-top:5px;padding-right:25px;padding-bottom:0px;padding-left:25px;word-break:break-word;", "vertical-align": "top"}
                        %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:separate;line-height:100%;"}
                          %tbody
                            %tr
                              %td{align: "center", bgcolor: "#A01D28", role: "presentation", style: "border:1px solid #80151e;border-radius:6px;cursor:auto;padding:15px 50px 15px 50px;background:#A01D28;", valign: "top"}
                                %a{href: "#{accept_user_invitation_url(invitation_token: @token)}", style: "background:#A01D28;color:#959ba3;font-family:Arial, sans-serif;font-size:15px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;", target: "_blank"}
                                  %b
                                    %span{style: "color:#ffffff"}
                                      %span{style: "font-family:arial,sans,sans-serif"} Accept
    %div{style: "background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#ffffff;background-color:#ffffff;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;"}
              %div{style: "width:100% !important; max-width: 100%;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "left", style: "font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                        %div{style: "font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;color:#959ba3;"}

                          %p{style: "display:block;line-height: 18px; text-align: center; margin: 10px 0;"}
                            %span{style: "font-family:Helvetica,Arial,sans-serif;"}
                              %span{style: "color:#868b94;"}
                                %span{style: "font-size:14px"}
                                  If you have any questions just hit reply to this email.
                          %p{style: "display:block;line-height: 18px; text-align: center; margin: 10px 0;"}
                            %span{style: "font-family:Helvetica,Arial,sans-serif;"}
                              %span{style: "color:#868b94;"}
                                %span{style: "font-size:14px"}
                                  Please note if you do not accept the invite your email address will be removed.
    %div{style: "background:#1F2532;background-color:#1F2532;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#1F2532;background-color:#1F2532;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:10px 0px 10px 0px;padding-bottom:10px;padding-top:10px;text-align:center;vertical-align:top;"}
              %div{style: "width:100% !important; max-width: 100%;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:10px 25px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word;"}

                        / facebook
                        %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "float:none;display:inline-table;"}
                          %tbody
                            %tr
                              %td{style: "padding:4px;"}
                                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#3b5998;border-radius:3px;width:20;"}
                                  %tbody
                                    %tr
                                      %td{style: "font-size:0;height:20;vertical-align:middle;width:20;"}
                                        %a{href: "https://www.facebook.com/renewaldiary", target: "_blank"}
                                          = image_tag("#{asset_host}/images/facebook.png", height: "20", style: "border-radius:3px;", width: "20")
                              %td{style: "vertical-align:middle;"}
                                %a{href: "https://www.facebook.com/renewaldiary", style: "color:#ffffff;font-size:14px;font-family:Arial, sans-serif;line-height:22px;text-decoration:none;", target: "_blank"}
                                  Like

                        / twitter
                        %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "float:none;display:inline-table;"}
                          %tbody
                            %tr
                              %td{style: "padding:4px;"}
                                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#55acee;border-radius:3px;width:20;"}
                                  %tbody
                                    %tr
                                      %td{style: "font-size:0;height:20;vertical-align:middle;width:20;"}
                                        %a{href: "https://twitter.com/RenewalDiary", target: "_blank"}
                                          = image_tag("#{asset_host}/images/twitter.png", height: "20", style: "border-radius:3px;", width: "20")
                              %td{style: "vertical-align:middle;"}
                                %a{href: "https://twitter.com/RenewalDiary", style: "color:#ffffff;font-size:14px;font-family:Arial, sans-serif;line-height:22px;text-decoration:none;", target: "_blank"}
                                  Follow
    %div{style: "background:#fafafa;background-color:#fafafa;Margin:0px auto;max-width:600px;"}
      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "background:#fafafa;background-color:#fafafa;width:100%;"}
        %tbody
          %tr
            %td{style: "direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top;"}
              %div{style: "width:100% !important; max-width: 100%;font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"}
                %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "vertical-align:top;", width: "100%"}
                  %tbody
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                        %div{style: "font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:center;color:#959ba3;"}

                          %p{style: "display:block;margin: 10px 0;"}
                            This e-mail has been sent to
                    %tr
                      %td{align: "center", style: "font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word;"}
                        %div{style: "font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:center;color:#959ba3;"}

                          %p{style: "display:block;margin: 10px 0;"}
                            Suite 1307 26 Pembroke Street Upper D02 X361 Dublin 2 IE
