<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <title>Renewal Diary Notification</title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        #outlook a { padding: 0; }
        .ReadMsgBody { width: 100%; }
        body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
        img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
        p { display: block; margin: 13px 0; }
    </style>
    <!--[if !mso]><!-->
    <style type="text/css">
        @media only screen and (max-width:480px) {
            @-ms-viewport { width:320px; }
            @viewport { width:320px; }
        }
    </style>
    <!--<![endif]-->
    <!--[if mso]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if lte mso 11]>
    <style type="text/css">
        .outlook-group-fix {
            width:100% !important;
        }
    </style>
    <![endif]-->

    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=arial" rel="stylesheet" type="text/css">
    <style type="text/css">

        @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
        @import url(https://fonts.googleapis.com/css?family=sans);
        @import url(https://fonts.googleapis.com/css?family=arial);

    </style>
    <!--<![endif]--><style type="text/css">
    @media only screen and (min-width:480px) {
        .mj-column-per-33 { width:33.33333333333333%!important; }
        .mj-column-per-100 { width:100%!important; }
        .mj-column-per-50 { width:50%!important; }
    }
</style>
</head>
<body style="background: #f7f7f7;">

<div class="mj-container" style="background-color:#f7f7f7;"><!--[if mso | IE]>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
    <tr>
        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
<![endif]--><div style="margin:0px auto;max-width:600px;"><table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;"><!--[if mso | IE]>
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align:top;width:396px;">
<![endif]--><div class=" outlook-group-fix" style="width:66.66666666666666%!important;vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-wrap:break-word;font-size:0px;padding:0px 0px 0px 25px;padding-top:0px;padding-bottom:0px;" align="left"><div style="cursor:auto;color:#959ba3;font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;"><style></style><p style="margin: 10px 0;">Welcome to Renewal Diary. </p></div></td></tr></tbody></table></div><!--[if mso | IE]>
</td><td style="vertical-align:top;width:198px;">
<![endif]--><div class="mj-column-per-33 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-wrap:break-word;font-size:0px;padding:0px 25px 0px 0px;padding-top:0px;padding-bottom:0px;" align="right"><div style="cursor:auto;color:#959ba3;font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:right;"><style></style><p style="margin: 10px 0;"><a href="[[PERMALINK]]" style="color:inherit;text-decoration:none;" target="_blank">View online version</a></p></div></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]--></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]-->
    <!--[if mso | IE]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]--><div style="margin:0px auto;max-width:600px;"><table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:0px;padding-top:0px;"><!--[if mso | IE]>
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align:top;width:600px;">
<![endif]--><div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-wrap:break-word;font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;" align="center"><table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="center" border="0"><tbody><tr><td style="width:600px;"><img alt="Last chance" title="" height="auto" src="http://xx0o8.mjt.lu/tplimg/xx0o8/b/knyg/s993.png" style="border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;" width="600"></td></tr></tbody></table></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]--></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]-->
    <!--[if mso | IE]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]--><div style="margin:0px auto;max-width:600px;background:#ffffff;"><table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#ffffff;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-top:40px;"><!--[if mso | IE]>
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align:top;width:300px;">
<![endif]--><div class="mj-column-per-50 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-wrap:break-word;font-size:0px;padding:10px 25px;" align="center"><table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="center" border="0"><tbody><tr><td style="width:250px;"><img alt="Renewal Diary" title="" height="auto" src="http://xx0o8.mjt.lu/tplimg/xx0o8/b/knyt/s9y9.png" style="border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;" width="250"></td></tr></tbody></table></td></tr></tbody></table></div><!--[if mso | IE]>
</td><td style="vertical-align:top;width:300px;">
<![endif]--><div class="mj-column-per-50 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;padding-top:0px;padding-bottom:0px;padding-right:25px;padding-left:25px;" align="center"><div style="cursor:auto;color:#959ba3;font-family:Arial, sans-serif;font-size:13px;line-height:20px;text-align:center;"><style></style><ul><li style="margin: 10px 0px;"> </li></ul></div></td></tr><tr><td style="word-wrap:break-word;font-size:0px;padding:15px 30px;padding-top:0px;padding-bottom:10px;padding-right:25px;padding-left:25px;" align="center"><table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0"><tbody><tr><td style="border:none;border-radius:30px;color:#959ba3;cursor:auto;padding:15px 30px;" align="center" valign="top" bgcolor="#ff0104"><a href="<%= confirmation_url(@user, confirmation_token: @token) %>" style="text-decoration:none;background:#ff0104;color:#959ba3;font-family:Arial, sans-serif;font-size:13px;font-weight:normal;line-height:120%;text-transform:none;margin:0px;" target="_blank"><b><span style="font-size:15px"><span style="color:#ffffff"><span style="font-family:arial,sans,sans-serif">   Confirm   </span></span></span></b></a></td></tr></tbody></table></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]--></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]-->
    <!--[if mso | IE]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]--><div style="margin:0px auto;max-width:600px;"><table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;"><!--[if mso | IE]>
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align:top;width:600px;">
<![endif]--><div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-wrap:break-word;font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;" align="left"><div style="cursor:auto;color:#959ba3;font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;"><style></style><p style="margin: 10px 0;"><span style="font-family:Roboto,Helvetica,Arial,sans-serif"><span style="font-size:20px">You'll get:</span> </span></p><ul><li><span style="font-family:Roboto,Helvetica,Arial,sans-serif"><span style="font-size:20px">One place for all your renewal stuff </span></span></li><li><span style="font-family:Roboto,Helvetica,Arial,sans-serif"><span style="font-size:20px">Reminders to help you make your mind up </span></span></li><li><span style="font-family:Roboto,Helvetica,Arial,sans-serif"><span style="font-size:20px">Leaderboards that show what you want</span></span></li><li><span style="font-family:Roboto,Helvetica,Arial,sans-serif"><span style="font-size:20px">Business that believe in people power </span></span></li><li><span style="font-family:Roboto,Helvetica,Arial,sans-serif"><span style="font-size:20px">Real people sharing tips and traps</span></span></li></ul></div></td></tr><tr><td style="word-wrap:break-word;font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;" align="left"><div style="cursor:auto;color:#959ba3;font-family:Arial, sans-serif;font-size:13px;line-height:24px;text-align:left;"><style></style><p style="text-align: center; margin: 10px 0;">If you have any questions just hit reply to this email.</p><p style="text-align: center; margin: 10px 0;">Please note if you do not confirm your account your data will be deleted.</p></div></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]--></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]-->
    <!--[if mso | IE]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]--><div style="margin:0px auto;max-width:600px;background:#ffffff url(http://xx0o8.mjt.lu/tplimg/xx0o8/b/k0mp/03qv.jpeg) top center / auto no-repeat;"><!--[if mso | IE]>
<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;">
    <v:fill origin="0.5, 0" position="0.5,0" type="tile" src="http://xx0o8.mjt.lu/tplimg/xx0o8/b/k0mp/03qv.jpeg" />
    <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
<![endif]--><table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#ffffff url(http://xx0o8.mjt.lu/tplimg/xx0o8/b/k0mp/03qv.jpeg) top center / auto no-repeat;" align="center" border="0" background="http://xx0o8.mjt.lu/tplimg/xx0o8/b/k0mp/03qv.jpeg"><tbody><tr><td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;"><!--[if mso | IE]>
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align:top;width:600px;">
<![endif]--><div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-wrap:break-word;font-size:0px;padding:10px 25px;padding-top:10px;padding-bottom:10px;" align="center"><div style="cursor:auto;color:#959ba3;font-family:Arial, sans-serif;font-size:13px;line-height:22px;text-align:center;"><style></style><p style="margin: 10px 0;"><font color="#ffffff"><span style="font-size:20px"><b>Smarter together</b></span></font></p><p style="margin: 10px 0;"> </p></div></td></tr><tr><td style="word-wrap:break-word;font-size:0px;padding:10px 25px;padding-top:19px;padding-bottom:12px;" align="center"><div><!--[if mso | IE]>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" align="undefined"><tr><td>
<![endif]--><table role="presentation" cellpadding="0" cellspacing="0" style="float:none;display:inline-table;" align="center" border="0"><tbody><tr><td style="padding:4px;vertical-align:middle;"><table role="presentation" cellpadding="0" cellspacing="0" style="background:#3b5998;border-radius:3px;width:20px;" border="0"><tbody><tr><td style="font-size:0px;vertical-align:middle;width:20px;height:20px;"><a href="https://www.facebook.com/renewaldiary"><img alt="facebook" height="20" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png" style="display:block;border-radius:3px;" width="20"></a></td></tr></tbody></table></td><td style="padding:4px 4px 4px 0;vertical-align:middle;"><a href="https://www.facebook.com/renewaldiary" style="text-decoration:none;text-align:left;display:block;color:#959ba3;font-family:Arial, sans-serif;font-size:13px;line-height:22px;border-radius:3px;">Like</a></td></tr></tbody></table><!--[if mso | IE]>
</td><td>
<![endif]--><table role="presentation" cellpadding="0" cellspacing="0" style="float:none;display:inline-table;" align="center" border="0"><tbody><tr><td style="padding:4px;vertical-align:middle;"><table role="presentation" cellpadding="0" cellspacing="0" style="background:#55acee;border-radius:3px;width:20px;" border="0"><tbody><tr><td style="font-size:0px;vertical-align:middle;width:20px;height:20px;"><a href="https://twitter.com/RenewalDiary"><img alt="twitter" height="20" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png" style="display:block;border-radius:3px;" width="20"></a></td></tr></tbody></table></td><td style="padding:4px 4px 4px 0;vertical-align:middle;"><a href="https://twitter.com/RenewalDiary" style="text-decoration:none;text-align:left;display:block;color:#959ba3;font-family:Arial, sans-serif;font-size:13px;line-height:22px;border-radius:3px;">Follow</a></td></tr></tbody></table><!--[if mso | IE]>
</td></tr></table>
<![endif]--></div></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]--></td></tr></tbody></table><!--[if mso | IE]>
<p style="margin:0;mso-hide:all"><o:p xmlns:o="urn:schemas-microsoft-com:office:office"> </o:p></p>
</v:textbox>
</v:rect>
<![endif]--></div><!--[if mso | IE]>
</td></tr></table>
<![endif]-->
    <!--[if mso | IE]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]--><div style="margin:0px auto;max-width:600px;"><table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0"><tbody><tr><td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;"><!--[if mso | IE]>
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align:top;width:600px;">
<![endif]--><div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-wrap:break-word;font-size:0px;"><div style="font-size:1px;line-height:50px;white-space:nowrap;"> </div></td></tr><tr><td style="word-wrap:break-word;font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;" align="center"><div style="cursor:auto;color:#959ba3;font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:center;"><style></style><p style="margin: 10px 0;">This e-mail has been sent to <%= @user.email %>.</p></div></td></tr><tr><td style="word-wrap:break-word;font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;" align="center"><div style="cursor:auto;color:#959ba3;font-family:Arial, sans-serif;font-size:11px;line-height:22px;text-align:center;"><style></style><p style="margin: 10px 0;">Suite 1307 26 Pembroke Street Upper D02 X361 Dublin 2 IE</p></div></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]--></td></tr></tbody></table></div><!--[if mso | IE]>
</td></tr></table>
<![endif]--></div>
</body>
</html>
